.kw-stepper {
  .q-stepper {
    box-shadow: none;
    background: transparent;
    border-radius: inherit;

    &__header {
      justify-content: initial;
    }

    &__header--border {
      border-bottom: none;
    }

    &__tab {
      flex: 0 0 auto;
      padding: 0;
      min-height: initial;
      overflow: visible;

      & + .q-stepper__tab {
        margin-left: 32px;

        &::before {
          content: "";
          position: absolute;
          left: -24px;
          display: inline-block;
          vertical-align: middle;
          width: 16px;
          height: 1px;
          background-color: $line-line;

          // background: url(~@assets/images/arrow_stepper.svg) no-repeat center;
          // background-size: 16px auto;
          cursor: default;
          pointer-events: none;
        }
      }

      .q-focus-helper,
      .q-ripple {
        display: none;
      }
    }

    &__dot {
      min-width: 20px;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      border-radius: 100%;
      border: 1px solid #ccc;
      background-color: #fff;
      box-sizing: border-box;

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
        text-shadow: none;
        color: #777;
      }
    }

    &__title {
      font-weight: 400;
      line-height: 1.57;
      letter-spacing: normal;
      color: #777;
    }

    &__line::before,
    &__line::after {
      display: none;
    }

    &__tab--active {
      .q-stepper__dot {
        background: #2f3c78;
        border: none;

        span {
          color: #fff;
          font-weight: 500;
        }
      }

      .q-stepper__title {
        font-weight: 500;
        color: #2f3c78;
      }
    }

    &__tab--done {
      .q-stepper__dot {
        background: #eee;
        border: none;
      }
    }

    &__content {
      .q-stepper__step-inner {
        padding: 0;
      }
    }

    &__header--alternative-labels {
      padding: 30px 0 20px;
      border-bottom: 1px solid #ddd;

      // box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 6%);
      margin: 0 -40px;
      border-radius: 0;

      .q-stepper__tab {
        flex: 1 0 auto;
        padding: 0 20px;
        overflow: hidden;

        & + .q-stepper__tab {
          margin: 0;

          &::before {
            content: none;
          }
        }
      }

      .q-stepper__dot {
        min-width: 28px;
        width: 28px;
        height: 28px;
        margin-right: 0;
      }

      .q-stepper__dot::before,
      .q-stepper__dot::after {
        content: "";
        display: block;
        width: 100vw;
        height: 1px;
        background-image: initial;
        background-color: #eee;
      }

      .q-stepper__dot::before {
        margin-right: 1px;
      }

      .q-stepper__dot::after {
        margin-left: 1px;
      }

      .q-stepper__title {
        font-size: 16px;
        white-space: pre-line;
        word-break: keep-all;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: $black1;
    min-height: 30px;
  }

  &__subtitle {
    margin-left: 8px;

    @include typo("body");

    color: $black1;

    b {
      vertical-align: -2px;
    }
  }

  &--heading-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 12px;
    border-bottom: 2px solid;
  }

  &__panels {
    overflow: hidden;
    position: relative;
    background-color: transparent;

    .q-panel {
      overflow: inherit;
    }
  }
}

.kw-step-panel {
  &--disabled::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
    background-color: $line-stroke;
    opacity: 0.5;
  }
}

.mobile {
  .kw-stepper {
    &__title {
      font-size: 18px;
      color: $black1;
      font-weight: bold;
      line-height: 1.44;
    }
  }

  // mobile
  &:not(.tablet) {
    .kw-stepper {
      .q-stepper__header {
        .q-stepper__tab {
          & + .q-stepper__tab {
            margin-left: 16px;

            &::before {
              margin: 0 2px;
              left: -16px;
              width: 12px;
            }
          }

          &::after {
            //   margin: 0; 화살표 있으면
            display: none;
          }

          .q-stepper__dot {
            margin-right: 0; // 화살표 있으면 margin-right: 0px

            span {
              font-size: 13px;
              font-weight: 500;
            }
          }
        }
      }

      &__title {
        font-weight: 500;
        font-size: 18px;
        color: $black1;
      }

      &--heading-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: none;
      }

      .q-stepper__label {
        display: none;
      }
    }
  }
}
