.web-bookmark-mgt {
  .kw-popup__content {
    overflow: visible !important;
  }

  .kw-scroll-area {
    border: 1px solid $line-stroke;

    &__wrapper {
      max-height: calc(100vh - 195px - 210px - 101px);
    }
  }

  .kw-notification {
    margin-top: 13px;
  }

  &__tree-container {
    padding: 20px 26px;
    min-height: calc(100vh - 195px - 210px - 101px);
  }

  &__tree.kw-tree.q-tree {
    &:not(.kw-tree--empty) {
      margin-top: -20px;
    }

    .q-tree {
      &__node {
        margin-top: 20px;

        &::after {
          top: -23.5px;
        }
      }

      &__node-header {
        padding: 0 4px;
        margin-top: 0;

        &::before {
          top: -23.5px;
        }
      }

      &__node--child:has(.web-bookmark-mgt__tree-dummy) {
        display: none;
      }

      &__node-header-content {
        font-size: 14px;
        color: $black2;

        .q-icon {
          margin-right: 8px;
          font-size: inherit;
        }

        .q-space + .q-icon {
          margin-right: 0;
        }
      }

      &__node-body {
        padding-left: 26px;

        > div {
          font-size: 12px;
        }
      }
    }
  }
}

.web-dashboard-mgt {
  .kw-popup__content {
    padding-top: 54px !important;
    padding-bottom: 95px !important;
    max-height: calc(100vh - 40px) !important;
  }

  &__inner {
    position: relative;
    display: flex;
    height: 715px;
  }

  &__select {
    width: 282px;

    .dashboard-select {
      &__item-container {
        padding: 30px 30px 30px 0;
      }

      &__item {
        position: relative;

        & + .dashboard-select__item {
          margin-top: 20px;
        }
      }

      &__item--selected {
        .dashboard-select__item-content {
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background: rgb(47 138 243 / 60%) no-repeat center center;
            background-image: url(~@assets/icons/check_24.svg);
            background-size: 30px;
          }
        }
      }

      &__item-content {
        position: relative;
        width: 100%;
        height: 114px;
        background: rgba($placeholder, 20%);

        > span {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 12px;
        }
      }

      &__item-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        > span {
          font-size: 14px;
          color: $black1;
        }

        > .kw-btn {
          padding: 4px 8px;
          min-height: 24px;
          max-height: 24px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }

  &__drag {
    position: relative;
    flex: 1;
    background: $line-bg;

    .dashboard-drag {
      &__item-container {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 302px;
        grid-template-columns: repeat(4, 302px);
        gap: 20px;
        padding: 30px 0 60px;
        margin: 0 auto;
        width: max-content;
        min-height: 715px;
      }

      &__item {
        position: relative;
        padding: 36px 0 0;
        border: 1px solid $line-stroke;
        background: $bg-white;

        &.sortable-ghost {
          border: 1px dashed $placeholder;
          background: rgba($placeholder, 20%);
        }

        > .kw-icon {
          position: absolute;
          top: 17px;
          right: 17px;
          font-size: 16px;
        }

        &--move,
        &--enter-active,
        &--leave-active {
          transition: all 0.3s;
        }

        &--enter-from,
        &--leave-to {
          opacity: 0;
          transform: scale(0);
        }

        &--leave-active {
          position: absolute;
        }
      }

      &__guide {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        color: $placeholder;

        &::after {
          content: "";
          width: 100%;
          border-top: 1.5px dashed $placeholder;
        }
      }
    }
  }
}
