.kw-option-group {
  .q-option-group {
    margin-right: 0;
    margin-left: 0;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & > div {
      margin-left: 0;

      & + div {
        margin-left: 20px;
      }
    }
  }

  &--checkbox {
    .kw-option-group__control {
      .q-checkbox {
        @extend %kw-checkbox;
      }
    }
  }

  &--radio {
    .kw-option-group__control {
      .q-radio {
        @extend %kw-radio;
      }
    }
  }

  &--toggle {
    .kw-option-group__control {
      .q-toggle {
        @extend %kw-toggle;
      }
    }
  }

  &.kw-option-group--multi-line {
    .q-option-group.kw-option-group__control {
      flex-wrap: wrap;
      row-gap: 6px;
      column-gap: 10px;

      & > div {
        padding-left: 0;

        & + div {
          margin-left: 0;
        }
      }
    }
  }
}
