/* stylelint-disable declaration-block-single-line-max-declarations */
/* stylelint-disable function-url-quotes */
/* stylelint-disable scss/double-slash-comment-whitespace-inside */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable selector-class-pattern */
.q-option-group {
  display: flex;
  flex-wrap: wrap;

  &.q-gutter-x-sm {
    margin-left: 0;

    & > div {
      margin-left: 0;
    }
  }
}

.q-checkbox.row.inline.no-wrap {
  display: flex;
}
