.kw-option-group {
  .kw-option-group__control {
    margin-right: 0;
    margin-left: 0;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & > div {
      margin-left: 0;

      & + div {
        margin-left: 20px;
      }
    }
  }

  &--checkbox {
    .kw-option-group__control {
      .q-checkbox {
        @extend %kw-checkbox;
      }
    }
  }

  &--radio {
    .kw-option-group__control {
      .q-radio {
        @extend %kw-radio;
      }
    }
  }

  &--toggle {
    .kw-option-group__control {
      .q-toggle {
        @extend %kw-toggle;
      }
    }
  }

  &--multi-line {
    .kw-option-group__control {
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 20px;

      & > div {
        padding-left: 0;

        & + div {
          margin-left: 0;
        }
      }
    }
  }

  &--vertical {
    .kw-option-group__control {
      flex-flow: column nowrap;
      align-items: flex-start;

      & > div {
        padding-left: 0;

        & + div {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }
  }
}
