.kw-pagination.q-pagination {
  padding-top: 16px;

  .q-pagination {
    &__content > .q-btn {
      width: 24px;
      height: 24px;

      .q-icon {
        font-size: 16px;
      }

      &.disabled {
        opacity: 0.3 !important;
      }
    }

    &__middle > .q-btn {
      padding: 0 8px !important;
      min-width: 26px !important;
      height: 24px;
      font-size: 14px;
      line-height: 1.43;

      &::before {
        box-shadow: none !important;
      }

      // 현재 페이지
      &[aria-current="true"] {
        font-weight: bold;
      }
    }
  }
}
