.kw-pagination.q-pagination {
  padding-top: 16px;

  .q-pagination {
    &__content > .q-btn {
      width: 24px;
      height: 24px;

      .q-icon {
        font-size: 16px;
      }

      &.disabled {
        opacity: 1 !important;

        .q-btn__content {
          .q-icon {
            color: $placeholder;
          }
        }
      }
    }

    &__middle > .q-btn {
      padding: 0 8px !important;
      min-width: 26px !important;
      height: 24px;
      font-size: 14px;
      line-height: 1.43;

      &::before {
        box-shadow: none !important;
      }

      // 현재 페이지
      &[aria-current="true"] {
        font-weight: bold;
      }

      &.disabled {
        opacity: 1 !important;
      }
    }
  }

  &.disabled {
    opacity: 1 !important;

    .q-btn__content {
      span.block,
      .q-icon {
        color: $placeholder;
      }
    }

    .q-pagination__middle .q-focus-helper::before {
      background: $bg-box !important;
      opacity: 1 !important;
      transition: none !important;
    }

    .q-pagination__middle .q-focus-helper::after {
      display: none;
    }
  }
}
