.kw-pagination.q-pagination {
  padding-top: 16px;

  .q-pagination {
    &__content {
      margin-top: -4px; // override --q-pagination-gutter-parent
      margin-left: -4px; // override --q-pagination-gutter-parent
      .q-btn {
        .q-focus-helper {
          display: none;
        }

        &:not(.disabled):hover {
          background-color: $bg-box;
        }
      }

      > .q-btn {
        width: 24px;
        height: 24px;
        margin-top: 4px; // override --q-pagination-gutter-child
        margin-left: 4px; // override --q-pagination-gutter-child

        .q-icon {
          font-size: 16px;
        }

        &.disabled {
          opacity: 1 !important;

          .q-btn__content {
            .q-icon {
              color: rgba($black1, 0.3);
            }
          }
        }
      }
    }

    &__middle {
      margin-top: 2px;

      > .q-btn {
        padding: 0 8px !important;
        margin-top: 2px;
        margin-left: 2px;
        min-width: 26px !important;
        height: 24px;
        font-size: 14px;
        line-height: 1.43;

        &::before {
          box-shadow: none !important;
        }

        // 현재 페이지
        &[aria-current="true"] {
          font-weight: bold;
        }

        &.disabled {
          opacity: 1 !important;
        }
      }
    }
  }

  &.disabled {
    opacity: 1 !important;

    .q-btn__content {
      span.block,
      .q-icon {
        color: $placeholder;
      }
    }

    .q-pagination__middle > .q-btn {
      background: $bg-box;
    }
  }
}
