.kw-time-picker {
  border-right: 0;

  &.q-position-engine {
    margin-top: var(--q-pe-top, -1px) !important;
  }

  .q-field__append .q-icon {
    padding-left: 16px;
    margin-right: 12px;
    width: 0;
    color: transparent;
    background: url(~@assets/images/ic_clock_16.svg) no-repeat center;
    background-size: 16px auto;
  }

  &.q-field--focused {
    .q-field__control {
      border-color: $black1;
    }
  }

  &.q-field--error {
    .q-field__control {
      border-color: $error;

      &:hover {
        border-color: $error !important;
      }
    }

    &[aria-readonly="true"],
    &[aria-disabled="true"] {
      .q-field__control {
        border-color: $line-stroke;
      }
    }
  }

  &.q-field--readonly,
  &.q-field--disabled {
    .q-field__control {
      background-color: $line-bg;
    }

    .q-field__native {
      color: $black3;

      &::placeholder {
        font-size: 0;
      }
    }
  }

  .q-field__inner {
    max-width: 180px; // todo - 화면 사이즈따라, 그리드 따라 어떻게 변경해야할지 확인 필요
  }

  .q-field__control {
    border: 1px solid $line-stroke;
    height: 40px;

    &:hover:not(:disabled) {
      border-color: $black1;
    }
  }

  .q-field__native {
    padding: 0 12px;
    font-size: 16px;
    color: $black1;
    font-weight: 500;
  }

  .q-field__append {
    padding-left: 0;
  }

  .q-field__marginal {
    height: auto;
  }

  &__view {
    // width: 178px;
    box-sizing: border-box;
  }

  &__list {
    width: 50%;
    height: 200px;
    overflow: auto;
    box-sizing: border-box;
    border-right: 1px solid $black1;
  }

  .q-item__section.column.q-item__section--main.justify-center {
    font-size: 14px;
    color: $black2;
  }

  // scrollbar

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    border-left: 2px solid $line-bg;
    border-right: 2px solid $line-bg;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $line-bg;
    width: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    width: 4px;
    background: #999;
    background-clip: padding-box;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

body.desktop .kw-time-picker {
  .q-hoverable:hover > .q-focus-helper,
  .q-manual-focusable--focused > .q-focus-helper {
    background: #000;
    opacity: 0.07;
  }

  .q-manual-focusable--selected .q-item__section.column.q-item__section--main.justify-center {
    color: $black1;
    font-weight: 500;
  }
}

.kw-multi-time-picker {
  &.q-field--error {
    .q-field__control {
      border-color: $error;

      &:hover {
        border-color: $error !important;
      }
    }

    &[aria-readonly="true"],
    &[aria-disabled="true"] {
      .q-field__control {
        border-color: $line-stroke;
      }
    }
  }

  .q-field__control-container {
    font-size: 16px;
    color: $black1;

    // line-height: 18px;
    font-weight: 500;
    align-items: center;
  }

  .kw-time-picker:nth-of-type(1) {
    padding-right: 4px;
  }

  .kw-time-picker:nth-of-type(2) {
    padding-left: 4px;
  }

  .q-field__inner {
    max-width: none;
  }
}
