.kw-time-picker {
  &.kw-field {
    & .q-field {
      &__control {
        cursor: text;
      }

      &__append {
        // don't fix
        // this has side effects to picker events
        padding-left: 0 !important;
        cursor: text !important;

        > div {
          display: flex;
          align-items: center;
          height: 100%;

          // replaced that q-field__append padding-left
          padding-left: 20px;
        }
      }

      &__marginal .q-icon {
        opacity: 1 !important;
        cursor: pointer;
      }

      &__prefix {
        margin-right: 8px;
        color: $black1;
      }
    }

    &.q-field {
      &--dense {
        .q-field__append > div {
          padding-left: 6px;
        }
      }

      &--readonly,
      &--disabled {
        .q-field__marginal .q-icon {
          opacity: 0.6 !important;
          cursor: default;
        }
      }
    }
  }

  &__menu.q-menu {
    width: 215px;
    border: 1px solid $black1;
    border-radius: 0;
    box-shadow: none;

    .time-scroll-picker {
      display: flex;
      width: 100%;
      max-width: 195px;
      height: 96px;
      align-items: center;
      margin: 0 auto;

      .kw-scroll-picker {
        height: 100%;
      }
    }
  }

  &__menu.q-dialog {
    .time-scroll-picker {
      display: flex;
      width: 100%;
      height: 154px;
      align-items: center;
    }
  }
}

// 폼 내부 최내 너비 예외 처리.
.kw-form:not(.kw-search) .kw-form-item__field {
  .kw-time-picker {
    flex: 0 1 200px !important;

    &.grow {
      flex-grow: 1 !important;
    }

    &.shrink-off {
      flex-shrink: 0 !important;
    }
  }
}

.timepicker_colon {
  vertical-align: middle;
  color: $black3;
  font-size: 14px;
}

body.mobile:not(.tablet) {
  .time-scroll-picker {
    .kw-scroll-picker {
      &__options {
        .q-item {
          padding: 0;
          font-size: 20px;
          font-weight: 400;
          color: rgb(34 34 34 / 30%);
        }
      }

      &__highlight {
        &::before {
          background: rgba($primary, 5%);
        }

        .kw-scroll-picker__options {
          .q-item {
            color: $black1;
          }
        }
      }
    }
  }
}
