.kw-radio,
%kw-radio {
  $-kw-radio-icon-size: 22px; // maybe calc(#{$kw-field-line-height} - 2px)
  $-kw-radio-icon-size-dense: 18px;
  $-kw-radio-label-font-size: $kw-field-font-size;
  $-kw-radio-label-font-size-dense: $kw-field-font-size-dense;
  $-kw-radio-line-height: $kw-field-line-height;
  $-kw-radio-line-height-dense: $kw-field-line-height-dense;
  $-kw-radio-margin: (($kw-field-height - $kw-field-line-height) / 2);
  $-kw-radio-margin-dense: (($kw-field-height-dense - $kw-field-line-height-dense) / 2);

  & .q-radio {
    &__bg { /* does not appear when using icon */
      inset: 1px;
      width: $-kw-radio-icon-size;
      height: $-kw-radio-icon-size;
      border: none;
      border-radius: 0;
      background: url(~@assets/images/radio_off.svg) no-repeat center;
      background-size: $-kw-radio-icon-size;

      > path {
        display: none;
      }
    }

    &:hover {
      .q-radio__label {
        color: $black1;
      }
    }

    &__icon {
      font-size: 1em;
    }

    &__svg {
      display: none;
    }

    &__check { /* does not appear */ }

    &__inner {
      font-size: $-kw-radio-icon-size;
      width: $-kw-radio-line-height;
      min-width: $-kw-radio-line-height;
      height: $-kw-radio-line-height;

      &--truthy {
        use {
          /*
          If you want use custom icon, you should override this. or use fixed color in your icon svg.

          only appear when using svg-use way what we use.
          notify, there is <use> does not rendered in main dom,
          so, if you want styling them, only you can use inherit properties.
          like, currentColor, or inherit.
          ref) https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
         */
          // stroke: $primary; // border color
          // fill: $primary; // background color
          // color: $bg-white; // inner content color, like check path.
        }

        .q-radio__bg {
          background: url(~@assets/images/radio_on.svg) no-repeat center;
          background-size: $-kw-radio-icon-size;
        }
      }

      &--falsy {
        & ~ .q-radio__label {
          color: $black2;
          font-weight: 400;

          &:hover {
            // color: $black1;
            // 디자인 가이드에 없으므로 제거
          }
        }
      }
    }

    &__label {
      padding-left: 8px;
      font-size: $-kw-radio-label-font-size;
      line-height: $-kw-radio-line-height;
      font-weight: 500;
      word-break: keep-all;

      // color: $black1;
    }
  }

  &.q-radio {
    justify-content: center;

    &.reverse .q-radio__label {
      padding-left: 0;
      padding-right: 8px;
    }

    &.disabled {
      opacity: unset !important;

      .q-radio__label {
        color: $placeholder;
      }

      .q-radio__bg {
        background: url(~@assets/images/radio_disable.svg) no-repeat center;
        background-size: $-kw-radio-icon-size;
      }

      .q-radio__inner {
        font-size: $-kw-radio-icon-size;

        &--truthy .q-radio__bg {
          background: url(~@assets/images/radio_selected_disable.svg) no-repeat center;
          background-size: $-kw-radio-icon-size;
        }
      }
    }

    &--dense {
      .q-radio__inner {
        font-size: $-kw-radio-icon-size-dense;
        width: $-kw-radio-line-height-dense;
        min-width: $-kw-radio-line-height-dense;
        height: $-kw-radio-line-height-dense;

        &--truthy,
        &--falsy,
        &--indet {
          .q-radio__bg {
            background-size: $-kw-radio-icon-size-dense;
          }
        }
      }

      .q-radio__bg {
        inset: 1px;
        width: $-kw-radio-icon-size-dense;
        height: $-kw-radio-icon-size-dense;
        border: none;
        border-radius: 0;
        background-size: $-kw-radio-icon-size-dense;
      }

      .q-radio__label {
        font-size: $-kw-radio-label-font-size-dense;
        line-height: $-kw-radio-line-height-dense;
        padding-left: 4px;
      }

      &.reverse .q-radio__label {
        padding-left: 0;
        padding-right: 4px;
      }

      &.disabled .q-radio__inner .q-radio__bg {
        background-size: $-kw-radio-icon-size-dense;
      }
    }

    &.grow {
      flex-grow: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &.self-stretch {
      align-self: unset;
      margin-top: auto;
      margin-bottom: auto;
    }

    &.pad {
      align-self: unset;
      margin: $-kw-radio-margin;
    }

    &--dense.pad {
      margin: $-kw-radio-margin-dense;
    }
  }

  &.kw-radio--no-label {
    .q-radio__label {
      display: none;
    }
  }
}

body.desktop {
  .q-radio:not(.disabled) {
    .q-radio__inner::before {
      display: none;
    }

    &:focus,
    &:hover {
      .q-radio__inner::before {
        transform: none;
      }
    }
  }

  .q-radio--dense:not(.disabled) {
    &:focus,
    &:hover {
      .q-radio__inner::before {
        transform: none;
      }
    }
  }
}

.address-item {
  .q-radio__label {
    width: 100% !important; // 주소정보조회 팝업에서 width 100% 요청
  }
}
