.kw-input {
  $-kw-input-height: $kw-field-height;
  $-kw-input-height-dense: $kw-field-height-dense;
  $-kw-input-padding-input: $kw-field-padding-input;
  $-kw-textarea-padding: 9px 0 9px 0;
  $-kw-input-padding-input-dense: $kw-field-padding-input-dense;
  $-kw-input-line-height: $kw-field-line-height;
  $-kw-input-line-height-dense: $kw-field-line-height-dense;

  &.q-textarea {
    height: auto;

    .q-field__control {
      height: auto;
      min-height: 40px;
    }

    .q-field__control-container {
      padding-top: nth($-kw-textarea-padding, 1);
      padding-bottom: nth($-kw-textarea-padding, 3);
    }

    .q-field__shadow {
      top: 0;
      bottom: 0;
    }

    .q-field__native,
    .q-field__prefix,
    .q-field__suffix {
      line-height: $-kw-input-line-height; // default 18px
    }

    .q-field__native {
      padding-top: 0; // desktop does not use label
      min-height: $-kw-input-line-height;
    }

    &.q-field--labeled {
      .q-field__control-container {
        padding-top: nth($-kw-textarea-padding, 1);
        padding-bottom: nth($-kw-textarea-padding, 3);
      }
    }
  }

  /*
  &.q-field--labeled {
    .q-field__control-container {
      padding-top: nth($-kw-input-padding-input, 1);
      padding-bottom: nth($-kw-input-padding-input, 3);
    }

    .q-field__shadow {
      top: 0;
      bottom: 0;
    }

    .q-field__native {
      padding-top: 0; // desktop does not use label
      min-height: $-kw-input-line-height;
    }
  }
  */

  &.q-field {
    &--dense {
      .q-field__control {
        min-height: $-kw-input-height-dense;
      }

      .q-field__control-container {
        padding-top: nth($-kw-input-padding-input-dense, 1);
        padding-bottom: nth($-kw-input-padding-input-dense, 3);
      }

      .q-field__native,
      .q-field__prefix,
      .q-field__suffix {
        line-height: $-kw-input-line-height-dense;
      }

      .q-field__native {
        padding-top: 0;
        min-height: $-kw-input-line-height-dense;
      }

      /*
      &.q-field--labeled {
        .q-field__control-container {
          padding-top: nth($-kw-input-padding-input-dense, 1);
          padding-bottom: nth($-kw-input-padding-input-dense, 3);
        }

        .q-field__shadow {
          top: 0;
          bottom: 0;
        }

        .q-field__native {
          padding-top: 0; // desktop does not use label
          min-height: $-kw-input-line-height-dense;
        }
      }
       */
    }

    // make clearbutton only show focused state
    &:not(.q-field--focused) {
      .q-field__focusable-action {
        display: none;
      }
    }
  }

  .no-pointer-events.q-field__label {
    pointer-events: all !important;
  }
}
