.kw-file {
  $-kw-file-header-height: 36px;
  $-kw-file-border-size: 1px;
  $-kw-file-header-border: $-kw-file-border-size solid $line-stroke;
  $-kw-file-header-background-color: $bg-box;
  $-kw-file-dnd-hint-height: 30px; // FIXME: 임의값

  &.kw-field {
    $-kw-field-gap: 8px;

    &.q-field {
      > .q-field__after {
        padding-left: 0;

        .kw-file__after-slot-container {
          padding-left: $-kw-field-gap;
        }
      }

      &--dense {
        .kw-file-item {
          min-height: $kw-field-height-dense;
        }
      }
    }
  }

  &.q-file--dnd {
    .q-file__dnd {
      z-index: 10000;
    }
  }

  &__selected {
    flex: auto;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  &__placeholder {
    position: absolute;
    inset: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $placeholder;

    > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__dnd-hint {
    display: none;
  }

  &--show-dnd-hint {
    &.kw-field .q-field__control-container:has(> .kw-file__dnd-hint) {
      padding-bottom: $-kw-file-dnd-hint-height;
    }

    .kw-file__dnd-hint {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      height: $-kw-file-dnd-hint-height;
      max-height: $-kw-file-dnd-hint-height;
      justify-content: center;
      align-items: center;
      color: $placeholder;
    }
  }

  &__header {
    height: $-kw-file-header-height;

    & .kw-file-item {
      &__main {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        + .kw-file-item__aside {
          display: none;
        }
      }
    }
  }

  &__header-total,
  &__header-total-count,
  &__header-counter {
    @include typo("dense", 400);

    line-height: 1.5rem;
    color: $black3;

    > b {
      color: $black1; // 위에서 이상한 스타일이 내려와요.
    }
  }

  &__header-counter {
    &::before {
      display: inline-block;
      content: " ";
      width: 4px;
    }
  }

  &__multiple-action {
    display: inline-flex;
    margin-left: 16px;
    gap: 8px;

    > .kw-btn {
      @include kw-btn-height-modifier-by-font-type(24px, "caption", 8px);
    }
  }

  &--blocked {
    .q-field__native,
    .q-field__input {
      cursor: default !important;

      &::-webkit-file-upload-button {
        cursor: default !important;
      }
    }
  }

  &--empty {
    // sorry for long selector, but there is no way to set class for the target.
    > .q-field__inner > .q-field__control > .q-field__control-container > .q-field__native {
      z-index: 1;
      opacity: 0;
    }
  }

  &--horizontal-scroll {
    &.kw-field {
      &.q-field {
        position: relative;

        &--outlined {
          .kw-file__file-container {
            margin-bottom: 1px;
          }
        }
      }
    }

    .kw-file-item {
      &__main {
        flex: none;
        min-width: max-content;
      }

      &__append {
        min-width: max-content;
      }

      &__aside {
        min-width: max-content;
      }
    }
  }

  &--use-header {
    $-kw-file-file-container-padding-use-header: rem-to-px($spacing-xs);
    $-kw-file-item-height-use-header: 20px;
    $-kw-file-item-gap: 8px;
    $-kw-file-item-rows: 5;
    $-kw-file-item-container-min-height: $-kw-file-item-height-use-header + (2 * $-kw-file-file-container-padding-use-header);
    $-kw-file-item-container-max-height: $-kw-file-item-rows * $-kw-file-item-height-use-header + (2 * $-kw-file-file-container-padding-use-header);

    .q-file__filler {
      height: $-kw-file-item-container-min-height;
    }

    .kw-file__placeholder {
      justify-content: center;
    }

    .kw-file__file-container {
      width: unset;
      min-height: $-kw-file-item-container-min-height;
    }

    .kw-file__header-container {
      width: unset;
      height: $-kw-file-header-height;
      position: absolute;
      top: 0;
      background-color: $-kw-file-header-background-color;

      // left: TBD;
      // right: TBD;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-bottom: $-kw-file-header-border;
      }
    }

    .kw-file-item {
      min-height: $-kw-file-item-height-use-header;

      &__icon {
        display: inline-flex;
      }

      &__main {
        font-weight: 400;
        line-height: 1em;
      }

      &--selected {
        .kw-file-item__name {
          font-weight: 500;
        }
      }

      + .kw-file-item {
        margin-top: $-kw-file-item-gap;
      }
    }

    &.kw-field {
      &.q-field {
        position: relative;

        .q-field__label {
          top: -1 * ($kw-field-label-height + $-kw-file-header-height);
        }

        > .q-field__inner > .q-field__control {
          padding-top: $-kw-file-header-height;
        }

        > .q-field__inner > .q-field__control > .q-field__control-container {
          position: relative;
        }

        &--outlined {
          .kw-file__header-container {
            margin: $-kw-file-border-size $-kw-file-border-size 0;
          }

          .kw-file__file-container {
            margin: 0 $-kw-file-border-size $-kw-file-border-size;
          }

          > .q-field__inner > .q-field__control {
            padding-left: 0;
            padding-right: 0;
          }
        }

        &--borderless {
          .kw-file__placeholder {
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border: $-kw-file-header-border;
            }
          }

          .kw-file__file-container {
            margin-bottom: 1px;

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border: $-kw-file-header-border;
            }
          }

          .kw-file__header-container {
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border-top: $-kw-file-header-border;
              border-left: $-kw-file-header-border;
              border-right: $-kw-file-header-border;
              border-bottom: none;
            }
          }
        }

        &--standard {
          .kw-file__header-container {
            padding-left: 4px; // $-kw-field-standard-padding
            padding-right: 4px; // $-kw-field-standard-padding
            background-color: transparent;

            &::before {
              display: none; // 이재평 프로님 의견 반영 ^^
            }
          }
        }

        &--labeled {
          .kw-file__header-container {
            margin-top: $kw-field-label-height + $-kw-file-border-size;
          }

          &.q-field--dense {
            .kw-file__header-container {
              margin-top: $kw-field-label-height-dense;
            }
          }
        }
      }
    }

    &.kw-file--empty {
      > .q-field__inner > .q-field__control > .q-field__control-container > .q-field__native {
        min-height: 44px;
      }
    }
  }

  &--download-only {
    &.kw-field.q-field {
      &--dense {
        .kw-file__file-container {
          .q-scrollarea__content {
            padding: 8px 0;
          }
        }

        .kw-file-item {
          padding-left: 0;
          padding-right: 0;
          min-height: 28px;

          &--downloadable {
            .kw-file-item__name {
              text-decoration: underline;
              color: $black1;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

.kw-file-item {
  display: flex;
  align-items: center;
  padding: 0 12px;
  min-width: 100%;
  min-height: $kw-field-height;

  &__checkbox {
    padding-right: 8px;
  }

  &__icon {
    display: none;
    padding-right: 4px;

    // font-size: 18px;
  }

  &__main { // you should notice this one's width set by props.
    // width: TBD when use scroll horizontal;
    min-width: 100px;
    flex: 1 1 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-items: center;
  }

  &__name {
    @include typo("dense",400);
  }

  &__append {
    // width: TBD when use scroll horizontal;
    overflow: hidden;
    flex: none;
    display: flex;
    align-items: center;
    margin-left: auto;

    ~ .kw-file-item__aside {
      margin-left: 8px;
    }
  }

  &__error-text {
    @include typo("caption");

    color: $error;
  }

  &__retry-btn {
    &.kw-btn {
      @include kw-btn-height-modifier-by-font-type(20px, "caption", 8px);

      .q-icon {
        color: $black-btn-line !important;
      }
    }
  }

  &__size {
    @include typo("dense", 400);

    color: $black2;
  }

  &__aside { // you should notice this one's width set by props.
    // width: TBD when use scroll horizontal;
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-left: auto;
  }

  &--downloadable {
    .kw-file-item__name {
      text-decoration: underline;
      cursor: pointer !important;
      color: $primary;
    }
  }

  &--remove {
    opacity: 0.6; // fixme temp
  }
}
