.kw-file {
  $-kw-file-header-height: 36px;
  $-kw-file-border-size: 1px;
  $-kw-file-header-border: $-kw-file-border-size solid $line-stroke;
  $-kw-file-header-background-color: #f8f8f8;
  $-kw-file-dnd-hint-height: 30px; // FIXME: 임의값

  &.kw-field {
    $-kw-field-gap: 8px;

    &.q-field {
      > .q-field__after {
        padding-left: 0;

        .kw-file__after-slot-container {
          display: flex;
          padding-left: $-kw-field-gap;
        }
      }

      &--dense {
        .kw-file-item {
          min-height: $kw-field-height-dense;
        }
      }
    }
  }

  &.q-file--dnd {
    .q-file__dnd {
      z-index: 10000;
    }
  }

  &__selected {
    flex: auto;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  &__placeholder {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $placeholder;

    > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__dnd-hint {
    display: none;
  }

  &--show-dnd-hint {
    &.kw-field .q-field__control-container:has(> .kw-file__dnd-hint) {
      padding-bottom: $-kw-file-dnd-hint-height;
    }

    .kw-file__dnd-hint {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      height: $-kw-file-dnd-hint-height;
      max-height: $-kw-file-dnd-hint-height;
      justify-content: center;
      align-items: center;
      color: $placeholder;
    }
  }

  &__header {
    height: $-kw-file-header-height;

    & .kw-file-item {
      &__main {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
    }
  }

  &__header-total,
  &__header-total-count,
  &__header-counter,
  &__header-selected {
    @include typo("dense", 400);

    line-height: 1.5rem;
    color: $black3;

    > b {
      color: $black1;
      font-weight: 700;
    }
  }

  &__header-selected {
    margin-left: 4px;
  }

  &__multiple-action {
    display: inline-flex;
    margin-left: 8px;
    gap: 4px;

    > .kw-btn {
      @include kw-btn-height-modifier-by-font-type(24px, "caption", 8px, null, true);
    }
  }

  &__header-size {
    margin-left: auto;
  }

  &__header-counter {
    &::before {
      display: inline-block;
      content: " ";
      width: 4px;
    }
  }

  &--blocked {
    .q-field__native,
    .q-field__input {
      cursor: default !important;

      &::-webkit-file-upload-button {
        cursor: default !important;
      }
    }
  }

  &--empty {
    // sorry for long selector, but there is no way to set class for the target.
    > .q-field__inner > .q-field__control > .q-field__control-container > .q-field__native {
      z-index: 1;
      opacity: 0;
    }
  }

  &--horizontal-scroll {
    &.kw-field {
      &.q-field {
        position: relative;

        &--outlined {
          .kw-file__file-container {
            margin-bottom: 1px;
          }
        }
      }
    }

    .kw-file-item {
      &__main {
        flex: none;
        min-width: max-content;
      }

      &__append {
        min-width: max-content;
      }

      &__aside {
        min-width: max-content;
      }
    }
  }

  &--use-header {
    $-kw-file-file-container-padding-use-header: rem-to-px($spacing-xs);
    $-kw-file-item-height-use-header: 28px;

    // $-kw-file-item-gap: 4px;
    $-kw-file-item-rows: 5;
    $-kw-file-item-container-min-height: $-kw-file-item-height-use-header + (2 * $-kw-file-file-container-padding-use-header);
    $-kw-file-item-container-max-height: $-kw-file-item-rows * $-kw-file-item-height-use-header + (2 * $-kw-file-file-container-padding-use-header);

    .q-file__filler {
      height: $-kw-file-item-container-min-height;
    }

    .kw-file__placeholder {
      justify-content: center;
      top: $-kw-file-header-height;
    }

    .kw-file__file-container {
      min-height: $-kw-file-item-container-min-height;
    }

    .kw-file__prepend-native {
      order: -1;
      border-bottom: $-kw-file-header-border;
    }

    .kw-file__header-container {
      height: $-kw-file-header-height;
      background-color: $-kw-file-header-background-color;
    }

    // aside 영역 추후에 필요시 마진 조정 필요
    .kw-file__header {
      .kw-file-item__aside {
        margin-left: 0;
      }
    }

    .kw-file-item {
      min-height: $-kw-file-item-height-use-header;
      padding: 0 16px;
      column-gap: 0;

      &__icon {
        display: inline-flex;
      }

      &__main {
        font-weight: 400;
        line-height: 1em;

        // max-width: calc(100% - 88px);
      }

      &--selected {
        background-color: $bg-box;

        .kw-file-item__name {
          font-weight: 500;
          color: $black1;
        }
      }

      &__name {
        @include typo("dense",400);

        color: $black2;

        & ~ span:is(.kw-file-item__size) {
          margin-left: 4px;
          color: $black2;
        }
      }

      &__aside {
        margin-left: 20px;
      }

      // + .kw-file-item {
      //   margin-top: $-kw-file-item-gap;
      // }
    }

    &.kw-field {
      &.q-field {
        &--auto-height {
          .q-field__control {
            height: auto;
            min-height: $-kw-file-header-height;
          }
        }

        > .q-field__inner > .q-field__control > .q-field__control-container {
          flex-direction: column;

          > .q-field__native {
            position: relative;
          }
        }

        &--outlined {
          > .q-field__inner > .q-field__control > .q-field__control-container {
            padding: 1px;
          }

          > .q-field__inner > .q-field__control {
            padding-left: 0;
            padding-right: 0;

            &:hover::before {
              border-color: $line-stroke;
            }
          }
        }

        &--borderless {
          .kw-file__placeholder {
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border: $-kw-file-header-border;
            }
          }

          .kw-file__file-container {
            margin-bottom: 1px;

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border: $-kw-file-header-border;
            }
          }

          .kw-file__header-container {
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              border-top: $-kw-file-header-border;
              border-left: $-kw-file-header-border;
              border-right: $-kw-file-header-border;
              border-bottom: none;
            }
          }
        }

        &--standard {
          .kw-file__header-container {
            background-color: transparent;
          }
        }

        &--highlighted {
          >  .q-field__inner > .q-field__control {
            &::after {
              height: 0;
              border-width: 0;
              border-color: $line-stroke;
            }
          }
        }

        &--readonly {
          .q-field__control {
            background-color: transparent;
          }

          .q-field__input,
          .q-field__native {
            color: $black1;
          }
        }
      }
    }

    &.kw-file--collapsed {
      .kw-file__prepend-native {
        border-bottom: none;
      }

      > .q-field__inner > .q-field__control > .q-field__control-container > .q-field__native {
        min-height: 0;
        height: 0;
        overflow: hidden;
      }

      .kw-file__placeholder {
        display: none;
      }
    }

    &.kw-file--dnd-header {
      > .q-field__inner > .q-field__control > .q-field__control-container > .q-field__native {
        padding-top: $-kw-file-header-height;
        margin-top: -1 * $-kw-file-header-height;
        z-index: 1;
      }
    }
  }

  &--download-only {
    &.kw-field.q-field {
      &--dense {
        .kw-file__file-container {
          .q-scrollarea__content {
            padding: 8px 0;
          }
        }

        .kw-file-item {
          padding-left: 0;
          padding-right: 0;
          min-height: 28px;

          &--downloadable {
            .kw-file-item__name {
              text-decoration: underline;
              color: $black1;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

.kw-file-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  min-width: 100%;
  min-height: $kw-field-height;

  &__checkbox {
    padding-right: 8px;
  }

  &__icon {
    display: none;
    padding-right: 4px;
    flex: 0 0 auto;

    // font-size: 18px;
  }

  &__main { // you should notice this one's width set by props.
    // width: TBD when use scroll horizontal;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 100px;
    min-width: 100px;
    align-items: center;

    // max-width: calc(100% - 64px);
  }

  &__name {
    display: flex;
    flex-direction: row;
    min-width: 40px;

    @include typo("body",500);

    & ~ span:is(.kw-file-item__size) {
      margin-left: 8px;
    }
  }

  // 확장자명
  &__name-ext {
    flex: 0 0 auto;
  }

  &__append {
    overflow: hidden;
    flex: none;
    display: flex;
    align-items: center;
    margin-left: auto;

    ~ .kw-file-item__aside {
      margin-left: 8px;
    }
  }

  &__error-text {
    margin-right: -4px;

    @include typo("caption");

    color: $error;
  }

  &__retry-btn {
    &.kw-btn {
      @include kw-btn-height-modifier-by-font-type(20px, "caption", 8px, null, true);

      .q-icon {
        color: $black-btn-line !important;
      }
    }
  }

  &__size {
    @include typo("dense", 400);

    color: $placeholder;
    flex-shrink: 0;
  }

  &__aside { // you should notice this one's width set by props.
    // width: TBD when use scroll horizontal;
    flex: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;

    .kw-btn:not(.kw-file-item__retry-btn) {
      font-size: 16px !important;
    }

    .kw-checkbox .q-checkbox__inner {
      margin-left: 20px;
      font-size: 16px;
      width: 16px;
      min-width: 16px;
    }
  }

  &--downloadable {
    .kw-file-item__name {
      text-decoration: underline;
      cursor: pointer !important;
      color: $primary;
    }
  }

  &--remove {
    opacity: 0.6; // fixme temp
  }
}

body.mobile:not(.tablet) {
  .kw-file {
    // $-kw-file-mobile-header-height: 46px;
    // $-kw-file-mobile-header-background-color: $bg-box;

    // &__header {
    //   height: $-kw-file-mobile-header-height;
    // }

    &__bottom-area {
      display: flex;
      column-gap: 8px;
      width: 100%;

      @include typo("dense",400);

      color: $placeholder;
    }

    &__ext-area {
      flex: 1 1 100px;
      word-break: break-all;
    }

    &__size-area {
      flex: 0 0 120px;
      text-align: right;
    }

    // &--use-header {
    //   .kw-file__header-container {
    //     height: $-kw-file-mobile-header-height;
    //     background-color: $-kw-file-mobile-header-background-color;
    //   }

    //   .kw-file__placeholder {
    //     border-top: 1px solid $line-stroke;
    //     top: $-kw-file-mobile-header-height;
    //     background-color: $-kw-file-mobile-header-background-color;
    //   }

    //   .kw-file__prepend-native {
    //     border-bottom: 0;
    //   }

    //   &.kw-field {
    //     &.q-field {
    //       .q-field__control {
    //         padding-left: 0;
    //         padding-right: 0;

    //         &:hover::before {
    //           border-color: $line-stroke;
    //         }
    //       }

    //       &--standard {
    //         .q-field__control {
    //           &::before {
    //             border-bottom: 0;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }
  }
}

.file_tooltip.kw-tooltip {
  &.q-tooltip {
    padding: 8px;
    min-height: 28px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    background: $black2;
    border: none;
    border-radius: 0;
    box-shadow: 4px 5px 5px 0 rgb(0 0 0 / 6%);
  }
}
