.kw-btn {
  padding: 0 28px;
  min-height: auto;
  height: 42px;
  line-height: 1;
  background-color: $primary;
  font-size: 16px;
  font-weight: 400;
  color: $bg-white;
  text-transform: none;
  border-radius: 0;

  &--icon-only {
    padding: 0;
    background: none;

    &:hover.kw-btn,
    &:active.kw-btn {
      background-color: unset;
    }

    &.kw-btn.q-btn .q-icon {
      margin: 0;
      font-size: 1em;
    }
  }

  &::before {
    display: none;
  }

  &:disabled {
    background-color: $line-line;
    color: $bg-white;
  }

  .q-focus-helper {
    display: none;
  }

  // hover
  &:hover {
    background-color: #2a7bd9;
  }

  // pressed
  &.q-btn--active {
    background-color: #256dbf;
  }

  // disabled
  &:disabled {
    background-color: $line-line;

    &:hover {
      background-color: $line-line;
    }

    &.q-btn--active {
      background-color: $line-line;
    }
  }

  // negative
  &--negative {
    background-color: $black3;

    &:hover {
      background-color: #5e5e5e;
    }

    &.q-btn--active {
      background-color: #454545;
    }
  }

  &--line-black {
    border: 1px solid $black-btn-line;
    background-color: $bg-white;
    color: $black2;

    &:hover {
      border: 1px solid $black1;
      background-color: $bg-white;
    }

    &:active {
      background-color: $bg-box;
      border: 1px solid #666;
    }

    &:disabled {
      border: 1px solid $line-stroke;
      background-color: $line-bg;
      color: $placeholder;

      &:hover {
        border: 1px solid $line-stroke;
        background-color: $line-bg;
      }
    }

    &.kw-btn--line-bg {
      background: $bg-box;

      &:hover {
        background: $bg-box;
      }

      &:active {
        background-color: $bg-box;
      }
    }
  }

  &--line-blue {
    border: 1px solid $primary;
    background: $bg-white;
    color: $primary;

    &:hover {
      background: $bg-white;
    }

    &:active {
      background: $bg-white;
    }

    &:disabled {
      background: $line-bg;
      border: 1px solid $line-stroke;
      color: $placeholder;

      &:hover {
        background: $line-bg;
        border: 1px solid $line-stroke;
        color: $placeholder;
      }
    }

    &.kw-btn--line-bg {
      background: rgb(56 144 246 / 8%);

      &:hover {
        background: rgb(56 144 246 / 18%);
      }

      &:active {
        background-color: rgb(56 144 246 / 28%);
      }

      &:disabled {
        background: $line-bg;
        border: 1px solid $line-stroke;
        color: $placeholder;

        &:hover {
          background: $line-bg;
          border: 1px solid $line-stroke;
          color: $placeholder;
        }
      }
    }
  }

  &--line-gray {
    border: 1px solid $line-line;
    background: $bg-white;
    color: $black2;

    &:hover {
      border: 1px solid $black1;
      background-color: $bg-white;
    }

    &:active {
      border: 1px solid $black-btn-line;
      background-color: $bg-box;
    }

    &:disabled {
      background: $line-bg;
      border: 1px solid $line-stroke;
      color: $placeholder;

      &:hover {
        background: $line-bg;
        border: 1px solid $line-stroke;
        color: $placeholder;
      }
    }

    &.kw-btn--line-bg {
      background: $bg-box;
      border: 1px solid $line-line;
      color: $black2;

      &:hover {
        border: 1px solid $black1;
        background-color: $bg-box;
      }

      &:active {
        border: 1px solid $line-line;
        background-color: $line-line;
      }

      &:disabled {
        background: $bg-box;
        border: 1px solid $line-line;
        color: $placeholder;

        &:hover {
          background: $bg-box;
          border: 1px solid $line-line;
          color: $placeholder;
        }
      }
    }
  }

  // popup size
  &--popup {
    height: 36px;

    &.kw-btn--reset {
      border: 1px solid $black-btn-line;
      background-color: $bg-white;
      color: $black2;
    }
  }

  // button size별 추가
  &--h40 {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 12px;
  }

  &--h36 {
    height: 36px;
    font-size: 16px;
    font-weight: 400;
  }

  &--h32 {
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 8px;
  }

  &--h24 {
    height: 24px;
    font-size: 12px;
    font-weight: 400;
    padding: 0 12px;
  }

  // button size
  &--size40 {
    width: 40px;
    height: 40px;
    padding: 0;

    &.kw-btn.q-btn .q-icon {
      margin-right: 0;
    }
  }

  // secondary
  &--secondary {
    padding: 0 12px;
    height: 40px;
    border: 1px solid $black-btn-line;
    background-color: $bg-box;
    font-size: 14px;
    color: $black2;
    font-weight: 400;

    &:hover {
      border-color: $black1;
      background-color: $bg-white;
    }

    &.q-btn--active {
      border-color: $black-btn-line;
      background-color: $bg-box;
    }

    &:disabled {
      border-color: $line-stroke;
      background-color: $line-bg;
      color: #bbb;

      &:hover {
        border-color: $line-stroke;
        background-color: $line-bg;
      }

      &.q-btn--active {
        border-color: $line-stroke;
        background-color: $line-bg;
      }
    }
  }

  // contents
  &--contents {
    padding: 0 12px;
    height: 32px;
    border: 1px solid $black-btn-line;
    background-color: $bg-white;
    font-size: 14px;
    color: $black2;
    font-weight: 400;

    &:hover {
      border-color: $black1;
      background-color: $bg-white;
    }

    &.q-btn--active {
      border-color: $black-btn-line;
      background-color: $bg-box;
    }

    &:disabled {
      border-color: $line-stroke;
      background-color: $line-bg;
      color: $placeholder;

      &:hover {
        border-color: $line-stroke;
        background-color: $line-bg;
      }

      &.q-btn--active {
        border-color: $line-stroke;
        background-color: $line-bg;
      }
    }

    &.kw-btn--add {
      border-color: $line-stroke;
      padding-left: 32px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background: url(~assets/images/ic_plus_16.svg) no-repeat center;
        background-size: 16px 16px;
        display: block;
      }

      &:disabled {
        &::after {
          content: "";
          background: url(~assets/images/ic_plus_16_disabled.svg) no-repeat center;
          background-size: 16px 16px;
        }
      }
    }
  }

  // step
  &--step {
    padding: 0 20px;
    border: 1px solid $black-btn-line;
    height: 42px;
    background-color: $bg-white;
    color: $black2;
    font-weight: 400;

    & + & {
      margin-left: 8px;
    }

    &:hover {
      border-color: $black1;
      background-color: $bg-white;
    }

    &.q-btn--active {
      border-color: $line-stroke;
      background-color: $bg-box;
    }

    &:disabled {
      border-color: $line-stroke;
      background-color: $line-bg;
      color: #bbb;

      &:hover {
        border-color: $line-stroke;
        background-color: $line-bg;
      }

      &.q-btn--active {
        border-color: $line-stroke;
        background-color: $line-bg;
      }
    }

    &.kw-btn--primary {
      border: 0;
      max-width: 182px;
      width: 100%;
      background-color: $primary;
      color: $bg-white;
      font-weight: 500;

      &:hover {
        background-color: #2a7bd9;
      }

      &.q-btn--active {
        background-color: #256dbf;
      }

      &:disabled {
        background-color: $line-line;

        &:hover {
          background-color: $line-line;
        }

        &.q-btn--active {
          background-color: $line-line;
        }
      }
    }
  }

  // more
  &--more {
    // border: 1px solid #000;
    padding: 0 28px 0 12px;
    height: 32px;
    background-color: $bg-white;
    font-size: 14px;
    color: $black3;
    font-weight: 400;
    position: relative;

    &:hover {
      background-color: inherit;
    }

    &.q-btn--active {
      background-color: inherit;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 9px;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      background: url(~assets/images/ic_arrow_b_16.svg) no-repeat center;
      background-size: 16px 16px;
    }

    &.q-btn--append {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &--excel {
    padding: 0;
    background-color: rgb(56 144 246 / 0%) !important;
    font-size: 14px;
    color: $black1;
    height: 32px;
    text-decoration: underline;
    position: relative;
    font-weight: 400;

    & .on-left {
      margin-right: 6px;
      width: 16px;
      height: 16px;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   transform: translateY(-50%);
    //   width: 16px;
    //   height: 16px;
    //   background: url(~assets/images/ic_excel_off_16_3x.png) no-repeat center;
    //   background-size: 16px 16px;
    //   display: block;
    //   box-shadow: none;
    //   transition: none;
    // }
  }

  &--underline {
    padding: 0;
    background-color: rgb(56 144 246 / 0%) !important;
    font-size: 14px;
    color: $black1;
    height: 32px;
    text-decoration: underline;
    position: relative;
    font-weight: 400;

    & .on-left {
      margin-right: 6px;
      width: 16px;
      height: 16px;
    }
  }
}

// svg[viewBox$="16"] {
//   width: 16px !important;
// }

.kw-btn {
  &.q-btn .q-icon {
    margin-right: 4px;
    font-size: 1em;
  }

  &.kw-btn-reverse {
    .q-btn__content {
      flex-direction: row-reverse;
    }

    .q-icon {
      margin-right: 0;
      margin-left: 4px;
    }
  }
}

.btn-icon {
  &--bell {
    width: 16px;
    height: 16px;
    background: none;
    border: none;
    margin-top: -4px;

    &:hover {
      background: none;
    }
  }
}

.admin-arrow-box {
  display: flex;
  flex-direction: column;

  .kw-btn {
    width: 30px;
    height: 30px;
    padding: 0;

    .q-icon {
      margin-right: 0;
    }
  }
}
