.kw-btn {
  $-kw-btn-padding: $button-padding;
  $-kw-btn-line-height: $button-line-height;
  $-kw-btn-font-size: $button-font-size;
  $-kw-btn-font-weight: $button-font-weight;
  $-kw-btn-padding-dense: $button-dense-padding;
  $-kw-btn-line-height-dense: $kw-field-line-height-dense;
  $-kw-btn-font-size-dense: $kw-field-font-size-dense;
  $-kw-btn-font-weight-dense: $button-font-weight;
  $-kw-btn-icon-size: 1em;
  $-kw-btn-icon-size-dense: 16px; // design concept.

  // about color
  $-color-list: $semantic-colors;

  align-self: center; // quasar only provide stretch true...!

  &.self- {
    &start {
      align-self: flex-start;
    }

    &end {
      align-self: flex-end;
    }

    &baseline {
      align-self: baseline;
    }

    &stretch {
      align-self: stretch;
    }
  }

  // coloring
  @include color-based("&.kw-btn--border-color-", $-color-list) using($color) {
    &::after {
      border-color: $color;
    }
  }

  @include color-based("&.kw-btn--color-", $-color-list) using($color) {
    background-color: $color;
  }

  @include color-based("&.kw-btn--text-color-", $-color-list) using($color) {
    color: $color; // border default.

    &.q-btn {
      .q-btn__content {
        color: $color;
      }
    }
  }

  &.q-btn {
    // the height and width depend on contents line-height and padding.
    @include kw-btn-height-modifier($-kw-btn-padding, $-kw-btn-line-height, $-kw-btn-font-size, $-kw-btn-font-weight);

    .on-left {
      margin-right: 4px;
    }

    .on-right {
      margin-left: 4px;
    }

    .q-icon,
    .q-spinner {
      font-size: $-kw-btn-icon-size;

      @at-root .kw-btn.kw-btn--text-color-normal-text.q-btn .q-btn__content {
        .q-icon,
        .q-spinner {
          color: $black1;
        }
      }
    }

    // notify!!! The default Hover and active effect is drawn by this area. It's getting darker darker and darker.
    &::before {
      mix-blend-mode: multiply;
      background-color: #fff;
    }

    &.disabled {
      opacity: 1;
      background-color: $line-line;

      .q-icon {
        opacity: 0.6;
      }

      .q-btn__content {
        color: $bg-white;
      }
    }

    &--dense {
      @include kw-btn-height-modifier($-kw-btn-padding-dense, $-kw-btn-line-height-dense, $-kw-btn-font-size-dense, $-kw-btn-font-weight-dense);

      .q-icon,
      .q-spinner {
        font-size: $-kw-btn-icon-size-dense;
      }

      &.on-left {
        margin-right: 4px;
      }

      &.on-right {
        margin-left: 4px;
      }
    }
  }

  &--outlined {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: inherit;
      border: 1px solid currentcolor;
    }

    &.q-btn {
      &.disabled {
        background-color: $line-bg;

        .q-btn__content {
          color: $placeholder;
        }

        &::after {
          border-color: $line-stroke;
        }
      }
    }
  }

  &--underline {
    text-decoration: underline;
    text-underline-offset: 3px;

    &.q-btn {
      @include kw-btn-height-modifier(0, 1em, inherit, inherit);

      &.disabled {
        background-color: transparent;
        color: $placeholder;

        .q-btn__content {
          color: $placeholder;
        }
      }

      &--dense {
        @include kw-btn-height-modifier(0, 1em, inherit, inherit);
      }
    }
  }

  &--borderless {
    background-color: transparent;

    &.q-btn {
      @include kw-btn-height-modifier(0, 1em, inherit, inherit);

      &.disabled {
        background-color: transparent;

        .q-btn__content {
          color: $placeholder;
        }
      }

      &--dense {
        @include kw-btn-height-modifier(0, 1em, inherit, inherit);
      }
    }
  }

  &--icon-only {
    &.kw-btn--outlined {
      &.q-btn {
        padding-left: calc((#{$-kw-btn-line-height} + #{ zero-unit(at($-kw-btn-padding, 1) + at($-kw-btn-padding, 3))} - #{$-kw-btn-icon-size}) / 2);
        padding-right: calc((#{$-kw-btn-line-height} + #{ zero-unit(at($-kw-btn-padding, 1) + at($-kw-btn-padding, 3))} - #{$-kw-btn-icon-size}) / 2);

        &--dense {
          padding-left: calc((#{$-kw-btn-line-height-dense} + #{ zero-unit(at($-kw-btn-padding-dense, 1) + at($-kw-btn-padding-dense, 3))} - #{$-kw-btn-icon-size-dense}) / 2);
          padding-right: calc((#{$-kw-btn-line-height-dense} + #{ zero-unit(at($-kw-btn-padding-dense, 1) + at($-kw-btn-padding-dense, 3))} - #{$-kw-btn-icon-size-dense}) / 2);
        }
      }
    }
  }

  // belows rules are examples, for custom button.
  &--cta {
    &.q-btn {
      @include kw-btn-height-modifier-by-font-type (60px, "body");
    }

    flex-grow: 1;
  }
}

body.desktop {
  .kw-btn {
    &.q-btn {
      .q-focus-helper {
        /*
          since design requirements, we can not use focus helper
          that affects both the background color and the color at the same time.
         */
        display: none;
      }
    }

    &--filled,
    &--outlined {
      &.q-hoverable:hover {
        &::before {
          background-color: adjust-color(#fff, $lightness: -10%);
        }
      }

      &.q-focusable:focus,
      &.q-manual-focusable--focused {
        &::before {
          background-color: transparent;
        }
      }

      &.q-btn.q-btn--active {
        &::before {
          background-color: adjust-color(#fff, $lightness: -20%);
        }
      }

      &.kw-btn--color-bg-white {
        &.q-hoverable:hover {
          &::before {
            background-color: adjust-color(#fff, $lightness: -5%);
          }
        }

        &.q-focusable:focus,
        &.q-manual-focusable--focused {
          &::before {
            background-color: transparent;
          }
        }

        &.q-btn.q-btn--active {
          &::before {
            background-color: adjust-color(#fff, $lightness: -10%);
          }
        }
      }
    }
  }
}

// notice! this is exception.
@include kw-btn-custom-color-action("table-blue", change-color($primary, $alpha: 0.08), change-color($primary, $alpha: 0.18), change-color($primary, $alpha: 0.28));

body.mobile {
  // T-map button common
  .kw-btn--tmap-icon {
    padding-left: 8px !important;
    padding-right: 8px !important;

    @at-root &.kw-btn--round {
      min-width: 32px !important;
      min-height: 32px !important;

      .q-btn__content {
        padding-left: 0;
        background-position: center;
        background-size: 20px auto;
      }

      &.kw-btn--border-color-black-btn-line::after {
        border-color: rgb(47 138 243 / 12%);
      }
    }

    .q-btn__content {
      padding-left: 20px;
      background: url(~@assets/images/logo_tmap@2x.png) no-repeat 0 center;
      background-size: 16px auto;
    }

    &.kw-btn--border-color-black-btn-line::after {
      border-color: $line-stroke;
    }

    &.disabled {
      .q-btn__content {
        filter: grayscale(100%);
        mix-blend-mode: multiply;
      }
    }
  }

  &:not(.tablet) {
    .kw-btn {
      // mobile 용
      $-mobile-kw-btn-padding: 10px 12px 10px 12px;
      $-mobile-kw-btn-line-height: 20px;
      $-mobile-kw-btn-font-size: 14px;
      $-mobile-kw-btn-font-weight: 400;
      $-mobile-kw-btn-padding-dense: 5px 12px 5px 12px;
      $-mobile-kw-btn-line-height-dense: 20px;
      $-mobile-kw-btn-font-size-dense: 14px;
      $-mobile-kw-btn-font-weight-dense: 400;
      $-mobile-kw-btn-icon-size: 16px;
      $-mobile-kw-btn-icon-size-dense: 16px; // design concept.

      &.q-btn {
        @include kw-btn-height-modifier($-mobile-kw-btn-padding, $-mobile-kw-btn-line-height, $-mobile-kw-btn-font-size, $-mobile-kw-btn-font-weight);

        .q-btn__content {
          span.block + .q-icon {
            font-size: $-mobile-kw-btn-icon-size;
          }
        }

        &--dense {
          @include kw-btn-height-modifier($-mobile-kw-btn-padding-dense, $-mobile-kw-btn-line-height-dense, $-mobile-kw-btn-font-size, $-mobile-kw-btn-font-weight-dense);
        }
      }

      &--underline {
        text-decoration: underline;

        &.q-btn {
          @include kw-btn-height-modifier(0, 1em, $-mobile-kw-btn-font-size, inherit);

          &.disabled {
            background-color: transparent;
            color: $placeholder;

            .q-btn__content {
              color: $placeholder;
            }
          }

          &--dense {
            @include kw-btn-height-modifier(0, 1em, $-mobile-kw-btn-font-size-dense, inherit);

            vertical-align: top;
          }
        }
      }

      &--borderless {
        background-color: transparent;

        &.q-btn {
          @include kw-btn-height-modifier(0, 1em, $-mobile-kw-btn-font-size, inherit);

          &.disabled {
            background-color: transparent;

            .q-btn__content {
              color: $placeholder;
            }
          }

          &--dense {
            @include kw-btn-height-modifier(0, 1em,  $-mobile-kw-btn-font-size-dense, inherit);
          }
        }
      }

      &--icon-only {
        &.kw-btn--outlined {
          &.q-btn {
            padding-left: calc((#{$-mobile-kw-btn-line-height} + #{ zero-unit(at($-mobile-kw-btn-padding, 1) + at($-mobile-kw-btn-padding, 3))} - #{$-mobile-kw-btn-icon-size}) / 2);
            padding-right: calc((#{$-mobile-kw-btn-line-height} + #{ zero-unit(at($-mobile-kw-btn-padding, 1) + at($-mobile-kw-btn-padding, 3))} - #{$-mobile-kw-btn-icon-size}) / 2);

            &--dense {
              padding-left: calc((#{$-mobile-kw-btn-line-height-dense} + #{ zero-unit(at($-mobile-kw-btn-padding-dense, 1) + at($-mobile-kw-btn-padding-dense, 3))} - #{$-mobile-kw-btn-icon-size-dense}) / 2); /* stylelint-disable max-line-length */
              padding-right: calc((#{$-mobile-kw-btn-line-height-dense} + #{ zero-unit(at($-mobile-kw-btn-padding-dense, 1) + at($-mobile-kw-btn-padding-dense, 3))} - #{$-mobile-kw-btn-icon-size-dense}) / 2);
            }
          }
        }
      }

      .kw-btn--color-primary + .kw-btn--color-primary {
        border-left: 1px solid #2a7bd9;
      }

      &.select-btn {
        width: 100%;
        padding: 7px 4px;
        border-bottom: 1px solid $line-stroke;

        .q-btn__content {
          justify-content: space-between;

          .q-icon {
            font-size: 16px;
          }
        }
      }

      //// mobile 용
    }
  }
}
