/*
  Layout
 */
.dev-layout {
  background: #f3f4f5;

  body.desktop & {
    min-width: 1900px;
  }
}

.mobile {
  // mobile
  &:not(.tablet) {
    .dev-layout {
      background: inherit;
    }
  }
}

/*
  GNB
  */
.dev-gnb {
  border-bottom: 1px solid #e5e5e5;

  .q-toolbar {
    padding: 0 40px;
    height: 70px;
    background: #fff;
  }

  .gnb-logo {
    display: flex;
    width: 120px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    color: $accent;
  }

  .gnb__menus {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;

    &-item {
      position: relative;
      height: 100%;
      margin-right: 40px;
      color: $black2;
      font-size: 18px;
      font-weight: 500;
      line-height: 70px;
      text-decoration: none;
      cursor: pointer;

      &--active {
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: -1px;
          right: 0;
          left: 0;
          height: 4px;
          background: $primary;
        }
      }
    }
  }
}

/*
  LNB
 */
.dev-lnb {
  overflow: hidden;

  &-drawer {
    &.kw-btn.q-btn {
      position: absolute;
      top: calc(50% - 30px);
      right: -24px;
      width: 30px;
      height: 60px;
      padding: 0;
      border-radius: 0 30px 30px 0;
      z-index: 990;
      clip-path: inset(-10px -10px -10px 6px);
      box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 35%);
      background-color: $black2 !important;

      .q-icon {
        font-size: 16px;
        margin-left: 5px;
      }

      &.q-focusable:focus,
      &.q-manual-focusable--focused,
      &.q-hoverable:hover,
      &.q-btn.q-btn--active {
        &::before {
          background-color: $black2 !important;
        }
      }
    }

    &--expanded {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.dev-lnb-tree {
  padding: 40px 20px 0;

  &__title {
    display: flex;
    padding: 4px;
    min-height: 45px;
    border-bottom: 2px solid $black1;
    font-weight: 700;
    font-size: 18px;
    color: $black1;
    align-items: center;

    .q-icon {
      cursor: pointer;
    }
  }
}

body.mobile:not(.tablet) {
  .dev-lnb-drawer {
    &.kw-btn.q-btn {
      position: absolute;
      top: 0;
      right: -40px;
      width: 40px;
      padding-left: 16px;
      padding-right: 16px;
      height: 55px;
      border-radius: unset;
      z-index: 990;
      clip-path: unset;
      box-shadow: unset;
    }

    .q-icon {
      font-size: 24px;
      margin-left: 0;
    }

    &.q-focusable:focus,
    &.q-manual-focusable--focused,
    &.q-hoverable:hover,
    &.q-btn.q-btn--active {
      &::before {
        background-color: unset !important;
      }
    }
  }
}
