# set url for the scoped package
@kw:registry=http://gitlab-dev.kyowon.co.kr/api/v4/projects/61/packages/npm/

# add auth token for the gitlab scoped package
//gitlab-dev.kyowon.co.kr/api/v4/projects/61/packages/npm/:_authToken=RHtFWdxzB7cN-uBFGQK5
