.kw-menu {
  &.q-menu {
    border: 1px solid $black1;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    max-height: initial;
  }

  &--dialog {
    display: none;
  }

  @include native-scrollbar(overlay, auto, true, true);
}

.kw-menu-dialog {
  .q-dialog {
    &__backdrop {
      background: transparent;
    }

    &__inner > div {
      position: relative;
      overflow: hidden;
      padding: 4px;
      border: 1px solid $black-btn-line;
      border-radius: 0;
      box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%);
      background: #fff;
    }
  }

  &--no-action {
    .kw-menu-dialog__action {
      display: none !important;
    }
  }
}

body.mobile:not(.tablet) {
  .kw-menu-dialog {
    .q-dialog {
      &__backdrop {
        background: rgb(0 0 0 / 55%);
      }

      &__inner > div {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        padding: 0;
        width: 100vw;
        max-width: 100vw;

        // max-height: calc(100vh - 108px);
        border: none;
        border-radius: 16px 16px 0 0;
        box-shadow: none;
        background: #fff;
      }
    }

    &__scroll-area > .kw-scroll-area__wrapper {
      max-height: calc(100vh - 108px);

      .q-scrollarea {
        &__bar,
        &__thumb {
          z-index: 1;
        }
      }
    }

    &__header {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 24px;
      background: #fff;
      z-index: 1;

      > h1 {
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5rem;
        color: $black1;
        text-align: left;
      }

      > .q-icon {
        width: 24px;
        font-size: 24px;
        cursor: pointer;
      }
    }

    // &__content { }

    &__action {
      position: sticky;
      bottom: 0;
      display: flex;
      padding: 24px 20px 32px;
      background: #fff;
      z-index: 1;

      .kw-btn {
        @include kw-btn-height-modifier(8px, 1.5rem, 16px, 400, normal);
      }
    }
  }
}

body.mobile:not(.tablet) .main-menu-modal .kw-popup.q-card.mobile .kw-popup__content {
  height: 100%;
}
