.kw-form {
  $-kw-form-row-height: $kw-field-height;
  $-kw-form-row-gap: 80px;
  $-kw-form-row-padding: 8px 0 8px 0;
  $-kw-form-item-min-height: $kw-field-height;
  $-kw-form-row-height-dense: 24px;
  $-kw-form-row-gap-dense: 80px;
  $-kw-form-row-padding-dense: 6px 0;
  $-kw-form-item-min-height-dense: 24px;

  .kw-form-row {
    @include kw-row($-kw-form-row-height, $-kw-form-row-gap, $-kw-form-row-padding);
  }

  .kw-form-item {
    @include kw-item($-kw-form-item-min-height);
  }

  .kw-label-content {
    // In this context, use only inline elements.
    font-size: $kw-field-font-size-dense;
    line-height: $kw-field-line-height-dense;
    color: $black1;
    word-break: break-word;

    &__label {
      display: contents;
    }

    &__hint {
      display: inline-block;
      width: 16px;
      margin-left: 4px;
      vertical-align: 2px;
    }
  }

  .kw-form-item__field {
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5; // 24px
      color: $black1;
    }

    ol {
      margin: 0;
      padding-left: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #222;
    }
  }

  &--dense {
    .kw-form-row {
      @include kw-row($-kw-form-row-height-dense, $-kw-form-row-gap-dense, $-kw-form-row-padding-dense);
    }

    .kw-form-item {
      @include kw-item($-kw-form-item-min-height-dense);
    }

    // & {
    //   .kw-form-row:first-of-type {
    //     padding-top: 0;
    //     min-height: $-kw-form-row-height-dense + at($-kw-form-row-padding-dense, 3);
    //   }

    //   .kw-form-row:last-of-type {
    //     padding-bottom: 0;
    //     min-height: $-kw-form-row-height-dense + at($-kw-form-row-padding-dense, 1);
    //   }

    //   .kw-form-row:first-of-type:last-of-type {
    //     padding-top: 0;
    //     padding-bottom: 0;
    //     min-height: $-kw-form-row-height-dense;
    //   }
    // }
  }

  // 가상 선택자 has 가 samsung internet 에서 지원 여부가 불확실 함...
  // 기획 단계부터 form 의 높이는 가능하다면 동적으로 움직이지 않는 것이 베스트.
  // 어쩔 수 없이 필요하다면, dense 를 사용하여 높이 변경 시점을 명확하게 가져갈 것.
  // 퍼블리쉬 단계에서는 영역을 넓게 차지하는 것 기준으로 그리면 될 듯.
  // 아래 스타일을 최후의 최후에 선택할 것.
  &--auto-height {
    .kw-form-row {
      @include kw-row($-kw-form-row-height-dense, $-kw-form-row-gap-dense, $-kw-form-row-padding-dense);
    }

    .kw-form-item {
      @include kw-item($-kw-form-row-height-dense);
    }

    &:has(.kw-field, .kw-field-wrap) {
      .kw-form-row {
        @include kw-row($-kw-form-row-height, $-kw-form-row-gap, $-kw-form-row-padding);
      }

      .kw-form-item {
        @include kw-item($-kw-form-row-height);
      }
    }
  }
}

body.mobile {
  .kw-form {
    // tablet 용
    $-kw-form-row-height: $kw-field-height; // 40px
    $-kw-form-row-gap: 60px;
    $-kw-form-row-padding: 8px 0 8px 0;
    $-kw-form-row-height-dense: 24px;
    $-kw-form-row-gap-dense: 60px;
    $-kw-form-row-padding-dense: 6px 0;
    $-kw-form-item-min-height: $kw-field-height; // 40px
    $-kw-form-item-min-height-dense: 24px;

    @at-root body:not(.desktop) .kw-form-row {
      @include kw-row($-kw-form-row-height, $-kw-form-row-gap, $-kw-form-row-padding);
    }

    @at-root body:not(.desktop) .kw-form-item {
      @include kw-item($-kw-form-item-min-height);
    }

    .kw-label-content {
      color: $black1;
    }

    .kw-form-item__label {
      font-size: 14px;
      font-weight: 400;
    }

    .kw-form-item__field {
      p {
        font-size: 16px;
        font-weight: 500;
        color: $black1;
      }

      ol {
        margin: 0;
        padding-left: 20px;

        @include typo("dense");

        color: #222;
      }
    }

    &--dense {
      .kw-form-row {
        @include kw-row($-kw-form-row-height-dense, $-kw-form-row-gap-dense, $-kw-form-row-padding-dense);
      }

      .kw-form-item {
        @include kw-item($-kw-form-item-min-height-dense);
      }
    }

    //// tablet 용
  }
}

body.mobile:not(.tablet) {
  // mobile 용 : kw-form-row 감싸지 않음
  .kw-form {
    width: 100%;

    $-kw-form-row-padding: 6px 0;
    $-kw-form-row-padding-dense: 2px 0;
    $-kw-form-item-min-height: 24px;
    $-kw-form-item-min-height-dense: 20px;
    $-kw-form-row-gap: 60px;

    .kw-form-item {
      @include kw-item($-kw-form-item-min-height);

      padding: $-kw-form-row-padding;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }

    .kw-form-item__label {
      padding-right: 12px !important;

      .kw-label-content {
        color: $black2;
      }
    }

    .kw-form-item__field {
      align-self: flex-start;

      p,
      a {
        font-weight: 400;
        word-break: keep-all;
      }
    }

    &--dense {
      .kw-form-item {
        @include kw-item($-kw-form-item-min-height-dense);

        padding: $-kw-form-row-padding-dense;
      }

      .kw-form-item__field {
        align-self: flex-start;

        p,
        a {
          font-size: 14px;
        }
      }
    }
  }
}

// kwForm 에서 kwSearch 의 디자인처럼 border가 있게 써야한다는 요청사항이 있어서 임시로 추가..
.kw-form.border-form {
  padding: 24px 40px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 6px #0000000f;
  background-color: #fff;
  z-index: 1;
}
