@import "suneditor";

.kw-editor {
  &.q-field--outlined {
    .q-field__control {
      height: auto !important;
      padding: 0;

      &::before,
      &::after {
        z-index: 1;
      }

      .q-field__control-container {
        z-index: 2900;

        // gnb가 z-index: 3000
      }
    }
  }
}
