.kw-tab-panels {
  overflow: hidden;
  position: relative;
}

.kw-tab-panel {
  outline: none;

  &--disabled::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: not-allowed;
    background-color: $line-stroke;
    opacity: 0.5;
  }
}
