.kw-list {
  // quasar overrides
  &.q-list {
    &--bordered {
      border: 1px solid $line-stroke;
    }

    &--separator {
      > .q-item-type + .q-item-type,
      > .q-virtual-scroll__content > .q-item-type + .q-item-type {
        border-top: 1px solid $line-stroke;
      }
    }

    &--padding {
      // remove quasar padding
      // if you want use q-props, remove following rules
      padding: unset;
    }

    &--dense {
      // remove quasar dense
      // if you want use q-props, remove following rules
      min-height: unset;
      padding: unset;
    }
  }

  // END quasar overrides

  &__placeholder {
    // fixme
  }

  &--selectable {
    &.q-list {
      & .kw-list {
        &__total-item.kw-item {
          min-height: unset;
          padding-top: 0;
          padding-bottom: 8px;

          &:not(:last-child) {
            margin-bottom: -1px;
            border-bottom: 1px solid $black1;
          }
        }
      }
    }
  }

  /*

  &--padding {
    > .kw-item-type {
      @extend %kw-item-type-padding;
    }
  }

  &--dense {
    > .kw-item-type {
      @extend %kw-item-type-dense;
    }
  }

   */

  // START kw-search > 체크박스 목록
  &.checkbox-group {
    $checkboxes: ".checkbox-group";

    padding-top: 6px;

    .kw-item {
      padding: 0;
      min-height: auto;

      & > .kw-field-wrap {
        max-width: 120px !important;
        min-width: 120px;
      }

      .kw-field-wrap__control {
        flex-shrink: 1;
        min-height: 22px;
      }

      .kw-field-wrap__control-container {
        padding-top: 2px;
      }

      .q-field__control {
        min-height: 22px;
      }

      &:first-child {
        padding-bottom: 14px;
      }

      &:not(:first-child) {
        border-top: 1px solid $line-bg;
        padding: 14px 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    .kw-option-group {
      flex-grow: 5 !important;

      .kw-checkbox.q-option-group {
        flex-wrap: wrap;
        gap: 4px 12px;

        & > div + div {
          margin-left: 0;
        }

        .q-checkbox {
          min-height: 22px;
        }

        .q-checkbox--dense .q-checkbox__label {
          min-width: 170px;
        }
      }

      .q-field__native {
        min-height: 22px;
      }
    }

    .kw-separator {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 12px !important;
    }

    #{$checkboxes}__children {
      display: flex;
      flex-flow: column wrap;
      row-gap: 8px;
    }

    #{$checkboxes}__child {
      display: flex;
      flex-direction: row;

      & > .kw-field-wrap {
        max-width: 170px !important;
        min-width: 170px;
      }

      .kw-option-group {
        flex-grow: 4 !important;

        .kw-checkbox.q-option-group {
          flex-wrap: wrap;
          gap: 2px 12px;

          .q-checkbox--dense .q-checkbox__label {
            min-width: 165px;
          }
        }
      }
    }
  }

  // END kw-search > 체크박스 목록
}
