.kw-tab-panel {
  padding: 0;
}

.kw-page > .kw-tab-panels > .q-panel > .kw-tab-panel > .kw-search {
  border-top: 0;
}

.kw-page > .kw-tabs {
  padding: 30px 40px 0;
  border: 1px solid $line-line;
  border-bottom: none;
  background: #fff;

  .q-tabs__content {
    border-bottom: 1px solid $black-h1;
    height: 40px;
    overflow: visible;
  }

  .kw-tab {
    min-height: 40px;
    height: 40px;
    padding: 0 28px;
    background: $bg-box;
    border: 1px solid $placeholder;
    border-bottom: 1px solid $black-h1;
    opacity: 1;

    & + .kw-tab {
      margin-left: -1px;
    }

    &.q-tab--active {
      background: #fff;
      border-color: $black-h1;
      border-bottom: none;

      .q-tab__indicator {
        background: #fff;
        height: 2px;
      }

      & + .kw-tab {
        border-left: 1px solid $black-h1;
      }
    }

    .q-focus-helper {
      display: none;
    }
  }
}
