.kw-tab-panel {
  padding: 0;

  & .kw-tabs:not(.kw-tabs--dense) {
    & + .kw-tab-panels {
      box-shadow: 2px 4px 7px -4px rgb(0 0 0 / 7%);
    }
  }
}

.kw-tab-panels > .q-panel > .kw-tab-panel > .kw-search {
  border-top: 0;
}

.kw-tabs {
  padding: 24px 40px 0;
  border: 1px solid $line-line;
  border-bottom: none;
  background: #fff;

  .q-tabs__content {
    border-bottom: 1px solid $black1;
    height: 40px;
    overflow: visible;
  }

  .kw-tab {
    min-height: 40px;
    height: 40px;
    padding: 0 28px;
    background: $bg-box;
    border: 1px solid $placeholder;
    border-bottom: 1px solid $black1;
    opacity: 1;

    .q-tab__label {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      color: $black3;
    }

    .q-tab__content {
      padding: 0;
      min-width: initial;
    }

    &[aria-selected="false"] {
      height: 38px;
    }

    & + .kw-tab {
      margin-left: -1px;
    }

    &.q-tab--active {
      background: #fff;
      border-color: $black1;
      border-bottom: none;

      .q-tab__label {
        font-weight: 500;
        color: $black1;
      }

      .q-tab__indicator {
        background: #fff;
        height: 2px;
      }

      & + .kw-tab {
        border-left: 1px solid $black1;
      }
    }

    .q-focus-helper {
      display: none;
    }
  }

  .result-area &,
  .normal-area & {
    padding: 0;
    border: none !important;
  }

  // navy tab
  &--dense {
    border: 0;
    padding: 0;

    .q-tabs__content {
      height: 34px;
      border-bottom: none;
      overflow: visible;
    }

    .kw-tab {
      min-height: 34px;
      height: 34px !important;
      padding: 0 20px;
      background: none;
      border: 1px solid $line-stroke;
      font-size: 14px;
      opacity: 1;

      & + .kw-tab {
        margin-left: -1px;
      }

      .q-tab__content {
        padding: 0;
        height: 32px; // 바깥 border 제외 높이
        color: $black3;
      }

      .q-tab__label {
        font-size: 14px;
        line-height: 1;
      }

      &.q-tab--active {
        background: $secondary;
        border: none;

        .q-tab__label,
        .q-tab__content {
          font-weight: 500;
          color: #fff;
        }

        .q-tab__indicator {
          display: none;
        }

        & + .kw-tab {
          border-left: 1px solid $black1;
        }
      }

      .q-focus-helper {
        display: none;
      }
    }
  }
}

// tab in tab
.kw-tab-panels {
  .kw-tabs:not(.kw-tabs--dense) {
    border-top: 0;
    border-bottom: 0;

    .q-tabs__content {
      height: 34px;
      border-bottom: none;
      overflow: visible;
    }

    .kw-tab {
      min-height: 34px;
      height: 34px;
      padding: 0 20px;
      background: none;
      border: 1px solid $line-stroke;
      font-size: 14px;
      opacity: 1;

      & + .kw-tab {
        margin-left: -1px;
      }

      .q-tab__content {
        padding: 0;
        height: 32px; // 바깥 border 제외 높이
      }

      .q-tab__label {
        font-size: 14px;
        line-height: 1;
      }

      &.q-tab--active {
        background: $secondary;
        border: none;

        .q-tab__label {
          font-weight: 500;
          color: #fff;
        }

        .q-tab__indicator {
          display: none;
        }

        & + .kw-tab {
          border-left: 1px solid $black1;
        }
      }

      .q-focus-helper {
        display: none;
      }
    }
  }
}

.kw-tab-panel {
  .normal-area {
    border: none;
  }
}

.kw-tabs {
  border: none;
}

.kw-popup:has(.kw-search),
.kw-page:has(.kw-search) {
  .kw-tabs {
    border: 1px solid #ddd;
    border-bottom: 0;
  }

  .kw-tab-panel .kw-tabs {
    border-top: 0;
  }
}

body.mobile:not(.tablet) {
  .kw-tabs {
    border: 0;
    padding: 0;

    .q-tabs__content {
      height: 40px;
      border-bottom: none;
      overflow: visible;
    }

    .kw-tab {
      padding: 0;
      flex: 1 1 50%;
      min-height: 40px;
      height: 40px !important;
      background: none;
      border: 1px solid $line-stroke;
      opacity: 1;

      & + .kw-tab {
        margin-left: -1px;
      }

      .q-tab__content {
        padding: 0;
        height: 38px; // 바깥 border 제외 높이
        color: $black3;
      }

      .q-tab__label {
        @include typo("dense");
      }

      &.q-tab--active {
        background: $secondary;
        border: none;

        .q-tab__label,
        .q-tab__content {
          color: #fff;
        }

        .q-tab__indicator {
          display: none;
        }

        & + .kw-tab {
          border-left: 1px solid $black1;
        }
      }

      .q-focus-helper {
        display: none;
      }
    }
  }
}
