.kw-btn-toggle {
  .kw-btn.q-btn-group {
    padding: 0;
    background-color: #fff;
    height: 32px;
    font-size: 14px;

    .q-btn {
      padding: 0 16px;

      &--outline::before {
        border: 0;
      }

      border: 1px solid $line-stroke;
      background: #fff;
      color: $black3;

      &[aria-pressed="true"] {
        border: 1px solid $primary;
        background: #fff;
        color: $primary;
      }
    }

    .q-btn-item:not(:first-child) {
      margin-left: 4px;
    }
  }
}
