.kw-btn-toggle {
  &.q-btn-toggle {
    .kw-btn {
      &.q-btn {
        &[aria-pressed="true"] {
          z-index: 1;

          &.disabled {
            // background-color: $line-line !important; // 좀 더 진해야 할까? sorry for using !important.

            // .q-btn__content {
            //   color: $bg-white !important;
            // }
          }
        }
      }

      &--outlined {
        margin-left: -1px;

        &.q-btn {
          &[aria-pressed="false"] {
            &.disabled {
              background-color: $line-bg !important;

              .q-btn__content {
                color: $placeholder !important;
              }

              &::after {
                border-color: $line-stroke !important;
              }
            }
          }
        }
      }

      &--filled,
      &--outlined {
        @include color-based("&.kw-btn--toggle-color-", $semantic-colors) using ($color) {
          &[aria-pressed="true"],
          &.bg-selected {
            background-color: $color;
          }
        }

        @include color-based("&.kw-btn--toggle-text-color-", $semantic-colors) using ($color) {
          &[aria-pressed="true"],
          &.bg-selected {
            .q-btn__content {
              color: $color;
            }
          }
        }

        @include color-based("&.kw-btn--toggle-border-color-", $semantic-colors) using ($color) {
          &[aria-pressed="true"],
          &.bg-selected {
            &::after {
              border-color: $color;
            }
          }
        }
      }
    }
  }

  &--spaced {
    .kw-btn {
      &--outlined {
        margin-left: 0;
      }
    }
  }
}

.kw-btn-group {
  &--wrap {
    &.q-btn-group {
      flex-wrap: wrap;
    }
  }
}

body.desktop {
  @include color-based(".kw-btn.kw-btn--toggle-color-", $semantic-colors) using ($color) {
    &.q-focusable:focus,
    &.q-manual-focusable--focused,
    &.q-hoverable:hover {
      background-color: $color;

      &::before {
        background-color: #fff;
      }
    }

    &.q-btn.q-btn--active {
      background-color: $color;

      &::before {
        background-color: #fff;
      }
    }
  }
}

body.mobile {
  .kw-btn-toggle {
    &.q-btn-toggle {
      .kw-btn {
        &.q-btn {
          // 너비 동일하게
          flex: 1;
          padding: 10px 6px;

          &--dense {
            padding: 5px 8px;

            // 최소사이즈 추가됨
            min-width: 54px;
          }
        }
      }
    }
  }
}

body.mobile.tablet {
  .kw-btn-toggle {
    &.q-btn-toggle {
      .kw-btn {
        &.q-btn {
          .q-btn__content {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
