.kw-sign {
  // width: 300px;

  &__canvas-area {
    position: relative;
    width: inherit;
    z-index: 99;
    box-sizing: content-box;
    border: 1px solid #ccc;
  }

  &__placeholder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    @include typo("body",400);

    color: $black3;
  }

  &__action {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
  }
}

// body.mobile {
//   .kw-sign {
//     // width: 536px;
//   }
// }

// body.mobile:not(.tablet) {
//   .kw-sign {
//     // width: 320px;
//   }
// }
