.kw-popup {
  padding: 4px;
  border: 1px solid $black-btn-line;
  box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%) !important;
  position: relative !important;
  transform: none !important;
  overflow: hidden !important;

  &--sm {
    width: 460px;
    max-width: 460px !important;
    min-width: 460px !important;
    min-height: 250px;
    margin-top: 0;

    .kw-popup__content {
      min-height: 118px !important;
    }
  }

  &--md {
    width: 660px;
    max-width: 660px !important;
    min-width: 660px !important;
  }

  &--lg {
    width: 860px;
    max-width: 860px !important;
    min-width: 860px !important;
  }

  &--xl {
    width: 1060px;
    max-width: 1060px !important;
    min-width: 1060px !important;
  }

  &--2xl {
    width: 1260px;
    max-width: 1260px !important;
    min-width: 1260px !important;
  }

  &--3xl {
    width: 1460px;
    max-width: 1460px !important;
    min-width: 1460px !important;
  }

  &__header {
    padding: 20px 16px 10px 26px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 4px;
    right: 10px;
    z-index: 11;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 20px;
      left: 26px;
      height: 1px;
      background-color: $line-stroke;
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
      color: $black1;
    }

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 0;
      cursor: pointer;
    }

    &--draggable {
      cursor: move;
    }
  }

  &__content {
    padding: 87px 20px 120px 26px;
    overflow-y: scroll;
    min-height: 348px;
    max-height: calc(100vh - 195px) !important;
    z-index: 10;

    & > *:nth-child(1):is(h3) {
      margin-top: 0;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff;
    }

    @at-root {
      .kw-popup--auto-height & {
        min-height: auto;
        max-height: none !important;
      }

      .auto-logout & {
        padding-bottom: 88px;
      }
    }

    h2 {
      padding-top: 0;
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 30px 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 10px;
    z-index: 11;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 20px;
      left: 26px;
      height: 1px;
      background-color: $line-bg;
    }

    @at-root .auto-logout & {
      padding-top: 0;
      padding-bottom: 20px;

      &::after {
        content: none;
      }
    }
  }

  &--no-title {
    .kw-popup__header {
      &::after {
        content: none;
      }

      &-close {
        top: 15px;
      }
    }

    .kw-popup__content {
      padding-top: 30px;
    }
  }

  &--no-action {
    .kw-popup__content {
      padding-bottom: 30px;
    }
  }

  .kw-date-picker {
    min-width: 140px;
    max-width: none;
  }
}
