.kw-popup {
  &--sm {
    width: 440px;
    max-width: 440px !important;
  }

  &--md {
    width: 860px;
    max-width: 860px !important;
  }

  &--lg {
    width: 1000px;
    max-width: 1000px !important;
  }

  &--xl {
    width: 1200px;
    max-width: 1200px !important;
  }
}
