body.desktop .kw-popup,
body.tablet .kw-popup {
  padding: 4px;
  border: 1px solid $black-btn-line;
  min-height: 180px;

  &.q-card {
    position: relative;
    overflow: hidden;
    box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%);
  }

  &--md {
    width: 660px;
    max-width: 660px !important;
    min-width: 660px !important;
  }

  &--sm {
    width: 460px;
    max-width: 460px !important;
    min-width: 460px !important;
    margin-top: 0;
  }

  &--lg {
    width: 860px;
    max-width: 860px !important;
    min-width: 860px !important;
  }

  &--xl {
    width: 1060px;
    max-width: 1060px !important;
    min-width: 1060px !important;
  }

  &--2xl {
    width: 1260px;
    max-width: 1260px !important;
    min-width: 1260px !important;
  }

  &--3xl {
    width: 1460px;
    max-width: 1460px !important;
    min-width: 1460px !important;
  }

  &--4xl {
    width: 1660px;
    max-width: 1660px !important;
    min-width: 1660px !important;
  }

  &--full {
    width: 100%;
    height: 100%;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    border: 0 !important;

    .kw-popup__content {
      // max-height: 100% !important;
      height: calc(100vh - 8px);
      max-height: calc(100vh - 8px);
    }
  }

  &__header {
    padding: 20px 16px 10px 26px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 4px;
    right: 10px;
    z-index: 11;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 20px;
      left: 26px;
      height: 1px;
      background-color: $line-stroke;
    }

    &-title {
      @include typo("subtitle");

      color: $black1;
    }

    &-bookmark {
      &.kw-checkbox {
        margin-left: 6px;
        justify-content: flex-start;
        width: 16px;

        .q-checkbox__inner {
          width: inherit;
          height: 16px;
          min-width: 16px;
          font-size: 16px;
        }
      }
    }

    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 0;
      cursor: pointer;
    }

    &--draggable {
      cursor: move;
    }
  }

  &__content {
    @include native-scrollbar(unset);

    padding: 85px 20px 125px 26px;
    overflow-y: scroll;

    // min-height: 348px;
    max-height: calc(100vh - 195px);
    z-index: 10;

    & > *:nth-child(1):is(h3) {
      margin-top: 0;
    }

    @at-root {
      .kw-popup--auto-height & {
        min-height: auto;
        max-height: none !important;
      }

      .auto-logout & {
        padding-bottom: 88px;
      }
    }

    h2 {
      padding-top: 0;
    }

    h3 {
      & + .kw-grid,
      & + .kw-action--top {
        margin-top: 20px;
      }
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 30px 0;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 10px;
    z-index: 11;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 20px;
      left: 26px;
      height: 1px;
      background-color: $line-bg;
    }

    @at-root .auto-logout & {
      padding-top: 0;
      padding-bottom: 20px;

      &::after {
        content: none;
      }
    }
  }

  &--no-title {
    .kw-popup__header {
      &::after {
        content: none;
      }

      &-close {
        top: 15px;
      }
    }

    .kw-popup__content {
      padding-top: 35px;
    }
  }

  &--no-action {
    .kw-popup__content {
      padding-bottom: 25px;
    }
  }

  .kw-date-picker {
    // min-width: 140px;
    max-width: none;
  }

  // 팝업내 탭 스크롤 제거
  .kw-tab-panels {
    .q-panel.scroll { overflow: visible; }
  }

  h3 + .kw-form {
    margin-top: 20px;
  }
}

body.tablet .kw-popup .kw-popup__content {
  max-height: calc(100vh - 195px);
}

body.mobile:not(.tablet) {
  // .q-card__section--vert {
  //   padding: initial;
  // }

  .q-card__section--vert {
    &:not(.global-dialog .q-card__section--vert) {
      padding: initial;
    }
  }

  .kw-popup {
    $this: ".kw-popup";

    &.q-card {
      #{$this}__header {
        height: 55px;
        padding: 14px 0 15px 20px;
        position: sticky;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        border: 1px solid #f8f9fa;

        &-title {
          @include typo("subtitle");

          color: $black1;
        }

        &-bookmark {
          &.kw-checkbox {
            margin-left: 7px;
            justify-content: flex-start;
            width: 16px;

            .q-checkbox__inner {
              width: inherit;
              height: 16px;
              min-width: 16px;
              font-size: 16px;
            }
          }
        }

        &-close {
          position: absolute;
          top: 16px;
          right: 16px;
          padding: 0;
          cursor: pointer;
        }
      }

      #{$this}__content {
        min-height: calc(100% - 115px);
      }

      #{$this}__action {
        position: sticky;

        // padding: 40px 20px 30px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        display: flex;

        // column-gap: 8px;
        flex-wrap: nowrap;
        background: #fff;

        button {
          flex: 1 0 50%;
          font-size: 16px !important;
          height: 60px;
        }

        .kw-btn--color-primary + .kw-btn--color-primary {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background-color: #2a7bd9;
          }
        }
      }

      #{$this}--no-action {
        .kw-popup__content {
          min-height: calc(100% - 55px);
          padding-bottom: 30px;
        }
      }
    }
  }
}

.stack-trace-popup {
  &__title {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    text-align: center;
  }

  &__content {
    padding: 10px;
    white-space: pre;
    background-color: #eee;
  }

  .q-scrollarea {
    height: 400px;
    margin-top: 10px;
  }
}

.kw-popup.auto-logout {
  // 자동 로그아웃 popup
  .kw-popup__header {
    display: none;
  }
}

.q-dialog__inner--minimized:has(div.kw-popup--full) {
  padding: 0;
}

body.tablet {
  .fixed-full {
    left: 62px !important;
  }
}
