.kw-expansion-item {
  .q-focus-helper {
    display: none;
  }
}

.mobile {
  .kw-expansion-item {
    // tablet
    .q-expansion-item__container {
      .kw-item {
        align-items: center;

        .kw-item__section {
          .q-expansion-item__toggle-icon {
            margin-top: auto;
            font-size: inherit;
          }
        }
      }
    }
  }

  // mobile
  &:not(.tablet) {
    .kw-expansion-item {
      // tablet
      .q-expansion-item__container {
        .kw-item {
          align-items: center;

          .kw-item__section {
            .q-expansion-item__toggle-icon {
              font-size: 16px !important;
            }
          }
        }
      }
    }
  }
}
