.app-gnb {
  border-bottom: 1px solid #e5e5e5;

  .q-toolbar {
    padding: 0 40px;
    height: 70px;
    background: #fff;
  }

  .gnb-logo {
    width: 120px;
    height: 24px;
  }

  .gnb__link-container {
    margin-left: 80px;

    .gnb-link {
      position: relative;
      height: 100%;
      margin-right: 40px;
      color: $black2;
      font-size: 18px;
      font-weight: 500;
      line-height: 70px;
      text-decoration: none;
      cursor: pointer;

      &--active {
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: -1px;
          right: 0;
          left: 0;
          height: 4px;
          background: $primary;
        }
      }
    }
  }

  .gnb-search {
    .q-field__append .q-icon {
      opacity: 1 !important;
    }
  }

  .gnb-icon {
    margin-left: 20px;
  }

  &.q-layout__section--marginal {
    color: $black2;
  }
}
