.kw-select.q-select {
  & .q-field {
    &__input {
      width: 0;
      min-width: 1px !important; // quasar use !important already...
    }

    &__native {
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.kw-select__placeholder {
          color: $placeholder;
          font-weight: 400;
        }
      }
    }
  }

  &.q-field {
    &--readonly,
    &--disabled {
      .q-select__dropdown-icon {
        opacity: 0.6 !important;
      }

      // .q-field__native {
      //   .kw-select__placeholder {
      //     color: transparent;
      //   }
      // }
    }
  }

  .q-select__dropdown-icon {
    opacity: 1 !important;
    color: $black1;
    transition: none;
  }
}

.kw-select-options {
  @include native-scrollbar(overlay, auto);

  border: 1px solid $black1;
  border-radius: 0;
  box-shadow: none;

  .q-item {
    min-height: 34px;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: normal;
    color: $black2;

    &__section {
      &--side {
        .q-checkbox {
          &__icon {
            font-size: 1em;
          }
        }
      }

      &--main {
        margin: 0 !important;
      }
    }

    &.q-hoverable:hover,
    &.q-focusable:focus,
    &.q-manual-focusable--focused {
      font-weight: 700;
      background-color: $bg-box;
      color: $black1;
    }

    .q-focus-helper {
      display: none;
    }
  }

  &__side {
    flex: none;
    padding-right: 4px;
  }
}

body.mobile:not(.tablet) {
  .q-select__dialog {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100vw !important;
    max-width: 100vw !important;
    max-height: calc(100vh - 80px);
    border-radius: 16px 16px 0 0;
    box-shadow: none;

    .q-field {
      display: none;
    }

    .q-select--single + .kw-select-options {
      .q-virtual-scroll__content {
        padding-bottom: 16px;
      }
    }
  }

  .q-dialog {
    &:has(.q-select__dialog) {
      .q-dialog__backdrop {
        background: rgb(0 0 0 / 55%);
      }
    }
  }

  .kw-select-options {
    @include native-scrollbar(overlay, auto, true, true);

    border: none;

    .q-item {
      padding: 14px 20px;
      height: 48px;
      flex-direction: row-reverse;

      // background: url(~@assets/icons/dialog_checked_off.svg) no-repeat right 20px center;

      &__label {
        color: $black1;

        @include typo("dense",500);
      }

      &--active {
        background: rgba(47 138 243 / 5%) url(~@assets/icons/dialog_checked_on.svg) no-repeat right 20px center;
        background-size: 24px auto;

        .q-item__label {
          color: $primary;
        }
      }
    }

    &__header {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px 20px 24px;
      width: 100%;
      border-radius: 16px 16px 0 0;
      background: #fff;
      z-index: 1;

      > h1 {
        flex: 1;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5rem;
        color: $black1;
        text-align: left;
      }

      > .q-icon {
        width: 24px;
        font-size: 24px;
        cursor: pointer;
      }
    }

    &__side {
      flex: none;
      padding: 0;
      padding-left: 16px;

      .kw-checkbox .q-checkbox__bg {
        background-image: none;
        background-size: 24px auto;
      }
    }

    &__action {
      position: sticky;
      bottom: 0;
      display: flex;
      padding: 24px 20px 32px;
      width: 100%;
      background: #fff;
      z-index: 1;

      .kw-btn {
        @include kw-btn-height-modifier(8px, 1.5rem, 16px, 400, normal);
      }
    }

    &__select-all {
      position: sticky;
      background-color: #fff;
      top: 74px;
      z-index: 1;

      .kw-select-options__side {
        .kw-checkbox .q-checkbox__inner--truthy .q-checkbox__bg {
          background: url(~@assets/icons/dialog_checked_on.svg) no-repeat center;
          background-size: 24px auto;
        }
      }
    }
  }

  .kw-select.q-select {
    & .q-field {
      &__native {
        span {
          &.kw-select__placeholder {
            color: $placeholder;
            font-weight: 400;
          }
        }
      }
    }

    &.kw-select--small {
      height: 20px;

      .kw-field .q-field__control {
        min-height: 20px;
      }

      .q-field__native {
        min-height: 20px;
        height: 20px;
        font-weight: normal;
      }

      .q-field__marginal {
        min-height: 20px;
        height: 20px;
      }
    }
  }

  .no-pointer-events.q-field__label {
    pointer-events: all !important;
  }
}
