.kw-select.q-select {
  .q-field__input {
    width: 0;
    min-width: 1px !important; // quasar use !important already...
  }
}

.kw-select-options-menu.q-menu {
  border: 1px solid $black1;
  border-radius: 0;
  box-shadow: none;

  .q-item {
    min-height: 34px;
    padding: 7px 12px;
    font-size: 14px;
    font-weight: 400;
    color: $black2;

    &__section {
      &--side {
        .q-checkbox {
          &__icon {
            font-size: 1em;
          }
        }
      }
    }

    .q-focus-helper {
      transition: none;

      &::before,
      &::after {
        display: none;
      }
    }

    &.q-manual-focusable--focused {
      font-weight: 700;
      color: $black1;

      & > .q-focus-helper {
        background-color: $bg-box;
        opacity: 1;
        z-index: -1;
      }
    }
  }
}
