.kw-card {
  &.q-card {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid $line-line;
    padding: 24px; // 모든  card padding 30 -> 24px 로 변경
    width: calc((100% - 80px) / 4);
  }

  &--selected {
    background-color: $bg-white !important;
    border: 1px solid $black1;
  }
}

.kw-card-actions {
  &.q-card__actions {
    padding: 0;
  }
}
