.kw-item-type {
  min-height: $kw-field-height;
  padding: 0;

  &--padding {
    padding: $kw-item-padding;
  }

  &--dense {
    @include typo("dense");

    min-height: $kw-field-height-dense;
  }
}

%kw-item-type-padding {
  padding: $kw-item-padding;
}

%kw-item-type-dense {
  @include typo("dense");

  min-height: $kw-field-height-dense;
}

.kw-item {
  &.q-item {
    > .q-item__section--thumbnail:first-child,
    > .q-focus-helper + .q-item__section--thumbnail {
      margin-left: 0;
    }

    > .q-item__section--thumbnail:last-of-type {
      margin-right: 0;
    }

    &--dense {
      // remove quasar dense
      min-height: unset;
      padding: unset;
    }

    &.q-router-link--active,
    &--active {
      color: inherit;
    }

    .q-focus-helper {
      display: none;
    }
  }

  & .q-item {
    // todo
  }

  // section
  &__section {
    $-kw-item-section-side-padding-right: 20px; // if you change default, you can handle it.
    $-kw-item-section-side-padding-left: 20px; // if you change default, you can handle it.

    &.q-item__section {
      flex-wrap: nowrap;

      &--side {
        color: inherit;
        padding-right: $-kw-item-section-side-padding-right;

        > .q-icon {
          font-size: 1em;
          min-height: 24px; // title 과 line-height가 맞지않아 추가
        }
      }

      &--main {
        & + & {
          margin-left: 0;
        }

        &.q-item__section--thumbnail {
          margin-left: 0;
          margin-right: 0;
        }

        ~ .q-item__section--side {
          padding-right: 0;
          padding-left: $-kw-item-section-side-padding-left;
        }
      }

      .kw-checkbox,
      .kw-radio {
        min-height: 24px; // title 과 line-height가 맞지않아 추가
      }
    }

    &--top {
      justify-content: flex-start;
    }

    &--center {
      justify-content: center;
    }

    &--bottom {
      justify-content: flex-end;
    }
  }

  // END section

  // label
  &__label {
    &.q-item__label {
      line-height: inherit !important; // quasar use important...

      & + .q-item__label {
        margin-top: 0;
      }
    }

    &--padding,
    %kw-item-padding {
      padding: 0 16px;
    }
  }

  // END label
}

body.mobile {
  // only mobile
  &:not(.tablet) {
    .kw-item {
      &__section {
        $-kw-item-section-side-padding-right: 8px;
        $-kw-item-section-side-padding-left: 8px;

        &.q-item__section {
          &--side {
            padding-right: $-kw-item-section-side-padding-right;
          }

          &--main {
            & ~ .q-item__section--side {
              padding-right: 0;
              padding-left: $-kw-item-section-side-padding-left;
            }
          }

          &:has(.q-expansion-item__toggle-icon) {
            padding-right: 0;
            padding-left: $-kw-item-section-side-padding-left;
          }
        }
      }
    }

    // .kw-form {
    //   &-item {
    //     padding: 6px 0;
    //     min-height: 22px;
    //     line-height: 22px;

    //     &:first-child {
    //       padding-top: 0;
    //     }

    //     &:last-child {
    //       padding-bottom: 0;
    //     }

    //     &__label,
    //     &__field {
    //       line-height: 22px;
    //       min-height: 22px;
    //     }
    //   }

    //   &-type {
    //     min-height: 22px;
    //   }
    // }
  }
}
