.scoped-error {
  &--h1 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
  }

  &--p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 24px;

    span {
      display: inline-block;
      word-break: keep-all;
    }
  }

  &--svg {
    width: 60px;
    height: 60px;

    text {
      fill: #fff;
      font-size: 30px;
      font-family: "Noto Sans KR", sans-serif;
      font-weight: 700;
    }
  }
}

@media (max-width: 500px) {
  .scoped-error {
    &--h1 {
      font-size: 22px;
      line-height: 32px;
    }

    &--p {
      margin-top: 12px;
      color: #777;
    }

    &--svg {
      width: 48px;
      height: 48px;
    }

    &--btn {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
    }
  }
}
