.global-notify {
  z-index: 9999;

  .q-dialog__inner {
    position: relative;

    // top: 250px; // global notify 높이 전체적으로 조정
    padding: 0 !important;

    > div {
      max-width: initial;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &--minimized {
    .q-dialog__inner {
      padding: 0 !important;
    }
  }

  &__inner {
    display: flex;
    justify-content: center;
    padding: 10px 8px;
    width: 100%;
    height: 100%;
    background: rgba($secondary, 95%);
  }

  &__message {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    align-items: center;
    white-space: pre-wrap;
  }
}
