/*
  Layout
 */
body.mobile .mobile-layout {
  min-width: 360px;
  background: white;
  z-index: 2;
}

.mobile {
  .kw-popup--full,
  .q-dialog__inner--maximized > div {
    box-shadow: none;
  }
}

/*
  Footer
 */
body.mobile:not(.tablet) .main-menu-modal .fixed-full {
  bottom: 60px !important;
}

.mobile-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0;
  background: #fff; // 아이콘이 하얀색이라 임시로 배경 컬러 수정
  z-index: 6001;

  button {
    flex: 1 1 auto;
    height: 60px;

    & > .q-btn__content {
      display: block;
      padding-top: 7px;

      & > .on-left {
        margin-right: 0;

        & + span {
          color: $black1;
          font-size: 11px;
          height: 16px;
          line-height: 16px;
          font-weight: 400;
        }
      }
    }
  }

  &:has(.curr) {
    button {
      opacity: 0.5;

      &.curr {
        opacity: 1;

        & > .q-btn__content > .on-left + span {
          font-weight: 500;
        }
      }
    }
  }
}

/*
  View
 */
