/*
  Layout
 */
body.mobile .mobile-layout {
  min-width: 360px;
  background: white;
  z-index: 2;
}

.mobile {
  .kw-popup--full,
  .q-dialog__inner--maximized > div {
    box-shadow: none;
  }
}

/*
  Left Drawer
 */
.mobile-left-drawer {
  display: flex;
  overflow: hidden;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid $line-line;
    font-weight: 700;
    font-size: 18px;
    color: $black1;
  }

  &__content {
    flex: 100;
    height: 100%;

    > div {
      height: calc(100% - 50px);

      .kw-scroll-area__wrapper {
        max-height: 100%;
      }
    }
  }
}

.mobile-left-drawer__menu {
  &.q-tree {
    .q-focus-helper {
      display: none;
    }
  }

  .q-tree {
    &__node {
      padding: 0;
      margin: 0;
    }

    &__node-header {
      padding: 0 !important;
      margin: 0;
    }

    &__node-header-content {
      padding: 0 20px;
      font-size: 14px;
      font-weight: 400;
      color: $black3;

      .q-icon {
        font-size: inherit;
        transition: transform 0.3s;
      }

      &:hover {
        font-weight: 700;
        color: $black1;
      }
    }

    &__children {
      padding: 14px 0;
      background: $bg-box;

      .q-tree__children {
        padding: 0;
      }
    }

    &__node--parent {
      &:has(.q-tree__node-collapsible > .q-tree__children > .q-tree__node > .q-tree__node--selected) {
        > .q-tree__node-header .q-tree__node-header-content {
          font-weight: 700;
          color: $black1;
        }
      }
    }

    &__node--selected .q-tree__node-header-content {
      font-weight: 700;
      color: $black1;
    }

    &__arrow {
      display: none;
    }
  }

  .menu-tree {
    &--empty {
      padding: 0 20px;
    }

    &__node {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__node-content {
      flex: 1 1 0%;
    }

    &__node--depth-0 {
      min-height: 45px;
      font-size: 16px;
    }

    &__node--depth-1 {
      padding-right: 40px;
      min-height: 30px;

      &::before {
        content: "-";
        display: inline-block;
        margin-right: 2px;
        font-weight: 700;
      }
    }

    &__node--depth-2 {
      padding-left: 40px;
      min-height: 21px;

      &::before {
        content: "·";
        display: inline-block;
        margin-right: 2px;
        font-weight: 700;
      }
    }

    &__arrow {
      font-size: inherit;
      transition: transform 0.3s;

      &--expanded {
        transform: rotate(180deg);
      }
    }
  }
}

/*
  Footer
 */
body.mobile:not(.tablet) .main-menu-modal .fixed-full {
  bottom: 60px !important;
}

.mobile-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0;
  background: #fff; // 아이콘이 하얀색이라 임시로 배경 컬러 수정
  z-index: 6001;

  button {
    flex: 1 1 auto;
    height: 60px;

    & > .q-btn__content {
      display: block;
      padding-top: 7px;

      & > .on-left {
        margin-right: 0;
        color: black; // write_24.svg 가 mobileFooter에서 보이지 않아 임시수정

        & + span {
          color: $black1;
          font-size: 11px;
          height: 16px;
          line-height: 16px;
          font-weight: 400;
        }
      }
    }
  }

  &:has(.curr) {
    button {
      opacity: 0.5;

      &.curr {
        opacity: 1;

        & > .q-btn__content > .on-left + span {
          font-weight: 500;
        }
      }
    }
  }
}

/*
  View
 */
