.kw-field {
  $-kw-field-gap: 8px;
  $-kw-field-gap-dense: 4px;
  $-kw-field-standard-padding: 4px;

  font-size: $kw-field-font-size;

  & .q-field {
    &__marginal {
      height: $kw-field-height; // min-height: $kw-field-height;
      font-size: $kw-field-font-size-marginal;

      // added for clear icon focused action.
      > .q-field__focusable-action {
        opacity: 1;
      }
    }

    &__before,
    &__prepend {
      padding-right: $-kw-field-gap;
    }

    &__after,
    &__append {
      padding-left: $-kw-field-gap;
    }

    &__append {
      padding-left: 20px;

      & + .q-field__append {
        padding-left: 8px;
      }
    }

    &__inner {
      // align-self: initial;
    }

    &__bottom {
      padding: 0;
      font-size: $kw-field-font-size-bottom;
      line-height: 1;
      min-height: $kw-field-font-size-bottom;
    }

    &__messages {
      max-width: initial;
      flex: 1 1 100px;
    }

    &__counter {
      flex: 0 0 auto;
    }

    &__control {
      height: $kw-field-height; // min-height: $kw-field-height;
      color: $kw-field-color;

      &::before,
      &::after {
        transition: initial;
      }
    }

    &__native,
    &__prefix,
    &__suffix,
    &__input {
      font-weight: 500;
      font-size: inherit;
      line-height: $kw-field-line-height;
      color: $kw-field-color;
      padding: 0;
    }

    // customize
    &__prefix,
    &__suffix {
      font-weight: 400;
      color: $black3;
    }

    &__label {
      @include typo("dense", 400);

      left: 0;
      top: -1 * $kw-field-label-height;
      max-width: 100%;
      color: $input-label-color;
      text-decoration: inherit;
      text-transform: inherit;
      transition: none;
    }
  }

  &.q-field {
    &--item-aligned {
      .q-field__before {
        min-width: $kw-field-height;
      }
    }

    &--readonly {
      .q-field__control {
        &::before {
          background-color: transparent;
        }

        background-color: $kw-field-bg-color-readonly;
      }
    }

    &--disabled {
      .q-field__control {
        &::before {
          background-color: $kw-field-bg-color-disable;
        }
      }
    }

    &--readonly,
    &--disabled {
      .q-field__native,
      .q-field__prefix,
      .q-field__suffix,
      .q-field__input {
        color: $kw-field-color-disable;
      }

      .q-field__marginal {
        .q-icon {
          opacity: 0.6 !important;
        }
      }
    }

    &--disabled {
      .q-field__control > div {
        opacity: 1 !important // control by fixed color : $black3
      }
    }

    // focus
    &.q-field--highlighted {
      // style type 마다 focus 설정이 다름. 공통적으로 적용할 것 만 이 곳에 정의 할 것.
    }

    &.q-field--filled {
      // do not use
    }

    // outlined == desktop default
    &--outlined {
      .q-field__control {
        border-radius: $kw-field-border-radius;

        &::before {
          border-color: $line-stroke;
        }

        &:hover::before {
          border-color: $black1;
        }

        &::after {
          border: 1px solid transparent;
        }
      }

      .q-field--rounded .q-field__control {
        border-radius: calc(#{$kw-field-height} / 2);
      }

      &.q-field--highlighted {
        // we use field in field.... sorry for this.
        > .q-field__inner > .q-field__control {
          &:hover::before {
            border-color: transparent;
          }

          &::after {
            border-width: 1px;
            border-color: $black1;
          }
        }
      }

      &.q-field--readonly {
        .q-field__control {
          &::before {
            border-style: solid;
          }

          &:hover::before {
            border-color: $line-stroke;
          }
        }
      }
    }

    // standard == underline == mobile default
    &--standard {
      .q-field__control {
        padding-left: $-kw-field-standard-padding;
        padding-right: $-kw-field-standard-padding;

        &::before {
          border-color: $line-stroke;
        }

        &:hover::before {
          border-color: $black1;
        }

        &::after {
          height: 0; // notice. transform to height
          transform: initial; // turn off animation
        }
      }

      &.q-field--highlighted {
        .q-field__control {
          &:hover::before {
            border-color: transparent;
          }

          &::after {
            height: 1px;
            border-color: $black1;
          }
        }
      }

      &.q-field--readonly {
        .q-field__control {
          &::before {
            border-bottom-style: solid;
          }

          &:hover::before {
            border-color: $line-stroke;
          }
        }
      }
    }

    &--dense {
      font-size: $kw-field-font-size-dense;

      .q-field__control,
      .q-field__marginal {
        height: $kw-field-height-dense;
      }

      .q-field__append {
        padding-left: 20px;

        & + .q-field__append {
          padding-left: 8px;
        }
      }

      .q-field__bottom {
        font-size: $kw-field-font-size-bottom-dense;
      }

      .q-field__before,
      .q-field__prepend {
        padding-right: $-kw-field-gap-dense;
      }

      .q-field__after,
      .q-field__append {
        padding-left: $-kw-field-gap-dense;
      }

      .q-field__native,
      .q-field__prefix,
      .q-field__suffix,
      .q-field__input {
        line-height: $kw-field-line-height-dense;
      }
    }

    // error
    &--error {
      .q-field__label {
        animation: none;
      }

      > .q-field__inner > .q-field__control {
        &::before,
        &::after {
          color: $error !important;
          border-color: $error !important;
        }
      }

      > .q-field__inner > .q-field__bottom {
        color: $error !important;
      }
    }

    &--labeled {
      // remove quasar default rules
      .q-field__native,
      .q-field__prefix,
      .q-field__suffix {
        line-height: unset;
        padding-top: unset;
        padding-bottom: unset;
      }

      &:not(.q-field--float) {
        .q-field__prefix,
        .q-field__suffix {
          opacity: 1;
        }

        .q-field__native,
        .q-field__input {
          &::-webkit-input-placeholder {
            color: $placeholder;
          }

          &::-moz-placeholder {
            color: $placeholder;
          }

          &:-ms-input-placeholder {
            color: $placeholder !important;
          }

          &::-ms-input-placeholder {
            color: $placeholder;
          }

          &::placeholder {
            color: $placeholder;
          }
        }
      }

      &.q-field--dense {
        .q-field__native,
        .q-field__prefix,
        .q-field__suffix {
          padding-top: unset;
          padding-bottom: unset;
        }
      }

      // added
      .q-field__after,
      .q-field__before,
      .q-field__control {
        margin-top: $kw-field-label-height;
      }

      &.q-field--dense {
        .q-field__after,
        .q-field__before,
        .q-field__control {
          margin-top: $kw-field-label-height-dense;
        }
      }
    }

    &--float .q-field__label {
      max-width: unset;
      transform: none;
      transition: none;
    }

    &--auto-height {
      .q-field__control,
      .q-field__marginal,
      .q-field__native {
        height: auto;
        min-height: $kw-field-height;
      }

      &.q-field--labeled {
        .q-field__control-container {
          padding-top: 0;
        }
      }

      &.q-field--dense {
        .q-field__control,
        .q-field__marginal,
        .q-field__native {
          min-height: $kw-field-height-dense;
        }
      }
    }
  }

  .q-transition--field-message {
    &-leave-from,
    &-leave-active {
      position: static;
      width: 100%;
      animation: none;
      transition: none;
    }
  }

  &--required {
    & .q-field {
      &__label {
        > span:is(:first-of-type)::after {
          content: "*";
          display: contents;
          color: $accent;
        }
      }
    }
  }
}

.kw-field-wrap {
  position: relative;

  .kw-field {
    & .q-field {
      &__label {
        display: none; // notice. field-wrap 에 속한 field 의 label 무시
      }

      &__messages {
        display: none;
      }
    }

    &.q-field {
      &--labeled {
        .q-field__after,
        .q-field__before,
        .q-field__control {
          margin-top: 0;
        }

        &.q-field--dense {
          .q-field__after,
          .q-field__before,
          .q-field__control {
            margin-top: 0;
          }
        }
      }

      &--error {
        .q-field__messages {
          display: unset;
        }
      }
    }
  }

  &__control {
    outline: none;
    height: $kw-field-height;
    display: flex;
    flex-flow: row nowrap;
  }

  &.self-stretch {
    display: flex;
  }

  &__control-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    & > span {
      // margin: auto;
      padding: 0 4px;
      font-size: 14px;
      color: $black3;
    }
  }

  &__bottom {
    padding: 0;
    min-height: $kw-field-font-size-bottom;
    font-size: $kw-field-font-size-bottom;
    line-height: 1;
    color: rgb(0 0 0 / 54%);

    &--animated {
      transform: translateY(100%);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__label {
    @include typo("dense", 400);

    white-space: nowrap;
    position: absolute;
    left: 0;
    top: -1 * $kw-field-label-height;
    max-width: 100%;
    color: $input-label-color;
    text-decoration: inherit;
    text-transform: inherit;
    transition: none;
  }

  &--error {
    .kw-field-wrap__bottom {
      color: $error !important;
    }

    .q-field__control {
      &::before,
      &::after {
        color: $error !important;
        border-color: $error !important;
      }
    }

    .kw-field {
      &.q-field {
        .q-field__bottom {
          display: none;
        }
      }
    }
  }

  &--dense {
    .kw-field-wrap__control {
      height: $kw-field-height-dense;
    }

    .kw-field-wrap__bottom {
      font-size: $kw-field-font-size-bottom-dense;
    }
  }

  &--labeled {
    .kw-field-wrap__control {
      margin-top: $kw-field-label-height;
    }

    &.kw-field-wrap--dense {
      .kw-field-wrap__control {
        margin-top: $kw-field-label-height-dense;
      }
    }
  }

  &--auto-height {
    .kw-field-wrap__control {
      height: auto;
      min-height: $kw-field-height;
    }

    &.kw-field-wrap--dense {
      .kw-field-wrap__control {
        height: auto;
        min-height: $kw-field-height-dense;
      }
    }
  }

  &--required {
    & .kw-field-wrap__label {
      > span:is(:first-of-type) {
        padding: 0;

        &::after {
          content: "*";
          display: contents;
          color: $accent;
        }
      }
    }
  }

  &--stack {
    .kw-field-wrap__control-container {
      flex-direction: column;
    }
  }

  &.grow {
    .kw-field-wrap__control-container > .kw-field {
      flex-grow: 1;
    }
  }

  &.grow-off {
    .kw-field-wrap__control-container > .kw-field {
      flex-grow: 0;
    }
  }

  &.shrink {
    .kw-field-wrap__control-container > .kw-field {
      flex-shrink: 1;
    }
  }

  &.shrink-off {
    .kw-field-wrap__control-container > .kw-field {
      flex-shrink: 0;
    }
  }

  .q-transition--field-message {
    &-leave-from,
    &-leave-active {
      position: static;
      width: 100%;
      animation: none;
      transition: none;
    }
  }
}

body.desktop,
body.tablet {
  .kw-field {
    & .q-field {
      &__messages {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-height: 16px;

        * {
          max-width: 100%;
        }
      }
    }

    &.q-field {
      &--with-bottom {
        padding-bottom: 0;
      }
    }
  }

  .kw-field-wrap {
    &__messages {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      * {
        max-width: 100%;
      }
    }
  }
}

body.mobile:not(.tablet) {
  .kw-field {
    & .q-field {
      &__control-container {
        position: static;
      }

      &__messages {
        overflow-wrap: anywhere;
      }

      &__label {
        line-height: 20px !important;
      }
    }

    &.q-field {
      &--auto-height {
        .kw-field-wrap__control {
          height: auto;
          min-height: 44px !important;
        }
      }

      &--readonly {
        .q-field__control {
          color: $kw-field-color-disable;

          &::before {
            border-color: $line-bg;
          }

          background-color: transparent;
        }
      }

      &--disabled {
        .q-field__control {
          color: $kw-field-color-disable;

          &::before {
            background-color: transparent;
            border-color: $line-bg;
          }
        }
      }
    }
  }

  .kw-field-wrap {
    &__control-container {
      & > .kw-field:not(.grow) {
        flex: 0 1 50%;
      }
    }

    &__messages {
      overflow-wrap: anywhere;
    }

    &__control.selectbox {
      .kw-field-wrap__control-container {
        padding: 0 20px;
        background-color: $bg-body;
        border-bottom: 1px solid $line-line;

        .kw-select__placeholder {
          font-size: 14px;
          color: $black1;
          font-weight: 400;
        }
      }
    }
  }
}
