.kw-scroll-picker {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 75%), rgb(255 255 255 / 0%));
    z-index: 1;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(255 255 255 / 75%));
    z-index: 1;
    pointer-events: none;
  }

  &__options {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    transform-style: preserve-3d;

    .q-item {
      position: absolute;
      width: 100%;
      min-height: initial;
      padding: 7px 12px;
      font-size: 14px;
      font-weight: 500;
      color: $black2;

      &__label {
        text-align: center;
      }

      &.q-router-link--active,
      &--active {
        color: $black2;
      }

      .q-focus-helper {
        display: none;
      }
    }
  }

  &__highlight {
    position: absolute;
    top: calc(50% - 17px);
    width: 100%;
    height: 34px;
    overflow: hidden;
    background: rgba(128 128 128 / 20%);
  }

  &__highlight &__options {
    .q-item {
      font-weight: 700;
    }
  }
}
