/* stylelint-disable declaration-block-single-line-max-declarations */
/* stylelint-disable function-url-quotes */
/* stylelint-disable scss/double-slash-comment-whitespace-inside */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable selector-class-pattern */
// checkbox
.q-checkbox__inner {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;

  &::before,
  .q-checkbox__svg {
    display: none;
  }

  .q-checkbox__bg {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(~assets/images/checkbox_off.svg) no-repeat center;
    background-size: 18px;
    border-radius: 0;
    border: none;
  }

  &.q-checkbox__inner--truthy .q-checkbox__bg,
  &.q-checkbox__inner--indet .q-checkbox__bg {
    background: url(~assets/images/checkbox_on.svg) no-repeat center;
    background-size: 18px;
    border: none;
  }
}

.q-checkbox {
  margin-right: 20px;
  height: 32px;

  &__label {
    margin-left: 4px;
  }
}

.q-checkbox.disabled {
  .q-checkbox__label {
    color: $placeholder;
  }

  .q-checkbox__bg {
    background: url(~assets/images/checkbox_disable.svg) no-repeat center;
    background-size: 18px;
  }

  .q-checkbox__inner--truthy .q-checkbox__bg {
    background: url(~assets/images/checkbox_selected_disable.svg) no-repeat center;
    background-size: 18px;
  }
}
