/* stylelint-disable declaration-block-single-line-max-declarations */
/* stylelint-disable function-url-quotes */
/* stylelint-disable scss/double-slash-comment-whitespace-inside */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable selector-class-pattern */

.kw-checkbox {
  $root: ".q-checkbox";

  margin-right: 20px;
  height: 32px;

  #{$root}__label {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $black1;
  }
  #{$root}__inner {
    position: relative;
    width: 22px;
    min-width: 22px;
    height: 22px;

    &::before,
    #{$root}__svg {
      display: none;
    }

    #{$root}__bg {
      position: absolute;
      width: 22px;
      height: 22px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url(~assets/images/checkbox_off.svg) no-repeat center;
      background-size: 22px;
      border-radius: 0;
      border: none;
    }

    &#{$root}__inner--truthy #{$root}__bg,
    &#{$root}__inner--indet #{$root}__bg {
      background: url(~assets/images/checkbox_on.svg) no-repeat center;
      background-size: 22px;
      border: none;
    }
  }

  &.disabled {
    #{$root}__label {
      color: $placeholder;
    }

    #{$root}__bg {
      background: url(~assets/images/checkbox_disable.svg) no-repeat center;
      background-size: 22px;
    }

    #{$root}__inner--truthy #{$root}__bg {
      background: url(~assets/images/checkbox_selected_disable.svg) no-repeat center;
      background-size: 22px;
    }
  }
}
