.kw-checkbox,
%kw-checkbox {
  $-kw-checkbox-icon-size: 22px; // maybe calc(#{$kw-field-line-height} - 2px)
  $-kw-checkbox-icon-size-dense: 18px;
  $-kw-checkbox-label-font-size: $kw-field-font-size;
  $-kw-checkbox-label-font-size-dense: $kw-field-font-size-dense;
  $-kw-checkbox-line-height: $kw-field-line-height;
  $-kw-checkbox-line-height-dense: $kw-field-line-height-dense;
  $-kw-checkbox-margin: (($kw-field-height - $kw-field-line-height) / 2);
  $-kw-checkbox-margin-dense: (($kw-field-height-dense - $kw-field-line-height-dense) / 2);

  & .q-checkbox {
    &__bg { /* does not appear when using icon */
      inset: 1px;
      width: $-kw-checkbox-icon-size;
      height: $-kw-checkbox-icon-size;
      border: none;
      border-radius: 0;
      background: url(~@assets/images/checkbox_off.svg) no-repeat center;
      background-size: $-kw-checkbox-icon-size;
    }

    &__icon {
      font-size: 1em;
    }

    &__svg {
      display: none;
    }

    &__truthy { /* does not appear */ }

    &__indet { /* does not appear */ }

    &__inner {
      font-size: $-kw-checkbox-icon-size;
      width: $-kw-checkbox-line-height;
      min-width: $-kw-checkbox-line-height;
      height: $-kw-checkbox-line-height;
      color: inherit;

      &--truthy {
        color: inherit;

        use {
          /*
          If you want use custom icon, you should override this. or use fixed color in your icon svg.

          only appear when using svg-use way what we use.
          notify, there is <use> does not rendered in main dom,
          so, if you want styling them, only you can use inherit properties.
          like, currentColor, or inherit.
          ref) https://tympanus.net/codrops/2015/07/16/styling-svg-use-content-css/
         */
          // stroke: $primary; // border color
          // fill: $primary; // background color
          // color: $bg-white; // inner content color, like check path.
        }

        .q-checkbox__bg {
          background: url(~@assets/images/checkbox_on.svg) no-repeat center;
          background-size: $-kw-checkbox-icon-size;
        }
      }

      &--indet {
        color: inherit;

        .q-checkbox__bg {
          background: url(~@assets/images/checkbox_indet.svg) no-repeat center;
          background-size: $-kw-checkbox-icon-size;
        }
      }

      &--falsy {
        & ~ .q-checkbox__label {
          color: $black2;
          font-weight: 400;

          &:hover {
            color: $black1;
          }
        }
      }
    }

    &__label {
      padding-left: 8px;
      font-size: $-kw-checkbox-label-font-size;
      line-height: $-kw-checkbox-line-height;
      font-weight: 500;
      color: $black1;
      word-break: keep-all;
    }
  }

  &.q-checkbox {
    justify-content: center;

    &:hover {
      color: $black1;
    }

    &.reverse .q-checkbox__label {
      padding-left: 0;
      padding-right: 8px;
    }

    &.disabled {
      opacity: unset !important;

      .q-checkbox__label {
        color: $placeholder;
      }

      .q-checkbox__bg {
        background: url(~@assets/images/checkbox_disable.svg) no-repeat center;
        background-size: $-kw-checkbox-icon-size;
      }

      .q-checkbox__inner {
        font-size: $-kw-checkbox-icon-size;

        &--truthy .q-checkbox__bg {
          background: url(~@assets/images/checkbox_selected_disable.svg) no-repeat center;
          background-size: $-kw-checkbox-icon-size;
        }

        &--indet .q-checkbox__bg {
          background: url(~@assets/images/checkbox_indet_disable.svg) no-repeat center;
          background-size: $-kw-checkbox-icon-size;
        }
      }
    }

    &--dense {
      .q-checkbox__inner {
        font-size: $-kw-checkbox-icon-size-dense;
        width: $-kw-checkbox-line-height-dense;
        min-width: $-kw-checkbox-line-height-dense;
        height: $-kw-checkbox-line-height-dense;

        &--truthy,
        &--falsy,
        &--indet {
          .q-checkbox__bg {
            background-size: $-kw-checkbox-icon-size-dense;
          }
        }
      }

      .q-checkbox__bg {
        inset: 1px;
        width: $-kw-checkbox-icon-size-dense;
        height: $-kw-checkbox-icon-size-dense;
        background-size: $-kw-checkbox-icon-size-dense;
      }

      .q-checkbox__label {
        padding-left: 4px;
        font-size: $-kw-checkbox-label-font-size-dense;
        line-height: $-kw-checkbox-line-height-dense;
      }

      &.reverse .q-checkbox__label {
        padding-left: 0;
        padding-right: 4px;
      }

      &.disabled .q-checkbox__inner .q-checkbox__bg {
        background-size: $-kw-checkbox-icon-size-dense;
      }
    }

    &.grow {
      flex-grow: 0;
      margin-left: auto;
      margin-right: auto;
    }

    &.self-stretch {
      align-self: unset;
      margin-top: auto;
      margin-bottom: auto;
    }

    &.pad {
      align-self: unset;
      margin: $-kw-checkbox-margin;
    }

    &--dense.pad {
      margin: $-kw-checkbox-margin-dense;
    }
  }

  &.kw-checkbox--no-label {
    .q-checkbox__label {
      display: none;
    }
  }
}

// remove shadow effect
body.desktop {
  .q-checkbox:not(.disabled) {
    .q-checkbox__inner::before {
      display: none;
    }

    &:focus,
    &:hover {
      .q-checkbox__inner::before {
        transform: none;
      }
    }
  }

  .q-checkbox--dense:not(.disabled) {
    &:focus,
    &:hover {
      .q-checkbox__inner::before {
        transform: none;
      }
    }
  }
}

body.mobile {
  .kw-checkbox.q-checkbox {
    &.check-btn {
      padding: 7px 12px 7px 8px;
      border: 1px solid $line-stroke;
      justify-content: flex-start;

      @at-root .spaced-sibling + .spaced-sibling {
        margin-left: 8px;
      }

      .q-checkbox__icon {
        color: $line-stroke;
      }

      .q-checkbox__label {
        @include typo("dense", 400);

        color: $black3;
      }

      &[aria-checked="true"] {
        border: 1px solid $primary;
      }

      .q-checkbox__inner--truthy {
        .q-checkbox__icon {
          color: $primary;
        }

        & ~ .q-checkbox__label {
          color: $primary;
        }
      }
    }
  }

  .kw-checkbox .q-checkbox {
    &__inner {
      &--falsy {
        & ~ .q-checkbox__label {
          &:hover {
            color: $black3;
          }
        }
      }
    }
  }
}
