// fonts
@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 700;
  src: url("~assets/fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 500;
  src: url("~assets/fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  font-weight: 400;
  src: url("~assets/fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2");
}

#app > .q-layout { min-width: 1900px; }

body {
  font-size: 16px;
  color: #222;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

[disabled] {
  opacity: 1 !important;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  color: $placeholder !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

// global settings
.kw-page {
  background: #f4f5f6;
}

h1 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: $black-h1;
  letter-spacing: 0;
  margin: 0;
}

h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: $black-h1;
  letter-spacing: 0;
  margin: 0;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: $black-h1;
  letter-spacing: 0;
  margin: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $black-h3;
  letter-spacing: 0;
  margin: 0;
}
