// fonts
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("~@assets/fonts/NotoSansKR-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("~@assets/fonts/NotoSansKR-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("~@assets/fonts/NotoSansKR-Regular.woff2") format("woff2");
}

#app > .q-layout { min-width: 1900px; }

body {
  font-size: 16px;
  color: #222;

  // font-family: "Spoqa Han Sans Neo", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

[disabled] {
  opacity: 1 !important;
}

// gnb 관련
.kw-gnb {
  border-bottom: 1px solid #e5e5e5;

  &.q-layout__section--marginal {
    color: $black2;
  }

  .q-toolbar {
    padding: 0 40px;
    height: 70px;
    background: #fff;

    .q-avatar {
      width: 120px;
      height: 24px;
      margin-right: 80px;
      border-radius: 0;
    }

    .kw-gnb--link {
      display: inline-block;
      color: $black2;
      font-size: 18px;
      margin-right: 40px;
      text-decoration: none;
      font-weight: 500;
      height: 100%;
      line-height: 70px;
      position: relative;

      &.kw-gnb--link-active {
        font-weight: 700;

        &::after {
          content: "";
          position: absolute;
          display: block;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 4px;
          background: $primary;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .gnb-search {
      &.q-field {
        padding-bottom: 0;
      }

      .q-field__bottom--animated {
        display: none;
      }

      .q-field__native {
        border: none;
        border-bottom: 1px solid $placeholder;
        height: 32px;
        padding: 0;
        font-size: 14px;
      }

      .q-field__control {
        height: 32px;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

// lnb 관련
.kw-lnb {
  &__switch {
    position: absolute;
    left: calc(100% - 6px);
    top: calc(50% - 30px);
    width: 30px;
    height: 60px;
    z-index: 990;
    overflow: hidden;
    clip-path: inset(-10px -10px -10px 6px);
    box-shadow: 2px 2px 8px 0 rgb(0 0 0 / 35%);

    &--active {
      svg {
        transform: rotate(180deg);
      }
    }

    &.kw-btn.q-btn {
      padding: 0;
      transition: left 0.08s;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;

      &:hover,
      &:active,
      &::before {
        background-color: $black2 !important;
      }

      .q-icon {
        font-size: 16px;
        margin-left: 5px;
      }
    }
  }

  // menu depth
  &-tree {
    background: #fff;
    position: relative;
    z-index: 1000;

    .q-tree__node-header::before,
    .q-tree__node::after,
    .q-focus-helper {
      display: none;
    }

    .q-tree__node-header,
    .q-tree__children,
    .q-tree__node--parent,
    .q-tree__node {
      padding: 0;
      margin: 0;
    }

    .q-tree__node-header {
      flex-direction: row-reverse;

      .q-focus-helper + i {
        margin-left: -20px;
        margin-right: 20px;
        width: 20px;
        text-indent: -100000px;
        position: relative;

        &::after {
          display: block !important;
          content: "";
          font-size: 5px;
          font-style: normal;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          text-indent: 0;
          line-height: 1.5;
          background: url(~@assets/icons/arrow_down_16.svg) no-repeat center center;
        }

        &.q-tree__arrow.q-tree__arrow--rotate {
          transform: rotate3d(0, 0, 1, 180deg);
        }
      }
    }

    & > .q-tree__node > .q-tree__node-header > .q-focus-helper + i::after {
      display: none !important;
    }

    /* This line is too long for my rule */
    & .q-tree__children > .q-tree__node .q-tree__node-collapsible > .q-tree__children > .q-tree__node > .q-tree__node-header > .q-focus-helper + i {/* stylelint-disable-line */
      margin-left: 0;

      &::after {
        display: block !important;
        content: "▽";
        font-size: 5px;
        font-style: normal;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-indent: 0;
        line-height: 1.5;
        background: none;
      }
    }

    .q-tree__node-header-content > div {
      width: 100%;
      display: flex;
      align-items: center;
      color: $black3;
      font-weight: 400;

      &:hover {
        font-weight: 700;
        color: $black1;
      }
    }

    .q-tree__node-header-content .kw-lnb--selected {
      font-weight: 700;
      color: $black1;
    }

    & > .q-tree__node--parent {
      padding-top: 28px;

      // depth1
      & > .q-tree__node-header {
        & > .q-tree__node-header-content {
          padding: 0 0 0 20px;

          & > div {
            min-height: 45px;
            border-bottom: 2px solid $black1;
            font-weight: 700;
            font-size: 18px;
            color: $black1;
          }
        }
      }

      // depth2
      & > .q-tree__node-collapsible {
        & > .q-tree__children {
          & > .q-tree__node {
            & > .q-tree__node-header {
              & > .q-tree__node-header-content {
                padding: 0 0 0 20px;

                & > div {
                  min-height: 45px;
                  display: flex;
                  align-items: center;
                  border-bottom: 1px solid $line-bg;
                }
              }
            }

            // depth3
            & > .q-tree__node-collapsible {
              margin-top: -1px;

              & > .q-tree__children {
                & > .q-tree__node {
                  background: $bg-box;
                  padding: 0 20px;

                  &:first-child {
                    padding-top: 14px;
                  }

                  &:last-child {
                    padding-bottom: 14px;
                  }

                  & > .q-tree__node-header {
                    & > .q-tree__node-header-content {
                      & > div {
                        min-height: 30px;
                        display: flex;
                        align-items: center;
                        font-size: 14px;

                        &::before {
                          content: "-";
                          display: inline-block;
                          margin-right: 2px;
                          font-weight: 700;
                        }
                      }
                    }
                  }

                  // depth4
                  & > .q-tree__node-collapsible {
                    & > .q-tree__children {
                      & > .q-tree__node {
                        & > .q-tree__node-header {
                          & > .q-tree__node-header-content {
                            padding: 0 20px;

                            & > div {
                              min-height: 20px;
                              display: flex;
                              align-items: center;
                              font-size: 14px;

                              &::before {
                                content: "·";
                                display: inline-block;
                                margin-right: 5px;
                                font-weight: 700;
                              }
                            }
                          }
                        }

                        // depth5
                        & > .q-tree__node-collapsible {
                          & > .q-tree__children {
                            & > .q-tree__node {
                              & > .q-tree__node-header {
                                & > .q-tree__node-header-content {
                                  padding: 0 40px;

                                  & > div {
                                    min-height: 20px;
                                    display: flex;
                                    align-items: center;
                                    font-size: 14px;

                                    &::before {
                                      content: "‥";
                                      display: inline-block;
                                      margin-right: 4px;
                                      font-weight: 700;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &--scroll {
    height: 100%;
    max-width: 279px;
  }
}

body:not(.q-body--layout-animate) .q-layout--prevent-focus {
  visibility: inherit !important;
}

// global settings
.q-page-container {
  background: #f4f5f6;
}

h1 {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: $black1;
}

h2 {
  margin: 0;
  padding: 30px 0 12px;
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  color: $black1;
  border-bottom: 2px solid $black1;
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 14px;
    color: $black3;
    font-weight: normal;

    span {
      display: inline-block;
    }

    & span + span {
      position: relative;
      margin-left: 15px;
      padding-left: 15px;

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 18px;
        background: $line-bg;
      }
    }
  }

  &.h2-small {
    font-size: 18px;
    border-bottom: 1px solid $black1;
  }
}

h3 {
  display: flex;
  margin: 0;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0;
  color: $black1;

  .kw-title-refrence {
    margin-left: 12px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    text-align: left;
    color: $error;
  }

  .kw-notification {
    margin-left: 12px;
    margin-top: 1px;
  }
}

h4 {
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: $black1;
}

p {
  margin: 0;
}

.result-area {
  background-color: #fff;
  border: 1px solid $line-bg;
  border-top: none;
  padding: 10px 40px 40px;

  h3 {
    margin-bottom: 20px;
  }

  & > *:first-child {
    &:is(.kw-action--top, .kw-grid) {
      margin-top: 30px;
    }

    &:is(.kw-notification) {
      margin: 30px 0 20px;
    }
  }

  &--column {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__section {
    flex: 1 1 auto;
    flex-basis: calc(50% - 10px);

    & > *:first-child {
      &:is(.kw-action--top) {
        margin-top: 30px;
      }

      &:is(.kw-notification) {
        margin: 30px 0 20px;
      }
    }

    .kw-action-bar {
      & > div {
        flex: 1 1 auto;
      }
    }
  }
}

.normal-area {
  padding: 0 40px 30px;
  background: #fff;
  border: 1px solid $line-bg;

  h3 {
    margin-bottom: 10px;
  }

  &--button-set-bottom {
    min-height: calc(100vh - 250px);
    padding-bottom: 120px;
    position: relative;

    .button-set--bottom {
      position: absolute;
      bottom: 30px;
      width: calc(100% - 80px);
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      border-top: 1px solid $line-line;
    }
  }
}

.text-placeholder {
  color: #999 !important;
}

.bg-placeholder {
  background-color: #999 !important;
}

// ul,li
.list-type1 {
  font-size: 12px;
  color: $placeholder;
  position: relative;
  list-style: none;
  padding: 0;

  li {
    padding-left: 17px;

    &::before {
      content: "※";
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
}

.spaced-sibling + .spaced-sibling {
  margin-left: 20px;
}

// helpers

$sides: (t, b, l, r, x, y, a);
$unit: px;

@for $space from 1 through 50 {
  @each $side in $sides {
    @if $side == "a" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding: #{$space * 10} + $unit !important;
      }
    } @else if $side == "x" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-left: #{$space * 10} + $unit !important;
        margin-right: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-left: #{$space * 10} + $unit !important;
        padding-right: #{$space * 10} + $unit !important;
      }
    } @else if $side == "y" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-top: #{$space * 10} + $unit !important;
        margin-bottom: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-top: #{$space * 10} + $unit !important;
        padding-bottom: #{$space * 10} + $unit !important;
      }
    } @else {
      $origin: top !default;

      @if $side == "r" {
        $origin: right;
      } @else if $side == "b" {
        $origin: bottom;
      } @else if $side == "l" {
        $origin: left;
      } @else {
        $origin: top;
      }

      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$origin}: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$origin}: #{$space * 10} + $unit !important;
      }
    }
  }
}

@for $space from -500 through 500 {
  @each $side in $sides {
    @if $side == "a" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding: #{$space} + $unit !important;
      }
    } @else if $side == "x" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-left: #{$space} + $unit !important;
        margin-right: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-left: #{$space} + $unit !important;
        padding-right: #{$space} + $unit !important;
      }
    } @else if $side == "y" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-top: #{$space} + $unit !important;
        margin-bottom: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-top: #{$space} + $unit !important;
        padding-bottom: #{$space} + $unit !important;
      }
    } @else {
      $origin: top !default;

      @if $side == "r" {
        $origin: right;
      } @else if $side == "b" {
        $origin: bottom;
      } @else if $side == "l" {
        $origin: left;
      } @else {
        $origin: top;
      }

      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$origin}: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$origin}: #{$space} + $unit !important;
      }
    }
  }
}

@for $size from 1 through 1000 {
  .w#{$size} {
    width: #{$size} + $unit !important;
    max-width: #{$size} + $unit !important;
    min-width: #{$size} + $unit !important;
  }

  .h#{$size} {
    height: #{$size} + $unit !important;
    max-height: #{$size} + $unit !important;
    min-height: #{$size} + $unit !important;
  }
}

@include color-based(".kw-fc--", $semantic-colors) using ($color) {
  color: $color;
}

@include color-based(".kw-bc--", $semantic-colors) using ($color) {
  background-color: $color;
}

.kw-notification-title {
  padding-top: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;

  & + .kw-notification {
    margin-top: 8px;
  }
}

.kw-notification {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 12px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $black3;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      content: "\00B7";
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 4px 0 0;

      li {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: $placeholder;
        position: relative;
        padding-left: 9px;
        margin-top: 2px;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "-";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          text-align: center;
        }
      }
    }
  }
}

// 서치 상단 상태 리스트 (ex. 등록 내역)
.kw-state-list {
  display: flex;
  padding: 30px 40px 40px;
  background-color: $bg-white;

  // ul li reset
  margin: 0;
  list-style: none;

  &__item {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;

    &:not(:first-child) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $line-line;
      }
    }
  }

  &__top {
    font-size: 16px;
    line-height: 1.5;
    color: $black3;
  }

  &__num {
    margin-top: 8px;
    max-height: 44px;
    font-size: 30px;
    font-weight: bold;
    color: $black1;
  }

  &__unit {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
  }
}
