body {
  // font-family: "Spoqa Han Sans Neo", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-size: $html-font-size;
  font-weight: 400;
  color: #222;

  // noinspection CssInvalidPropertyValue
  overflow: overlay !important;
  scrollbar-gutter: stable;

  &:not(.q-body--layout-animate) .q-layout--prevent-focus {
    visibility: inherit !important;
  }
}

.q-body--prevent-scroll__header {
  position: fixed !important;
}

// 전체 bg 잘리는 부분 처리
// #app {
//   position: relative;
//   z-index: 1;

//   &::after {
//     content: "";
//     position: fixed;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     background: #f3f4f5;
//     z-index: 1;
//   }
// }

[disabled] {
  opacity: 1 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  color: $black1;
}

h2 {
  margin: 0;
  padding: 30px 0 12px;
  line-height: 30px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0;
  color: $black1;
  border-bottom: 2px solid $black1;
  display: flex;
  justify-content: space-between;

  & > p {
    font-size: 14px;
    color: $black3;
    font-weight: normal;

    span {
      display: inline-block;
    }

    & span + span {
      position: relative;
      margin-left: 8px;
      padding-left: 8px;

      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 1px;
        height: 18px;
        background: $line-bg;
      }
    }
  }

  & > .row > p {
    font-size: 14px;
    color: $black3;
    font-weight: normal;

    span {
      display: inline-block;
    }
  }

  &.h2-small {
    font-size: 18px;
    border-bottom: 2px solid $black1;

    & p {
      min-width: 400px;
      text-align: right;
      margin-left: 10px;
    }
  }
}

h3 {
  display: flex;
  margin: 0;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: 0;
  color: $black1;

  .kw-title-refrence {
    margin-left: 12px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.17;
    letter-spacing: normal;
    text-align: left;
    color: $error;
  }

  .kw-notification {
    margin-left: 12px;
    margin-top: 1px;
  }
}

h4 {
  margin: 0;
  padding-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: $black1;
}

p {
  margin: 0;
}

.result-area {
  background-color: #fff;

  // border: 1px solid $line-bg;
  border-top: none;
  padding: 10px 40px 40px;

  h3 {
    margin-bottom: 20px;
  }

  & > *:first-child {
    &:is(.kw-action--top, .kw-grid) {
      margin-top: 30px;
    }

    &:is(.kw-notification) {
      margin: 30px 0 20px;
    }
  }
}

.normal-area {
  padding: 0 40px 30px;
  background: #fff;
  border: 1px solid transparent;

  h3 {
    margin-bottom: 20px;
  }

  &--button-set-bottom {
    min-height: calc(100vh - 222px);
    padding-bottom: 120px;
    position: relative;

    .button-set--bottom {
      position: absolute;
      bottom: 30px;
      width: calc(100% - 80px);
      padding-top: 20px;
      border-top: 1px solid $line-line;

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .button-set--bottom-left {
      float: left;
    }

    .button-set--bottom-right {
      float: right;
    }
  }
}

.kw-search + .normal-area--button-set-bottom {
  min-height: calc(100vh - 410px);
}

.result-area,
.normal-area,
.kw-popup {
  .kw-tabs {
    @include kw-tabs-padding(0, $kw-tabs-arrow-width, $kw-tabs-arrow-height);
  }
}

.kw-tab-panel {
  padding: 0;

  .normal-area {
    border: none;
  }
}

// tab in tabs with search...
.kw-page__content-container,
.kw-popup__content {
  // first tabs in page with search.
  > .kw-tabs:first-child {
    border-top: 1px solid $line-line; // imitate search box border
    border-left: 1px solid $line-line; // imitate search box border
    border-right: 1px solid $line-line; // imitate search box border
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 6%); // imitate search box border

    + .kw-tab-panels .kw-tab-panel {
      > .kw-search:first-child {
        border-top: 0;
      }

      // tab in tab... with search
      > .kw-tabs:first-child {
        border-left: 1px solid $line-line; // imitate search box border
        border-right: 1px solid $line-line; // imitate search box border
        box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 6%); // imitate search box border

        @include kw-tabs-padding(20px 40px 0 40px, $kw-tabs-arrow-width-dense, $kw-tabs-arrow-height-dense);

        // region can be replaced by using `activeLine` props in kw-tabs
        &::before {
          border: none;
        } // endregion

        // region can be replaced by using `inactive-*` in kw-tabs
        .kw-tabs__content {
          background-color: $bg-white;
          color: $black3;
        }// endregion

        // region can be replaced by using `dense` props in kw-tabs
        &.q-tabs {
          .q-tab {
            min-height: $kw-tabs-arrow-height-dense;

            &--full {
              min-height: $kw-tabs-arrow-height-dense;
            }
          }

          .q-tabs__arrow {
            $-arrow-padding: (($kw-tabs-arrow-height-dense - 18px) / 2) (($kw-tabs-arrow-width-dense - 18px) / 2);

            min-width: $kw-tabs-arrow-width-dense;

            &.q-icon {
              > svg {
                padding: $-arrow-padding;
              }
            }

            &--left {
              &.q-tabs__arrow--faded {
                &.q-icon {
                  > svg {
                    padding-right: at($-arrow-padding, 4) + 1px;
                  }
                }
              }
            }

            &--right {
              &.q-tabs__arrow--faded {
                &.q-icon {
                  > svg {
                    padding-right: at($-arrow-padding, 2) + 1px;
                  }
                }
              }
            }
          }
        }// endregion

        .kw-tab {
          // region can be replaced by using `dense` props in kw-tabs
          &.q-tab {
            padding: $kw-tab-padding-dense;
          }

          &::after {
            @include typo("dense", 500);
          }

          .kw-tab__content {
            > .q-tab__label {
              @include typo("dense", 400);
            }
          }// endregion

          // region can be replaced by using `*border*`, `activeLine` props in kw-tabs
          $-custom-border: 1px solid $line-line;
          $-custom-active-border: 1px solid $line-line;

          @include kw-tab-border($-custom-border);
          @include kw-tab-active-border($-custom-active-border);// endregion

          // region can be replaced by using `active-*` props in kw-tabs
          &--active {
            background: $secondary;
            color: $bg-white;
          }// endregion
        }
      }

      + .kw-tab-panels .kw-tab-panel {
        > .kw-search:first-child {
          border-top: 0;
        }
      }
    }
  }
}

@include color-based(".text-", $semantic-colors) using ($color) {
  color: $color !important;
}

@include color-based(".bg-", $semantic-colors) using ($color) {
  background-color: $color !important;
}

@include color-based(".border-color-", $semantic-colors) using ($color) {
  border-color: $color !important;
}

// ul,li
.list-type1 {
  font-size: 12px;
  color: $placeholder;
  position: relative;
  list-style: none;
  padding: 0;

  li {
    padding-left: 17px;

    &::before {
      content: "※";
      position: absolute;
      left: 0;
      top: 2px;
    }
  }
}

.spaced-sibling + .spaced-sibling {
  margin-left: 20px;
}

.grid-horizontal-wrap {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  &__section {
    flex: 1 1 auto;
    flex-basis: calc(50% - 10px);

    & > *:first-child {
      &:is(.kw-action--top) {
        margin-top: 30px;
      }

      &:is(.kw-notification) {
        margin: 30px 0 20px;
      }
    }

    .kw-action-bar {
      & > div {
        flex: 1 1 auto;
      }
    }
  }
}

.grid-fix-footer {
  $self: &;

  display: flex;
  padding: 20px 0;
  margin: 0;
  list-style: none;
  background-color: rgba($primary, 0.1);

  &__item {
    position: relative;
    padding: 0 40px;
    flex: 1 1 calc(100% / 3);
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child)::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: $line-line;
    }
  }

  &__label {
    flex: 0 1 80px;
    max-width: 134px;

    @include typo("dense", 400);

    color: $black1;
  }

  &__data {
    flex: 2 2 auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: right;
    color: $black1;
  }

  &.column {
    row-gap: 12px;
    #{$self}__item {
      &::before {
        content: none;
      }
    }
    #{$self}__label {
      flex-basis: 134px;
    }
  }
}

// helpers

$sides: (t, b, l, r, x, y, a);
$unit: px;

@for $space from 1 through 50 {
  @each $side in $sides {
    @if $side == "a" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding: #{$space * 10} + $unit !important;
      }
    } @else if $side == "x" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-left: #{$space * 10} + $unit !important;
        margin-right: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-left: #{$space * 10} + $unit !important;
        padding-right: #{$space * 10} + $unit !important;
      }
    } @else if $side == "y" {
      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-top: #{$space * 10} + $unit !important;
        margin-bottom: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-top: #{$space * 10} + $unit !important;
        padding-bottom: #{$space * 10} + $unit !important;
      }
    } @else {
      $origin: top !default;

      @if $side == "r" {
        $origin: right;
      } @else if $side == "b" {
        $origin: bottom;
      } @else if $side == "l" {
        $origin: left;
      } @else {
        $origin: top;
      }

      .kw-m#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$origin}: #{$space * 10} + $unit !important;
      }

      .kw-p#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$origin}: #{$space * 10} + $unit !important;
      }
    }
  }
}

@for $space from -500 through 500 {
  @each $side in $sides {
    @if $side == "a" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding: #{$space} + $unit !important;
      }
    } @else if $side == "x" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-left: #{$space} + $unit !important;
        margin-right: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-left: #{$space} + $unit !important;
        padding-right: #{$space} + $unit !important;
      }
    } @else if $side == "y" {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-top: #{$space} + $unit !important;
        margin-bottom: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-top: #{$space} + $unit !important;
        padding-bottom: #{$space} + $unit !important;
      }
    } @else {
      $origin: top !default;

      @if $side == "r" {
        $origin: right;
      } @else if $side == "b" {
        $origin: bottom;
      } @else if $side == "l" {
        $origin: left;
      } @else {
        $origin: top;
      }

      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$origin}: #{$space} + $unit !important;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$origin}: #{$space} + $unit !important;
      }
    }
  }
}

@for $size from 1 through 1000 {
  .w#{$size} {
    width: #{$size} + $unit !important;
    max-width: #{$size} + $unit !important;
    min-width: #{$size} + $unit !important;
  }

  .h#{$size} {
    height: #{$size} + $unit !important;
    max-height: #{$size} + $unit !important;
    min-height: #{$size} + $unit !important;
  }
}

@include color-based(".kw-fc--", $semantic-colors) using ($color) {
  color: $color !important;
}

@include color-based(".kw-bc--", $semantic-colors) using ($color) {
  background-color: $color !important;
}

.text- {
  @each $type, $value in $font-types {
    &#{$type} {
      @include typo($type);
    }
  }
}

.text-underline {
  text-decoration: underline !important;
}

.kw-font- {
  @each $type, $value in $font-types {
    &#{$type} {
      font-size: map-get($value, "size") !important;
      font-weight: map-get($value, "weight") !important;
      line-height: map-get($value, "line-height") !important;
      letter-spacing: map-get($value, "letter-spacing") !important;
    }
  }
}

.kw-font--14 {
  font-size: 14px !important;
  line-height: 1.43 !important;
}

.kw-font--16 {
  font-size: 16px !important;
  line-height: 1.5 !important;
}

.kw-font--18 {
  font-size: 18px !important;
  line-height: 1.44 !important;
}

.text- {
  @each $weight,$value in $text-weights {
    &weight-#{$weight} {
      font-weight: $value !important;

      & * {
        font-weight: $value !important;
      }

      & .text- {
        @each $weight,$value in $text-weights {
          &weight-#{$weight} {
            font-weight: $value !important;
          }
        }
      }
    }
  }
}

.grow {
  flex-grow: 1;
}

.grow-off {
  flex-grow: 0;
}

.kw-grow {
  flex-grow: 1 !important;
}

.shrink {
  flex-shrink: 1;
}

.kw-shrink {
  flex-shrink: 1 !important;
}

.shrink-off {
  flex-shrink: 0;
}

.kw-notification-title {
  padding-top: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.44;

  & + .kw-notification {
    margin-top: 8px;
  }
}

.kw-notification {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 12px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
    color: $black3;

    &:first-child {
      margin-top: 0;
    }

    &::before {
      content: "\00B7";
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      text-align: center;
    }

    .blue-line-link {
      line-height: inherit;
      vertical-align: text-bottom;
    }

    ul {
      list-style: none;
      padding: 4px 0 0;

      li {
        font-size: 14px;
        font-weight: normal;
        line-height: 1.43;
        color: $placeholder;
        position: relative;
        padding-left: 9px;
        margin-top: 2px;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "-";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 5px;
          text-align: center;
        }
      }
    }
  }
}

// 서치 상단 상태 리스트 (ex. 등록 내역)
.kw-state-list {
  display: flex;
  padding: 30px 40px 40px;
  background-color: $bg-white;

  // ul li reset
  margin: 0;
  list-style: none;

  &__item {
    flex: 1 1 auto;
    align-self: center;
    text-align: center;

    &:not(:first-child) {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $line-line;
      }
    }
  }

  &__top {
    font-size: 16px;
    line-height: 1.5;
    color: $black3;
  }

  &__num {
    margin-top: 8px;
    max-height: 44px;
    font-size: 30px;
    font-weight: bold;
    color: $black1;
  }

  &__unit {
    margin-left: 4px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44;
  }
}

.essential {
  &::after {
    content: "*";
    display: inline;
    font-size: 16px;
    color: $error;
  }

  &.rg-header-cell,
  &.rg-header-group-cell {
    &::after {
      display: none;
    }

    div span:not(.rg-header-sort-ascending):not(.rg-header-sort-descending) {
      position: relative;

      &::after {
        content: "*";
        display: inline;
        font-size: 16px;
        color: $error;
      }
    }
  }
}

// override quasar common classes
.q-placeholder {
  &::-webkit-input-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &::-moz-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &:-ms-input-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &::-ms-input-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &::-webkit-textarea-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &:-ms-textarea-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &::-ms-textarea-placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }

  &::placeholder {
    color: $placeholder !important;
    font-weight: 400 !important;
    opacity: 1;
    text-align: left !important;
  }
}

.kw-auth-wrap {
  padding: 30px 40px 40px;
  background-color: $bg-white;

  h1 {
    padding: 0 0 12px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: $black1;
    border-bottom: 2px solid $black1;
  }
}

.border-box {
  padding: 30px;
  border: solid 1px $line-line;
  box-sizing: border-box;

  h3 {
    margin-top: 0;
  }

  .kw-date-picker {
    min-width: 100%;
    max-width: 100%;
  }

  &.active {
    background-color: $bg-box;
  }
}

.border-box--one-column {
  .border-box + .border-box {
    margin-top: 30px;
  }
}

.border-box--three-column {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;

  .border-box {
    width: calc((100% - 40px) / 3);
  }
}

.normal-area {
  &--first-column {
    width: calc(44% - 80px);
  }

  &--second-column {
    width: calc(56% - 80px);
  }
}

// two columns in kw page
.normal-area--two-column {
  display: flex;
  padding: 30px 40px;
}

.current-result {
  display: flex;
  padding: 0;

  &-item {
    padding: 12px 0;
    flex: 1 0 0;
    text-align: center;
  }

  &-title {
    font-size: 14px;
    line-height: 1.43;
    color: $black3;
  }

  &-number {
    display: block;
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    letter-spacing: normal;
    color: $black1;

    &--blue {
      padding-top: 4px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      color: $primary;
    }
  }
}

.dashboard-solid-box {
  display: flex;
  padding: 12px 0;

  &--bg-red {
    background-color: rgb(237 25 65 / 5%);
  }

  &--title {
    width: 106px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
  }

  &--content {
    display: flex;
    font-size: 14px;
    line-height: 1.43;
    color: $black1;

    span {
      &::after {
        content: "/";
        display: inline-block;
        padding: 0 10px;
      }

      &:last-child::after {
        display: none;
      }
    }
  }
}

.info-table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $bg-body;

    td {
      padding: 9px 4px 10px;
      font-size: 14px;
      color: $black1;

      .kw-btn {
        vertical-align: baseline;

        span {
          font-size: 14px;
          color: $black1;
        }
      }
    }
  }
}

// q-scroll 사용 못하는 경우 사용..

// .scroll--thin {
//   padding: 30px 16px 30px 30px;
//   overflow-y: auto;

//   &::-webkit-scrollbar {
//     width: 14px;
//   }

//   &::-webkit-scrollbar-thumb {
//     background: #ccc;
//     border: 4px solid transparent;
//     background-clip: padding-box;
//   }

//   &::-webkit-scrollbar-track {
//     background-color: #fff;
//   }
// }

.q-scrollarea:not(.kw-scroll-area__client) {
  flex-grow: 1;

  .q-scrollarea__bar {
    background-color: #fff;
  }

  .q-scrollarea__thumb {
    border: 4px solid #fff;
    border-bottom-width: 6px;
    width: 14px;
    background: #ccc;
    opacity: 1;
    border-radius: 0;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }

    &--h {
      border: none;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
    }
  }

  .q-scroll--inside {
    padding: 30px 40px;
  }
}

.card-text {
  $self: ".card-text";

  list-style: none;
  padding: 0;
  margin: 0;

  &--between li {
    justify-content: space-between;
  }

  li {
    display: flex;
    padding-top: 4px;

    &:first-of-type {
      padding-top: 0;
    }

    p {
      min-width: 60px;
      padding-right: 12px;
      font-size: 14px;
      color: $black1;
      box-sizing: content-box;
      line-height: 1.43;
    }

    span {
      font-size: 14px;
      color: $black1;
      text-align: left;
      line-height: 1.43;
    }
  }

  &--bigger {
    li {
      padding-top: 8px;

      span {
        font-size: 16px;
      }
    }
  }

  @at-root body.tablet {
    #{$self} {
      &--col2 {
        display: flex;
        flex-flow: row wrap;
        gap: 4px 60px;

        li {
          padding-top: 0;
          align-items: center;
          flex: 1 0 calc(50% - 30px);
          flex-flow: row nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          span {
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-height: 24px;
          }
        }
      }
    }
  }
}

.filter-box {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  border: 1px solid $line-line;

  &__item {
    display: flex;
    align-items: center;

    .kw-date-picker {
      width: 140px;
    }

    .kw-select {
      width: 250px;
    }

    &:not(:first-child) {
      margin-left: 20px;
      padding-left: 16px;
      position: relative;

      &::after {
        width: 1px;
        height: 20px;
        background-color: $line-bg;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__item-label {
    font-size: 14px;
    line-height: 1.43;
    margin-right: 12px;
  }
}

.op50 {
  opacity: 0.5;
}

// Mobile + tablet
body.mobile {
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Noto Sans KR", sans-serif; // 퍼블리싱과 검수를 위한 임시. 실제 배포시에 삭제해야 함.

  h3 {
    margin: 0;
  }

  // tablet
  .result-area {
    & > *:first-child {
      &:is(.kw-action--top, kw-list) {
        margin-top: 20px;
      }
    }

    border: none;
  }

  .mobile_label {
    font-size: 14px;
    color: $black2;
  }

  &:not(.tablet) {
    h3 {
      margin-top: 0;
    }
  }
}

@include native-scrollbar-to(".kw-scrollbar");

// spacing
@include spacing(".gap-") using ($space) {
  gap: $space;
}

// mobile 레이아웃 요소
// card action button layout
.card-button-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .kw-btn {
    flex: 1 1 30%;
  }

  &--quarter {
    .kw-btn {
      flex-basis: 40%;
    }
  }
}

// 삳단 상태박스 (ex:W-MP-U-0124M01)
.state-boxes {
  $self: &;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &__item {
    padding: 12px;
    flex: 1 1 30%;
    text-align: center;
    border: 1px solid #ccc;
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #555;
  }

  &__nums {
    margin-top: 4px;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    text-decoration: underline;
  }

  &--quarter {
    #{$self}__item {
      flex: 1 1 40%;
    }
  }
}

// mobile,tablet underline
.blue-line-link {
  color: $primary !important;
  text-decoration: underline !important;
  text-underline-position: from-font !important;

  &:visited,
  &:hover,
  &:focus,
  &:visited {
    color: $primary !important;
  }
}

// equal division in search item
.equal_division {
  &--2 {
    label {
      width: calc((100% - 8px) / 2);
    }
  }

  &--3 {
    label {
      width: calc((100% - 16px) / 3);
    }
  }

  &--4 {
    label {
      width: calc((100% - 24px) / 4);
    }
  }

  &--5 {
    label {
      width: calc((100% - 32px) / 5);
    }
  }
}

// 조직도 트리 관련 h3 마진영역수정

.w451 {
  h3 {
    margin-bottom: 18px;
  }

  .row.justify-between {
    margin-top: 30px;
    margin-bottom: 12px !important;
    min-height: 32px;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .row:is(.mt30) {
      margin-top: 0 !important;
    }
  }

  & + div {
    > h3 {
      margin-bottom: 18px;
    }

    > .row {
      margin-top: 30px;
      margin-bottom: 12px;
      min-height: 32px;

      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }

      .row:is(.mt30) {
        margin-top: 0 !important;
      }
    }
  }
}

.web-tab-view__panels.q-panel-parent:has(.call-center) {
  overflow: unset !important;
}

// tablet 임시 css. 실제 tablet 개발 완료되면 삭제해도 무방
body.mobile.temp_tablet {
  .kw-page-mobile-header,
  .kw-page__content,
  .kw-page__action,
  .kw-popup__header,
  .kw-popup__content,
  .kw-popup__action,
  .kw-menu-dialog__header,
  .kw-menu-dialog__content,
  .kw-menu-dialog__action,
  .mobile-footer,
  .global-bottom-sheet__inner {
    zoom: 1.5;
  }

  .main-menu-modal.q-dialog .fixed-full {
    bottom: 90px !important;
  }

  .q-page-container.mobile-stack-view {
    padding-bottom: 90px !important;
  }

  .gnb_menu_mobile--nav {
    height: calc(66.6666vh - 115px);
  }

  .dev-env-area,
  .qa-env-area,
  .local-env-area {
    bottom: 90px !important;
  }

  .q-dialog .q-select__dialog {
    zoom: 1.5;
    width: 100% !important;
  }

  .kw-sign {
    zoom: 0.6666;
  }

  .scoped-confirmation {
    zoom: 0.6666;

    .kw-sign {
      zoom: 1;
    }
  }

  .gnb_menu_mobile--ul-depth1 {
    height: calc(66.6666vh - 115px) !important;

    & > li.lastTarget {
      height: calc(66.6666vh - 135px) !important;
    }
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  body.mobile.d-pub {
    .kw-page-mobile-header,
    .kw-page__content,
    .kw-page__action,
    .kw-popup__header,
    .kw-popup__content,
    .kw-popup__action,
    .kw-menu-dialog__header,
    .kw-menu-dialog__content,
    .kw-menu-dialog__action,
    .mobile-footer {
      zoom: 1.5;
    }

    .gnb_menu_mobile--nav {
      height: calc(66.6666vh - 115px);
    }

    .q-dialog .q-select__dialog {
      zoom: 1.5;
      width: 100% !important;
    }

    .kw-sign {
      zoom: 0.6666;
    }

    .scoped-confirmation {
      zoom: 0.6666;

      .kw-sign {
        zoom: 1;
      }
    }

    .gnb_menu_mobile--ul-depth1 {
      height: calc(66.6666vh - 115px) !important;

      & > li.lastTarget {
        height: calc(66.6666vh - 135px) !important;
      }
    }
  }
}

// print 영역 관련 css
.agreement-body {
  // 팝업
  @include print-css("popup");
}

.material-box {
  padding: 16px;
  border: 1px solid $line-line;

  & + .material-box {
    margin-top: 8px;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-title {
    max-width: calc(100% - 28px);

    p {
      display: inline;
      font-size: 16px;
      font-weight: 500;
      margin-right: 4px;
    }

    .kw-chip.q-chip {
      vertical-align: baseline;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }

  &-number {
    font-size: 14px;
    line-height: 1.375rem;
    margin-top: 8px;
  }

  &-status {
    display: flex;
    font-size: 14px;
    line-height: 1.375rem;
    color: $black3;
    margin-top: 4px;
  }
}
