// start dashboard style
.dashboard {
  width: 1840px;
  flex: auto;

  &_summary {
    display: flex;
    background: $secondary;
    height: 64px;
    padding: 16px 0 14px 24px;

    & > * {
      color: #fff;
    }

    .greetings {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      padding-right: 20px;

      span {
        font-weight: 500;
      }
    }

    &_counter {
      display: flex;

      h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        padding-right: 16px;
        margin: 0;
      }

      dl {
        display: flex;
        margin: 0;

        dt {
          font-size: 16px;
          font-weight: 300 !important;
          line-height: 32px;
          padding-right: 4px;
          opacity: 0.7;
        }

        dd {
          width: auto;
          margin: 0;
          line-height: 32px;
          font-size: 22px;
          font-weight: 500 !important;

          & + dt {
            padding-left: 16px;
          }
        }
      }
    }

    .kw-btn-toggle {
      margin-right: 20px;

      * {
        color: #fff !important;
        background: none !important;

        &::before {
          display: none;
        }

        &::after {
          border-color: #fff !important;
        }
      }

      [aria-pressed="false"] {
        opacity: 0.4;
      }

      .kw-btn.q-btn--dense {
        padding: 6px 14px !important;
      }
    }
  }

  &_wrap {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 346px;
    grid-template-columns: repeat(4, 454px);
    gap: 8px;

    // padding-bottom: 60px;
    padding-bottom: 70px;
    margin: 8px 0 0;
    width: max-content;
    min-height: calc(100vh - 168px);
  }

  &_el {
    background: #fff;
    padding: 24px;
    overflow: hidden; // 영역 외 항목들은 숨기기

    &_1by1 {
      width: 454px;
      height: 346px;
      grid-area: auto / auto / span 1 / span 1;
    }

    &_1by2 {
      width: 454px;
      height: 700px; // 346 * 2 + 8
      grid-area: auto / auto / span 2 / span 1;
    }

    &_2by1 {
      width: 916px; // 454 * 2 + 8
      height: 346px;
      grid-area: auto / auto / span 1 / span 2;
    }

    &_2by2 {
      width: 916px; // 454 *2 + 8
      height: 700px; // 346 * 2 + 8
      grid-area: auto / auto / span 2 / span 2;
    }

    // line-height
    .kw-font-pt20 {
      line-height: 1.813rem !important;
    }

    .kw-font-pt14 {
      line-height: 1.25rem !important;
    }

    // simple table
    .kw-table--normal tbody tr td {
      padding: 10px 4px;
    }
  }
}

.main_footer {
  // margin: 0 -40px -30px;
  margin: 0;
  position: absolute;
  bottom: -12px;
  left: -40px;
  right: -40px;
  height: 70px;
  padding: 11px 40px;
  background: #fff;
  display: flex;

  img {
    width: 86px;
  }

  & > div {
    padding-left: 58px;

    & > span {
      display: inline-block;
      position: relative;
      font-size: 14px;
      padding: 0 8px;
      line-height: 20px;
      color: $black2;
      vertical-align: top;

      & + span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 1px;
        height: 12px;
        background: $line-line;
      }
    }
  }

  .family-site {
    margin-left: auto;
  }
}

.organization-status {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;

  li {
    width: calc((100% /2) - 4px);
    padding: 12px 16px;
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: $bg-box;
  }

  &-left {
    flex-grow: 0;
    text-align: left;
    max-width: 90px;
    word-break: keep-all;

    span {
      display: block;
      margin-top: 2px;
      font-size: 12px;
      color: $black3;
    }
  }

  &-right {
    flex-grow: 0;
    text-align: right;

    span {
      display: block;
      margin-top: 4px;
      font-size: 14px;
      color: $black3;
    }
  }

  &-title {
    color: $black1;
    font-weight: 500;
    line-height: 1.5;
  }

  &-number {
    font-size: 18px;
    color: $black1;
    font-weight: 700;
    line-height: 1.625rem;
  }
}

.net-increase-status {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-box;
    width: calc((100% /2) - 4px);
    min-height: 46px;
    padding: 8px 12px;

    .kw-font-pt18 {
      line-height: 1.625rem !important;
    }

    &--column {
      flex-direction: column;
      align-items: flex-start;

      .kw-font-pt18 {
        margin-left: auto;
        margin-top: 2px;
      }
    }
  }
}

.progressbar {
  position: relative;
  width: 115px;
  height: 6px;
  background: $line-line;

  span {
    position: absolute;
    height: 100%;
    left: 0;
    background: $primary;
  }
}

// card 1
.current-states {
  margin-top: 6px;

  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

    li {
      width: 116px;
      text-align: right;
    }
  }
}

.states-details {
  margin-top: 4px;

  li {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
  }

  &__main-item {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
  }

  &__children {
    width: 100%;

    > li {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      color: $black3;
    }
  }
}

.states-amount {
  display: flex;
  column-gap: 16px;
  text-align: right;

  li {
    width: 116px;
  }
}

.info-list {
  display: flex;
  column-gap: 8px;

  li {
    font-size: 14px;
    line-height: 1.43;
    color: $black2;

    &:not(:first-of-type) {
      position: relative;
      padding-left: 8px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        background-color: #ddd;
      }
    }
  }
}

// 카드 타이틀
.home-card-title.kw-btn--borderless.q-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.813rem;
  color: $black1;
}

// 인정실적 현황
.result-status {
  padding-right: 0;

  &__chart {
    margin-top: 16px;
  }

  &__chart-info {
    margin-top: -4px;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.375rem;
    color: $black1;

    p > span {
      font-weight: 500;
      color: $primary;
    }
  }

  &__tab-area {
    padding-right: 24px;
    margin-top: 20px;

    .kw-tabs {
      .kw-tabs__content {
        flex-grow: 1 !important;
        height: 32px !important;
      }

      .kw-tab.q-tab {
        flex: 1 1 100px !important;
        min-width: unset !important;
        max-width: unset !important;
        min-height: 32px !important;
        border: 0;
        border-bottom: 1px solid #ddd;
      }

      .kw-tab.q-tab .kw-tab__content {
        min-height: 32px;
        font-size: 14px;
        font-weight: 400;
        color: #777;
        line-height: 32px !important;
      }

      .kw-tab.kw-tab--active {
        border-color: $primary !important;
        background-color: #fff !important;
        border-width: 2px;

        .kw-tab__content {
          font-weight: 500;
          color: $black1;
        }
      }
    }
  }

  &__totals {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    column-gap: 8px;

    li {
      display: flex;
      flex-flow: column wrap;
      width: 110px;
      text-align: right;

      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
      }

      p {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }
  }

  &__products {
    margin-top: 8px;

    li {
      display: flex;
      flex-flow: row wrap;
      column-gap: 8px;
      width: 100%;
      min-width: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;

      .ellipsis {
        // flex-grow: 0;
        width: calc(100% - (110px * 2) - 16px);
      }

      &:not(:first-of-type) {
        margin-top: 4px;
      }
    }
  }

  &__product-amounts {
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    column-gap: 8px;
    min-width: 0;
    text-align: right;

    p {
      width: 110px;
    }
  }
}

// 인정실적 현황 > 목표설정 팝업
.setting-amount-popup.kw-popup.kw-popup--sm {
  width: 360px;
  max-width: 360px !important;
  min-width: 360px !important;
  text-align: center;

  .kw-popup__content {
    padding-bottom: 98px !important;
  }

  .kw-popup__action {
    padding-top: 0 !important;

    &::after {
      display: none;
    }
  }

  .kw-popup__header-close {
    right: 4px !important;
  }
}

// 환불 요청 현황

.refund-status {
  &-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $black3;

    &:first-of-type {
      margin-top: 16px;
    }
  }

  &-list {
    display: flex;
  }

  &-item {
    margin-top: 12px;
    width: calc(100% / 3);
    text-align: center;
    padding: 15px 0;

    &:first-child {
      background: $bg-box;
    }

    &:last-child {
      border-left: 1px solid $bg-box;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    span {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin-top: 4px;
    }
  }
}

// 프로모션 현황
.promotion-status {
  .kw-list {
    .kw-item-type {
      &:first-child {
        padding-top: 0 !important;
      }

      &:last-child {
        padding-bottom: 0 !important;
      }
    }
  }

  &-chips {
    display: flex;
    gap: 0 4px;
  }

  &-title {
    padding-top: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black1;
  }

  &-text {
    font-weight: 400;
    font-size: 14px;
    color: $black2;
    line-height: 20px;
  }
}

// 프로모션 현황 팝업
.planner-detail-popup {
  &-header {
    margin-top: -10px;
    display: flex;
    align-items: center;
  }

  .kw-popup__header {
    background: transparent;
  }

  .kw-popup__header-close {
    top: 20px !important;
  }
}

// 예상 수수료 현황
.estimated-commission {
  position: relative;

  &__notification {
    position: absolute;
    right: 97px;
    top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: $primary;
    font-weight: 400;
  }
}

// 공지사항 + 교육자료 리스트
.card-list-wrap {
  .kw-list.kw-list--card {
    margin-top: 16px;

    .q-item-type:first-of-type {
      padding-top: 0;
    }

    .q-item-type:last-of-type {
      padding-bottom: 0;
    }
  }
}

// end dashboard style
