@import "bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.min.css";

.datepicker {
  font-family: "Noto Sans KR", sans-serif;

  .table-condensed {
    width: 100%;
  }

  &.datepicker-inline {
    width: 224px;

    thead {
      position: relative;
    }

    th {
      color: $black3;
      font-size: 12px;
      font-weight: 400;

      &.prev,
      &.datepicker-switch,
      &.next {
        color: $black1;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        padding-top: 3px;

        &:hover {
          background: none;
        }
      }

      &.prev {
        position: absolute;

        // top: 1px;
        left: 50%;
        transform: translateX(calc(-50% - 80px));
        background: url(~@assets/images/ic_arrow_left.svg) no-repeat center 14px;
        background-size: 16px;
        font-size: 0;

        &:hover {
          background: url(~@assets/images/ic_arrow_left.svg) no-repeat center 14px;
          background-size: 16px;
        }
      }

      &.next {
        position: absolute;

        // top: 1px;
        right: 50%;
        transform: translateX(calc(50% + 80px));
        background: url(~@assets/images/ic_arrow_right.svg) no-repeat center 14px;
        background-size: 16px;
        font-size: 0;

        &:hover {
          background: url(~@assets/images/ic_arrow_right.svg) no-repeat center 14px;
          background-size: 16px;
        }
      }
    }
  }

  table {
    border-spacing: 0;

    & tr td {
      border-radius: 50%;
      width: 32px;
      height: 32px;

      // border: 2px solid #fff;
      color: $black1;
      font-size: 14px;

      &.dow:first-child {
        color: $accent;
      }

      &.day:not(.today):not(.active):not(.disabled):not(.old):not(.new).saturday {
        color: $black1;

        &.old {
          color: rgba($black1, 0.3);
        }
      }

      &.active.highlighted.active,
      &.active.highlighted:active,
      &.active:active,
      &.active.active,
      & span.active:hover,
      & span.active.active,
      & span.active:hover.active,
      & span.active:hover:active,
      & span.active:hover.active:hover,
      & span.active:hover:active:hover {
        border-color: #fff !important;
        background-color: $primary;
        font-weight: 400;
        text-shadow: none;
      }

      &.focused {
        background: rgb(47 138 243 / 10%) !important;
      }

      & .month.focused,
      & .year.focused {
        background: none;
        text-shadow: none;

        //  현재 날짜에 focused color가 존재하는 경우
        //   background: rgb(47 138 243 / 10%) !important;

        &.active {
          background: $primary !important;
        }
      }
    }
  }

  .day {
    &.old,
    &.new {
      color: rgba($black1, 0.3);
    }

    &.sunday {
      color: $accent;

      &.old,
      &.new {
        color: rgba($accent, 0.3);
      }
    }

    &.today {
      background-color: rgba($primary, 0.1);
      border: 2px solid #fff !important;

      &:hover,
      &.active:hover,
      &:active:hover {
        background-color: rgba(47 138 243 / 10%) !important;
      }

      &:active {
        background-color: rgba($primary, 0.1);
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 28px;
        height: 28px;
        background: rgb(47 138 243 / 10%) !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }

    &.active {
      background: none !important;

      &:hover::before {
        background: rgb(47 138 243) !important;
      }

      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 28px;
        height: 28px;
        background: rgb(47 138 243) !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }

    // &:not(.today):not(.active):hover {
    //   background-color: $line-bg;
    // }
  }

  &-months,
  &-years {
    width: 224px !important;
    margin: 0 auto;
    padding: 0 !important;

    td {
      border: 0;
    }

    .year {
      font-size: 12px;
    }

    .month,
    .year {
      width: 46px;
      height: 46px;
      line-height: 46px;
      border-radius: 50%;
      margin: 2px 6px;

      &.old,
      &.new {
        color: $black1;
      }

      &:nth-child(4n - 3) {
        margin-left: 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 0;
      }

      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        margin-bottom: 0;
      }
    }
  }

  &.datepicker-inline td,
  &.datepicker-inline th,
  &.dropdown-menu td,
  &.dropdown-menu th {
    padding: 0;
  }
}

[lang="ko-KR"] .datepicker {
  .datepicker-months {
    .datepicker-switch::after {
      content: "년";
      display: inline;
    }
  }

  .datepicker-years {
    span.year::after {
      content: "년";
      display: inline;
    }
  }
}

.datepicker-days td {
  position: relative;
  z-index: 0;
}

.reservation-datepicker {
  width: 268px !important;

  .datepicker-months,
  .datepicker-years {
    width: 234px !important;
  }
}

body.mobile:not(.tablet) {
  .kw-date__container,
  .kw-menu-dialog__content .datepicker.datepicker-inline {
    width: 322px;

    .datepicker {
      table tr th {
        height: 32px;

        &.datepicker-switch {
          padding-bottom: 14px;
          padding-top: 0;
          height: 24px;
        }

        &.prev,
        &.next {
          width: 24px;
          height: 24px;
          padding-top: 0;
          background-position-y: 4px;
        }
      }

      table tr td {
        width: 42px;
        height: 46px;
        font-size: 16px;

        &.day {
          background: none;

          &::before {
            width: 42px;
            height: 42px;
          }
        }
      }
    }
  }

  .datepicker-months,
  .datepicker-years {
    width: 320px !important;

    .month,
    .year {
      width: 71px;
      height: 71px;
      line-height: 71px;
      font-size: 16px;
    }
  }
}
