.kw-guide {
  padding: 40px;

  .kw-guide-h2 {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    color: #333;
  }

  &-section {
    margin-top: 40px;
  }

  &-table {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    box-shadow: none;

    th {
      // text-transform: capitalize;
      color: #333;
    }

    td {
      text-align: center;

      // text-transform: capitalize;
      color: #555;

      &:last-child {
        text-align: left;
      }
    }
  }

  &-title {
    display: inline-block;
    margin: 0 0 10px;
    font-size: 20px;

    // text-transform: capitalize;
    color: #333;

    &::before {
      content: "#";
      display: inline-block;
    }

    &:hover {
      color: #ff5353;
      cursor: pointer;
      transition: all 0.2s;
    }
  }

  &-subTitle {
    margin: 10px 0 0;
    line-height: 20px;
    font-size: 16px;
    color: rgb(109 108 108);
  }

  &-description {
    margin: 0;
    line-height: 25px;
    font-size: 16px;
    color: #929292;

    // &::first-letter {
    //   text-transform: uppercase;
    // }

    b {
      font-weight: 500;
      color: #ff5353;
    }
  }

  .q-card {
    margin-top: 20px;
    padding: 20px 40px 40px;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    overflow: hidden;
    border-radius: 10px;

    .kw-guide {
      &-example {
        padding: 20px 0;
      }

      &-code {
        & * {
          font-size: 14px !important;
          line-height: 18px;
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 1px;
        }

        pre {
          margin: -30px 0 -20px;
        }

        & + .kw-guide-example {
          margin-top: 20px;
        }
      }

      &-codeButton {
        button {
          display: block;
          padding: 5px 20px;
          margin: 30px auto 0;
          font-size: 14px;
          border: none;
          border-radius: 20px;
          background: none;
          cursor: pointer;
          background-color: #ff5353;
          color: #f8f8f8;
        }

        &::before {
          content: "";
          display: block;
          left: 40px;
          right: 40px;
          height: 1px;
          margin: 0 auto;
          background-color: #d9d9d9;
        }

        + .kw-guide-code {
          margin-top: 40px;
        }
      }
    }
  }
}

.gutter-exam-el {
  display: inline-block;
  border: 1px solid #333;

  div {
    background: #ff5353;
    width: 200px;
    height: 100px;
    font-size: 14px;
    color: #fff;
  }
}

.q-tree.q-tree--standard {
  .q-focus-helper + i {
    text-indent: -100000px;
    position: relative;

    &::after {
      display: block !important;
      content: "▶";
      font-size: 5px;
      font-style: normal;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #b8b8b8 !important;
      text-indent: 0;
      line-height: 1.5;
    }
  }
}

.q-header.q-layout__section--marginal.fixed-top {
  .q-btn.q-btn-item.non-selectable.no-outline.q-btn--flat.q-focusable {
    .q-focus-helper + .q-btn__content.text-center.q-anchor--skip::after {
      display: inline-block !important;
      content: "";
      width: 24px;
      height: 24px;
      background: url(~assets/images/ic_menu.svg) no-repeat 0 0;
    }
  }
}

// text
.notice {
  color: $info !important;
}

.throughline {
  text-decoration: line-through;
}

.center {
  text-align: center;
}
