.rollup-image.please.regist.this.for-rollup-this-icons {
  background-image: url(~@assets/icons/add_list_24.svg);
  background-image: url(~@assets/icons/arrow_stepper.svg);
  background-image: url(~@assets/icons/calendar.svg);
  background-image: url(~@assets/icons/checkbox_disable.svg);
  background-image: url(~@assets/icons/checkbox_indet.svg);
  background-image: url(~@assets/icons/checkbox_indet_disable.svg);
  background-image: url(~@assets/icons/checkbox_off.svg);
  background-image: url(~@assets/icons/checkbox_on.svg);
  background-image: url(~@assets/icons/checkbox_selected_disable.svg);
  background-image: url(~@assets/icons/delete_16.svg);
  background-image: url(~@assets/icons/edu_login1.svg);
  background-image: url(~@assets/icons/edu_login2.svg);
  background-image: url(~@assets/icons/edu_login3.svg);
  background-image: url(~@assets/icons/edu_login4.svg);
  background-image: url(~@assets/icons/example_profile.png);
  background-image: url(~@assets/icons/fever_bike_back.jpg);
  background-image: url(~@assets/icons/grid_photo_dummy.png);
  background-image: url(~@assets/icons/grid_photo_dummy_circle.png);
  background-image: url(~@assets/icons/grid_photo_dummy_circle_145.png);
  background-image: url(~@assets/icons/grid_video_dummy.png);
  background-image: url(~@assets/icons/happycall_select_img.png);
  background-image: url(~@assets/icons/happycall_select_img02.png);
  background-image: url(~@assets/icons/happycall_select_img03.png);
  background-image: url(~@assets/icons/happycall_select_img04.png);
  background-image: url(~@assets/icons/happycall_select_img05.png);
  background-image: url(~@assets/icons/happycall_select_img06.png);
  background-image: url(~@assets/icons/home.png);
  background-image: url(~@assets/icons/ic_add_list_24.svg);
  background-image: url(~@assets/icons/ic_alert_24.svg);
  background-image: url(~@assets/icons/ic_android.png);
  background-image: url(~@assets/icons/ic_apple.png);
  background-image: url(~@assets/icons/ic_arrodw-down_16.svg);
  background-image: url(~@assets/icons/ic_arrow-down_24.svg);
  background-image: url(~@assets/icons/ic_arrow_b_16.svg);
  background-image: url(~@assets/icons/ic_arrow_down.svg);
  background-image: url(~@assets/icons/ic_arrow_left.svg);
  background-image: url(~@assets/icons/ic_arrow_left_24.svg);
  background-image: url(~@assets/icons/ic_arrow_left_breadcrumbs_24.svg);
  background-image: url(~@assets/icons/ic_arrow_right.svg);
  background-image: url(~@assets/icons/ic_arrow_right_24.svg);
  background-image: url(~@assets/icons/ic_arrow_up.svg);
  background-image: url(~@assets/icons/ic_arrow_up_24.svg);
  background-image: url(~@assets/icons/ic_bookmark_default_16.svg);
  background-image: url(~@assets/icons/ic_bookmark_off.svg);
  background-image: url(~@assets/icons/ic_bookmark_on.svg);
  background-image: url(~@assets/icons/ic_bookmark_on_16.svg);
  background-image: url(~@assets/icons/ic_calendar_24.svg);
  background-image: url(~@assets/icons/ic_call_24.svg);
  background-image: url(~@assets/icons/ic_checked_24.svg);
  background-image: url(~@assets/icons/ic_clock_16.svg);
  background-image: url(~@assets/icons/ic_close_16.svg);
  background-image: url(~@assets/icons/ic_close_24.svg);
  background-image: url(~@assets/icons/ic_excel_off_16_3x.png);
  background-image: url(~@assets/icons/ic_filter.svg);
  background-image: url(~@assets/icons/ic_filter_24.svg);
  background-image: url(~@assets/icons/ic_info_24.svg);
  background-image: url(~@assets/icons/ic_info_default_16.svg);
  background-image: url(~@assets/icons/ic_info_red_24.svg);
  background-image: url(~@assets/icons/ic_menu.svg);
  background-image: url(~@assets/icons/ic_minus_24.svg);
  background-image: url(~@assets/icons/ic_more.svg);
  background-image: url(~@assets/icons/ic_more_24.svg);
  background-image: url(~@assets/icons/ic_plus_16.svg);
  background-image: url(~@assets/icons/ic_plus_16_disabled.svg);
  background-image: url(~@assets/icons/ic_plus_24.svg);
  background-image: url(~@assets/icons/ic_price2_24.svg);
  background-image: url(~@assets/icons/ic_price_24.svg);
  background-image: url(~@assets/icons/ic_sarrow_next.svg);
  background-image: url(~@assets/icons/ic_sarrow_prev.svg);
  background-image: url(~@assets/icons/ic_search.svg);
  background-image: url(~@assets/icons/ic_search2_24.svg);
  background-image: url(~@assets/icons/ic_setting_24.svg);
  background-image: url(~@assets/icons/ic_sns_24.svg);
  background-image: url(~@assets/icons/ic_sorti.svg);
  background-image: url(~@assets/icons/ic_step_arrow_16.svg);
  background-image: url(~@assets/icons/ic_tool_24.svg);
  background-image: url(~@assets/icons/ic_write_24.svg);
  background-image: url(~@assets/icons/kstation_edu.svg);
  background-image: url(~@assets/icons/kstation_logo.png);
  background-image: url(~@assets/icons/kstation_standard.svg);
  background-image: url(~@assets/icons/kstation_wells.svg);
  background-image: url(~@assets/icons/lnb_back.png);
  background-image: url(~@assets/icons/logo_kss.svg);
  background-image: url(~@assets/icons/logo_kyowon.svg);
  background-image: url(~@assets/icons/logo_redpen.svg);
  background-image: url(~@assets/icons/logo_redpen_h34.svg);
  background-image: url(~@assets/icons/logo_tmap@2x.png);
  background-image: url(~@assets/icons/logo_wells.svg);
  background-image: url(~@assets/icons/quasar-logo-vertical.svg);
  background-image: url(~@assets/icons/radio_disable.svg);
  background-image: url(~@assets/icons/radio_off.svg);
  background-image: url(~@assets/icons/radio_on.svg);
  background-image: url(~@assets/icons/radio_selected_disable.svg);
  background-image: url(~@assets/icons/wells_care_back.png);
  background-image: url(~@assets/icons/wells_login1.svg);
  background-image: url(~@assets/icons/wells_login2.svg);
  background-image: url(~@assets/icons/wells_login3.svg);
  background-image: url(~@assets/icons/wells_login4.svg);
  background-image: url(~@assets/icons/zoom_logo.png);
}
