.rollup-image.please.regist.this.for-rollup-this-icons {
  background-image: url(~@assets/icons/add_list_24.svg);
  background-image: url(~@assets/icons/alert_off_24.svg);
  background-image: url(~@assets/icons/alert_on.svg);
  background-image: url(~@assets/icons/alert_on_24.svg);
  background-image: url(~@assets/icons/alert_outline.svg);
  background-image: url(~@assets/icons/arrow_down.svg);
  background-image: url(~@assets/icons/arrow_down_24.svg);
  background-image: url(~@assets/icons/arrow_left.svg);
  background-image: url(~@assets/icons/arrow_left_24.svg);
  background-image: url(~@assets/icons/arrow_left_breadcrumbs_24.svg);
  background-image: url(~@assets/icons/arrow_next.svg);
  background-image: url(~@assets/icons/arrow_next_24.svg);
  background-image: url(~@assets/icons/arrow_prev.svg);
  background-image: url(~@assets/icons/arrow_prev_24.svg);
  background-image: url(~@assets/icons/arrow_prev_lnb.svg);
  background-image: url(~@assets/icons/arrow_right.svg);
  background-image: url(~@assets/icons/arrow_right_24.svg);
  background-image: url(~@assets/icons/arrow_stepper.svg);
  background-image: url(~@assets/icons/arrow_up.svg);
  background-image: url(~@assets/icons/arrow_up_24.svg);
  background-image: url(~@assets/icons/barcode_24.svg);
  background-image: url(~@assets/icons/bookmark_off.svg);
  background-image: url(~@assets/icons/bookmark_on.svg);
  background-image: url(~@assets/icons/bookmark_outline.svg);
  background-image: url(~@assets/icons/bottom.svg);
  background-image: url(~@assets/icons/break.svg);
  background-image: url(~@assets/icons/calendar.svg);
  background-image: url(~@assets/icons/calendar_24.svg);
  background-image: url(~@assets/icons/call_24.svg);
  background-image: url(~@assets/icons/call_24_WH.svg);
  background-image: url(~@assets/icons/camera.svg);
  background-image: url(~@assets/icons/cellphone.svg);
  background-image: url(~@assets/icons/cellphone_off.svg);
  background-image: url(~@assets/icons/cellphone_reject.svg);
  background-image: url(~@assets/icons/certi_24.svg);
  background-image: url(~@assets/icons/check_24.svg);
  background-image: url(~@assets/icons/checked.svg);
  background-image: url(~@assets/icons/checked_24.svg);
  background-image: url(~@assets/icons/checked_stepper.svg);
  background-image: url(~@assets/icons/clear.svg);
  background-image: url(~@assets/icons/clock.svg);
  background-image: url(~@assets/icons/close.svg);
  background-image: url(~@assets/icons/close_24.svg);
  background-image: url(~@assets/icons/delete.svg);
  background-image: url(~@assets/icons/detail.svg);
  background-image: url(~@assets/icons/dialog_checked_off.svg);
  background-image: url(~@assets/icons/dialog_checked_on.svg);
  background-image: url(~@assets/icons/double_check_24.svg);
  background-image: url(~@assets/icons/down.svg);
  background-image: url(~@assets/icons/down_to.svg);
  background-image: url(~@assets/icons/download_24.svg);
  background-image: url(~@assets/icons/download_off.svg);
  background-image: url(~@assets/icons/download_on.svg);
  background-image: url(~@assets/icons/emptybox.svg);
  background-image: url(~@assets/icons/excel.svg);
  background-image: url(~@assets/icons/file.svg);
  background-image: url(~@assets/icons/file_download.svg);
  background-image: url(~@assets/icons/filter.svg);
  background-image: url(~@assets/icons/filter_24.svg);
  background-image: url(~@assets/icons/gnb_menu.svg);
  background-image: url(~@assets/icons/grid_scroll_arrow_down.svg);
  background-image: url(~@assets/icons/grid_scroll_arrow_left.svg);
  background-image: url(~@assets/icons/grid_scroll_arrow_right.svg);
  background-image: url(~@assets/icons/grid_scroll_arrow_up.svg);
  background-image: url(~@assets/icons/grid_sorting_arrow.svg);
  background-image: url(~@assets/icons/group.svg);
  background-image: url(~@assets/icons/group_minus.svg);
  background-image: url(~@assets/icons/group_plus.svg);
  background-image: url(~@assets/icons/holding.svg);
  background-image: url(~@assets/icons/home.svg);
  background-image: url(~@assets/icons/id_24.svg);
  background-image: url(~@assets/icons/imgpreview.svg);
  background-image: url(~@assets/icons/imgpreview_24.svg);
  background-image: url(~@assets/icons/info.svg);
  background-image: url(~@assets/icons/info_24.svg);
  background-image: url(~@assets/icons/list.svg);
  background-image: url(~@assets/icons/lnb_arrow.svg);
  background-image: url(~@assets/icons/lnb_bookmark.svg);
  background-image: url(~@assets/icons/lnb_history.svg);
  background-image: url(~@assets/icons/lnb_menu.svg);
  background-image: url(~@assets/icons/menu_24.svg);
  background-image: url(~@assets/icons/minus.svg);
  background-image: url(~@assets/icons/minus_24.svg);
  background-image: url(~@assets/icons/mob_basket.svg);
  background-image: url(~@assets/icons/mob_home.svg);
  background-image: url(~@assets/icons/mob_menu.svg);
  background-image: url(~@assets/icons/mob_recently.svg);
  background-image: url(~@assets/icons/mob_task.svg);
  background-image: url(~@assets/icons/more.svg);
  background-image: url(~@assets/icons/more_24.svg);
  background-image: url(~@assets/icons/new_folder.svg);
  background-image: url(~@assets/icons/new_window.svg);
  background-image: url(~@assets/icons/notice_24.svg);
  background-image: url(~@assets/icons/notice_off.svg);
  background-image: url(~@assets/icons/notice_on.svg);
  background-image: url(~@assets/icons/pause.svg);
  background-image: url(~@assets/icons/pdf.svg);
  background-image: url(~@assets/icons/pdf_24.svg);
  background-image: url(~@assets/icons/plus.svg);
  background-image: url(~@assets/icons/plus_24.svg);
  background-image: url(~@assets/icons/preview_24.svg);
  background-image: url(~@assets/icons/preview_img_24.svg);
  background-image: url(~@assets/icons/price.svg);
  background-image: url(~@assets/icons/price_24.svg);
  background-image: url(~@assets/icons/price_cycle_24.svg);
  background-image: url(~@assets/icons/print.svg);
  background-image: url(~@assets/icons/profile_none.svg);
  background-image: url(~@assets/icons/pw_24.svg);
  background-image: url(~@assets/icons/qrcode.svg);
  background-image: url(~@assets/icons/qrcode_24.svg);
  background-image: url(~@assets/icons/redo.svg);
  background-image: url(~@assets/icons/release.svg);
  background-image: url(~@assets/icons/report.svg);
  background-image: url(~@assets/icons/retry.svg);
  background-image: url(~@assets/icons/save.svg);
  background-image: url(~@assets/icons/search.svg);
  background-image: url(~@assets/icons/search_24.svg);
  background-image: url(~@assets/icons/search_doc_24.svg);
  background-image: url(~@assets/icons/setting_24.svg);
  background-image: url(~@assets/icons/sms.svg);
  background-image: url(~@assets/icons/sms_24.svg);
  background-image: url(~@assets/icons/sorti.svg);
  background-image: url(~@assets/icons/sorting_down.svg);
  background-image: url(~@assets/icons/sorting_up.svg);
  background-image: url(~@assets/icons/tablet_basket.svg);
  background-image: url(~@assets/icons/tablet_home.svg);
  background-image: url(~@assets/icons/tablet_menu.svg);
  background-image: url(~@assets/icons/tablet_recently.svg);
  background-image: url(~@assets/icons/tablet_task.svg);
  background-image: url(~@assets/icons/tool_24.svg);
  background-image: url(~@assets/icons/top.svg);
  background-image: url(~@assets/icons/up.svg);
  background-image: url(~@assets/icons/up_to.svg);
  background-image: url(~@assets/icons/upload_off.svg);
  background-image: url(~@assets/icons/upload_on.svg);
  background-image: url(~@assets/icons/user_24.svg);
  background-image: url(~@assets/icons/viewer.svg);
  background-image: url(~@assets/icons/visual_campus.svg);
  background-image: url(~@assets/icons/visual_check.svg);
  background-image: url(~@assets/icons/visual_edit.svg);
  background-image: url(~@assets/icons/visual_info.svg);
  background-image: url(~@assets/icons/visual_online.svg);
  background-image: url(~@assets/icons/visual_partner.svg);
  background-image: url(~@assets/icons/visual_payment.svg);
  background-image: url(~@assets/icons/visual_search.svg);
  background-image: url(~@assets/icons/warning.svg);
  background-image: url(~@assets/icons/warning_24.svg);
  background-image: url(~@assets/icons/write.svg);
  background-image: url(~@assets/icons/write_24.svg);
  background-image: url(~@assets/icons/support_24.svg);
  background-image: url(~@assets/icons/cellphone_blue.svg);
}
