// 파일첨부 미리보기
.preview-attach {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $line-stroke;

  &__top {
    display: flex;
    align-items: center;
    padding: 0 7px;
    height: 34px;
    font-size: 14px;
    font-weight: 500;
    background-color: #f8f8f8;
    border-bottom: 1px solid $line-bg;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    img {
      height: 120px;
      object-fit: contain;
    }
  }

  &__infos {
    margin: 0;
    padding: 0 12px 12px;
    list-style: none;

    @include typo("dense");

    > li {
      min-height: 22px;

      &:first-of-type {
        word-break: break-all;
      }
    }
  }
}

// breadcrumbs 없는 경우
.header--no-breadcrumbs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  & > div {
    display: flex;
    align-items: center;

    p {
      margin-right: 8px;
      font-size: 14px;
      color: $black2;
    }
  }
}
