// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #2f8af3;
$secondary: #2f3c78;
$info: #ed1941;
$error: #ed1941;
$black1: #222;
$black2: #555;
$black3: #777;
$black-btn-line: #666;
$placeholder: #999;
$line-stroke: #ccc;
$line-line: #ddd;
$line-bg: #eee;
$bg-white: #fff;
$bg-box: #f5f5f5;
$bg-body: #f3f4f5;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$warning: #f2c037;

// kw variables
// add global variables for component styling.
// since, there is no guarantee on dependency of global variables.
$kw-field-font-size: 16px;
$kw-field-font-size-dense: 14px;
$kw-field-font-size-marginal: $kw-field-font-size;
$kw-field-font-size-marginal-dense: $kw-field-font-size-dense;
$kw-field-font-size-bottom: 14px;
$kw-field-font-size-bottom-dense: 12px;
$kw-field-line-height: 24px;
$kw-field-line-height-dense: 20px;
$kw-field-padding-input: 8px 12px 8px 12px;
$kw-field-padding-input-dense: 6px 12px 6px 12px;
$kw-field-height: 40px;
$kw-field-height-dense: 32px;
$kw-field-border-radius: 0;
$kw-field-bg-color-disable: $line-bg;
$kw-field-color: $black1;
$kw-field-color-disable: $black3;

.kw-fc-- {
  &primary {
    color: $primary;
  }

  &secondary {
    color: $secondary;
  }

  &info {
    color: $info;
  }

  &error {
    color: $error;
  }

  &black1 {
    color: $black1;
  }

  &black2 {
    color: $black2;
  }

  &black3 {
    color: $black3;
  }

  &black-btn-line {
    color: $black-btn-line;
  }

  &placeholder {
    color: $placeholder;
  }

  &line-stroke {
    color: $line-stroke;
  }

  &line-line {
    color: $line-line;
  }

  &line-bg {
    color: $line-bg;
  }

  &bg-white {
    color: $bg-white;
  }

  &bg-box {
    color: $bg-box;
  }

  &bg-body {
    color: $bg-body;
  }

  &accent {
    color: $accent;
  }

  &dark {
    color: $dark;
  }

  &positive {
    color: $positive;
  }

  &negative {
    color: $negative;
  }

  &warning {
    color: $warning;
  }
}

.kw-bc-- {
  &primary {
    background-color: $primary;
  }

  &secondary {
    background-color: $secondary;
  }

  &info {
    background-color: $info;
  }

  &error {
    background-color: $error;
  }

  &black1 {
    background-color: $black1;
  }

  &black2 {
    background-color: $black2;
  }

  &black3 {
    background-color: $black3;
  }

  &black-btn-line {
    background-color: $black-btn-line;
  }

  &placeholder {
    background-color: $placeholder;
  }

  &line-stroke {
    background-color: $line-stroke;
  }

  &line-line {
    background-color: $line-line;
  }

  &line-bg {
    background-color: $line-bg;
  }

  &bg-white {
    background-color: $bg-white;
  }

  &bg-box {
    background-color: $bg-box;
  }

  &bg-body {
    background-color: $bg-body;
  }

  &accent {
    background-color: $accent;
  }

  &dark {
    background-color: $dark;
  }

  &positive {
    background-color: $positive;
  }

  &negative {
    background-color: $negative;
  }

  &warning {
    background-color: $warning;
  }
}
