// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$html-font-size: 16px;

// For additional sementic variables.
// you can't use in quasar props.
$error: #ed1941;
$black1: #222;
$black2: #555;
$normal-text: #555;
$black3: #777;
$disabled: #777;
$black-btn-line: #666;
$placeholder: #999;
$line-stroke: #ccc;
$line-line: #ddd;
$line-bg: #eee;
$bg-white: #fff;
$bg-box: #f5f5f5;
$bg-body: #f3f4f5;
$bg-orange: #ff8f1f;

// chip color
$bg-blue: #73c4fa;
$text-blue: #54bbff;
$text-green: #26bf8c;
$bg-green: #26bf8c10;
$bg-grey-opacity: #cccccc20;
$bg-red-opacity: #ed194010;

// override quasar color-palette
// see https://quasar.dev/style/color-palette#introduction

// brand color
$primary: #2f8af3; // Primary
$secondary: #2f3c78; // Secondary
$accent: #ed1941; // Sub
$dark: #1d1d1d; // dark?
$positive: $primary; // Positive
$negative: #ed1941; // Negative
$info: #6cbf67; // Green
$warning: #edca19; // Yellow

// grid background color
$bg-grid: #f8f8f8;

// Grayscale
$grey-1: $bg-white;
$grey-2: $bg-box;
$grey-3: $bg-body;
$grey-4: $line-bg;
$grey-5: $line-line;
$grey-6: $line-stroke;
$grey-7: $placeholder;
$grey-8: $black-btn-line;
$grey-9: $dark;
$grey-10: $black1;
$grey-11: $black2;
$grey-12: $black3;

// helper list for semantics.
$semantic-colors: (
  transparent: transparent,
  error :$error,
  black1 :$black1,
  black2 :$black2,
  normal-text :$normal-text,
  black3 :$black3,
  disabled :$disabled,
  black-btn-line :$black-btn-line,
  placeholder :$placeholder,
  line-stroke :$line-stroke,
  line-line :$line-line,
  line-bg :$line-bg,
  bg-white :$bg-white,
  bg-box :$bg-box,
  bg-body :$bg-body,
  primary :$primary,
  secondary :$secondary,
  accent :$accent,
  dark :$dark,
  positive :$positive,
  negative :$negative,
  info :$info,
  warning :$warning,
  bg-grid :$bg-grid,
  bg-orange :$bg-orange,
  bg-green: $bg-green,
  bg-blue: $bg-green,
  text-green: $text-green,
  text-blue: $text-blue,
  bg-grey-opacity: $bg-grey-opacity,
  bg-red-opacity: $bg-red-opacity,
);
$button-border-radius: 0;
$button-padding: 8px 20px 8px 20px;
$button-dense-padding: 6px 8px 6px 8px;
$button-font-size: 16px;
$button-line-height: 1.5em;
$button-font-weight: 400;
$input-label-color: $black2;

// gutter
$gutter-base: 10px;
$flex-gutter-xs: $gutter-base !default;
$flex-gutter-sm: ($gutter-base * 2) !default;
$flex-gutter-md: ($gutter-base * 3) !default;
$flex-gutter-lg: ($gutter-base * 4) !default;
$flex-gutter-xl: ($gutter-base * 5) !default;

// override typography

$title: (size: 1.375rem, line-height: 2rem, letter-spacing: normal, weight: 700) !default;
$pt24: (size: 1.5rem, line-height: 2rem, letter-spacing: normal) !default;
$pt22: (size: 1.375rem, line-height: 2rem, letter-spacing: normal) !default;
$pt20: (size: 1.25rem, line-height: 1.3rem, letter-spacing: normal) !default;
$subtitle: (size: 1.125rem, line-height: 1.75rem, letter-spacing: normal, weight: 700) !default;
$pt18: (size: 1.125rem, line-height: 1.75rem, letter-spacing: normal) !default;
$body: (size: 1rem, line-height: 1.5rem, letter-spacing: normal, weight: 500) !default;
$pt16: (size: 1rem, line-height: 1.5rem, letter-spacing: normal) !default;
$dense: (size: 0.875rem, line-height: 1.375rem, letter-spacing: normal, weight: 500) !default;
$pt14: (size: 0.875rem, line-height: 1.375rem, letter-spacing: normal) !default;
$caption: (size: 0.75rem, line-height: 1.25rem, letter-spacing: normal, weight: 400) !default;
$pt12: (size: 0.75rem, line-height: 1.25rem, letter-spacing: normal) !default;
$font-types: (
  title: $title,
  subtitle: $subtitle,
  body: $body,
  dense: $dense,
  caption: $caption,
  pt12: $pt12,
  pt14: $pt14,
  pt16: $pt16,
  pt18: $pt18,
  pt20: $pt20,
  pt22: $pt22,
  pt24: $pt24,
);

// kw variables
// add global variables for component styling.
// since, there is no guarantee on dependency of global variables.
$kw-field-font-size: 16px;
$kw-field-font-size-dense: 14px;
$kw-field-font-size-marginal: $kw-field-font-size;
$kw-field-font-size-marginal-dense: $kw-field-font-size-dense;
$kw-field-font-size-bottom: 14px;
$kw-field-font-size-bottom-dense: 12px;
$kw-field-line-height: 24px;
$kw-field-line-height-dense: 20px;
$kw-field-padding-input: 8px 12px 8px 12px;
$kw-field-padding-input-dense: 6px 12px 6px 12px;
$kw-field-height: 40px;
$kw-field-height-dense: 32px;
$kw-field-border-radius: 0;
$kw-field-bg-color-readonly: $line-bg;
$kw-field-bg-color-disable: $line-bg;
$kw-field-color: $black1;
$kw-field-color-disable: $black3;
$kw-field-label-height: 24px;
$kw-field-label-height-dense: 24px;
$kw-item-padding: 20px 0;
$kw-scrollbar-width: 6px;
$kw-scrollbar-height: 6px;
$kw-scrollbar-track-background-color: transparent !default;
$kw-scrollbar-track-background-color-hover: transparent !default;
$kw-scrollbar-track-background-color-active: transparent !default;
$kw-scrollbar-thumb-background-color: transparent !default;
$kw-scrollbar-thumb-background-color-hover: $line-stroke !default;
$kw-scrollbar-thumb-background-color-active: $line-stroke !default;

// notice thumb width == (scrollbar-width ||  scrollbar-height) - border size
$kw-scrollbar-thumb-border: 0 solid transparent;
$kw-scrollbar-thumb-border-hover: 0 solid transparent;
$kw-scrollbar-thumb-border-active: 0 solid $line-stroke;

// mobile scroll
$kw-scrollbar-width-mobile: 6px;
$kw-scrollbar-height-mobile: 6px;
$kw-scrollbar-track-background-color-mobile: transparent !default;
$kw-scrollbar-track-background-color-hover-mobile: transparent !default;
$kw-scrollbar-thumb-background-color-mobile: transparent !default;
$kw-scrollbar-thumb-background-color-hover-mobile: $line-stroke !default;
$kw-scrollbar-track-background-color-active-mobile: $line-stroke !default;
$kw-scrollbar-thumb-border-mobile: 2px solid transparent;
$kw-scrollbar-thumb-border-hover-mobile: 2px solid transparent;
$kw-scrollbar-thumb-border-active-mobile: 2px solid $line-stroke;

// spacing
$spacing-base: 0.25rem;
$spacing-xxs: $spacing-base * 1;
$spacing-xs: $spacing-base * 2;
$spacing-sm: $spacing-base * 3;
$spacing-md: $spacing-base * 4;
$spacing-lg: $spacing-base * 5;
$spacing-xl: $spacing-base * 6;
$spacing-xxl: $spacing-base * 7;
$spacing-3xl: $spacing-base * 8;
$spacing-4xl: $spacing-base * 9;
$spacing-5xl: $spacing-base * 10;
$spacing: (
  xxs: $spacing-xxs,
  xs: $spacing-xs,
  sm: $spacing-sm,
  md: $spacing-md,
  lg: $spacing-lg,
  xl: $spacing-xl,
  xxl: $spacing-xxl,
  3xl: $spacing-3xl,
  4xl: $spacing-4xl,
  5xl: $spacing-5xl,
);

// tabs
$kw-tab-height: $kw-field-height;
$kw-tab-height-dense: 34px;
$kw-tabs-content-height: $kw-tab-height;
$kw-tabs-content-height-dense: $kw-tab-height-dense;
$kw-tab-padding: 0 28px;
$kw-tab-padding-dense: 0 20px;
$kw-tab-border: 1px solid $placeholder;
$kw-tab-border-active: 1px solid $black1;
$kw-tab-background-color: transparent;
$kw-tab-background-color-active: $bg-white;
$kw-tabs-arrow-width: $kw-tabs-content-height;
$kw-tabs-arrow-width-dense: $kw-tabs-content-height-dense;
$kw-tabs-arrow-height: $kw-tabs-content-height;
$kw-tabs-arrow-height-dense: $kw-tabs-content-height-dense;
