/*
  Layout
 */

.web-layout {
  body.desktop & {
    & > .web-header {
      min-width: 1656px;
      background: #f3f4f5;
      position: sticky;
      z-index: 3000;
      top: 0 !important;
    }

    & > .q-page-container {
      min-width: 1656px;
      background: #f3f4f5;
    }
  }

  z-index: 2;
}

// webHeader 에 hover 시 다른 것보다 항상 위에 오도록 (kwSelect 보다는 위에 오기 위해 )
body.q-body--prevent-scroll__header {
  z-index: 6001;

  .web-layout {
    z-index: 6001;
  }
}

// mobile
.mobile {
  &:not(.tablet) {
    .web-layout {
      background: inherit;
    }
  }
}

// tablet
.web-layout {
  body.tablet & {
    & > .web-header,
    & > .q-page-container {
      background: #f3f4f5;
    }
  }
}

/*
  Header
 */
.web-header {
  border-bottom: 1px solid #e5e5e5;
  color: $black2;

  .q-toolbar {
    padding: 0 40px;
    width: 100%;
    height: 70px;
    background: $bg-white;
  }

  &__logo {
    width: 124px;
    height: 34px;

    > img {
      cursor: pointer;
    }
  }

  &__apps {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    white-space: nowrap;
  }

  &__link {
    position: relative;
    height: 100%;
    margin-right: 40px;
    color: $black2;
    font-size: 18px;
    font-weight: 500;
    line-height: 70px;
    text-decoration: none;
    cursor: pointer;

    &--active {
      font-weight: 700;

      &::after {
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        display: block;
        bottom: -1px;
        right: 0;
        left: 0;
        background: $primary;
        transition: all 0.3s;
      }
    }
  }

  &__tools {
    display: flex;
    justify-content: between;
    align-items: center;
    gap: 20px;
  }

  &__separator {
    width: 1px;
    height: 20px;
    background-color: #ddd;
  }

  &__search {
    width: 220px;

    .q-field__inner .q-field__control {
      font-size: 14px;
      height: 32px !important;
      min-height: 32px !important;

      .q-field__native {
        min-height: 20px !important;
      }
    }

    .q-field__append {
      height: 32px !important;

      .q-icon {
        font-size: 24px;
        opacity: 1 !important;
      }
    }
  }

  &__icon {
    font-size: 24px;
  }

  &__dropdown {
    display: flex;
    flex-direction: column;

    > .kw-btn--borderless.q-btn {
      padding: 8px 16px;
    }
  }

  &.q-layout__section--marginal {
    color: $black2;
  }
}

/*
  Footer
  */
.web-footer {
  height: 50px;
  background: #fff;
}

/*
  Left Drawer
 */
.web-left-drawer {
  display: flex;
  overflow: hidden;

  &__mini {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 40px;
    height: 100%;
    box-sizing: border-box;
    background: $bg-body;

    .drawer-mini-btn {
      .q-icon {
        color: $placeholder;
      }

      .q-btn__content {
        position: relative;
      }

      &.drawer-mini-btn--active,
      &:hover {
        .q-icon {
          color: $primary;
        }
      }
    }

    .q-drawer--mini & {
      background: #fff;

      .drawer-mini-btn {
        .q-icon {
          color: $black1 !important;
        }

        &:hover {
          .q-icon {
            color: $primary !important;
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-right: 1px solid $line-line;
    }

    .drawer-mini-btn {
      width: 40px;
      height: 96px;
      border-bottom: 1px solid $line-line;
      white-space: pre-wrap;

      &--active {
        background-color: $bg-white;
        border-right: 1px solid $line-bg;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid $line-bg;
    font-weight: 700;
    font-size: 18px;
    color: $black1;
  }

  &__content {
    flex: 1;
    height: 100%;

    > div {
      height: calc(100% - 48px);

      .kw-scroll-area__wrapper {
        max-height: 100%;
      }
    }
  }
}

.lnb_tooltip.kw-tooltip {
  &.q-tooltip {
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    color: $black1;
    background: #fff;
    border: 1px solid $line-line;
    border-radius: 0;
    box-shadow: none;
  }
}

.grey_tooltip.kw-tooltip {
  &.q-tooltip {
    left: 70px !important;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: $black2;
    border: none;
    border-radius: 0;
    height: 28px;
    line-height: 1;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: -2px;
    box-shadow: 4px 5px 5px 0 rgb(0 0 0 / 6%);
  }
}

.web-left-drawer__menu {
  .drawer-menu__tree > .q-tree__node:last-child {
    height: calc(100vh - 120px);
  }

  &.q-tree {
    .q-focus-helper {
      display: none;
    }
  }

  .q-tree {
    &__node {
      padding: 0;
      margin: 0;
    }

    &__node-header {
      padding: 0 !important;
      margin: 0;
    }

    &__node-header-content {
      padding: 0 10px;
      margin: 1px 12px;
      font-size: 14px;
      font-weight: 500;
      color: $black1;

      .q-icon {
        font-size: inherit;
        transition: transform 0.3s;
      }

      // &:hover {
      //   font-weight: 700;
      //   color: $black1;
      // }

      // &:has(> .drawer-menu__node--selected) {
      //   font-weight: 700;
      //   color: $black1;
      // }
    }

    &__children {
      background: rgb($primary, 5%);

      &:has(> .q-tree__node) {
        padding: 11px 0;
      }

      .q-tree__children {
        padding: 0;
      }

      .drawer-menu__node-content {
        color: $black2;
        font-weight: 400;

        &.ellipsis {
          width: 202px;
        }
      }
    }

    &__arrow {
      display: none;
    }
  }

  .drawer-menu {
    &__tree {
      &--empty {
        padding: 10.5px 20px;
      }
    }

    &__node {
      width: 100%;
      display: flex;
      align-items: center;
    }

    &__node-content {
      flex: 1 1 0%;

      &.ellipsis {
        width: 186px;
      }

      &:hover {
        font-weight: 500 !important;
        color: #222 !important;
      }
    }

    &__node--depth-0 {
      min-height: 52px;
      font-size: 16px;
    }

    &__node--depth-1 {
      // padding-right: 40px;
      min-height: 35px;

      // &::before {
      //   content: "-";
      //   display: inline-block;
      //   margin-right: 2px;
      //   font-weight: 700;
      // }
    }

    &__node--depth-2 {
      padding-left: 40px;
      min-height: 21px;

      &::before {
        content: "·";
        display: inline-block;
        margin-right: 2px;
        font-weight: 700;
      }
    }

    &__node-arrow {
      color: #777;

      &.q-icon {
        font-size: inherit;
        transition: none;
      }

      &--expanded {
        transform: rotate(180deg);
        color: #222;
      }
    }
  }

  .q-tree__children .q-tree__node--selected .q-tree__node-header-content {
    background: rgb($primary, 15%) !important;

    .drawer-menu__node-content {
      color: $primary !important;
      font-weight: 700 !important;
    }
  }
}

.web-left-drawer__bookmark {
  .drawer-bookmark {
    &__title {
      > span {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 500;
        color: $primary;
      }
    }

    &__action {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 16px 20px;

      .kw-btn.q-btn {
        flex: 1;
        padding: 0 8px 0 4px;
        min-height: 24px;
        max-height: 24px;
        font-size: 12px;
        line-height: 24px;

        .q-icon {
          font-size: 12px;
        }
      }
    }

    &__placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -11px;
      height: 190px;

      > p {
        text-align: center;
        white-space: pre;
        color: $black2;
      }
    }

    &__tree.kw-tree {
      padding: 0 16px 16px;
      margin-top: -20px;

      .q-tree {
        &__node {
          &::after {
            top: -23.5px;
          }
        }

        &__node--child:has(.drawer-bookmark__tree-dummy) {
          display: none;
        }

        &__node-header {
          padding: 0 4px;
          margin-top: 20px;

          &::before {
            top: -23.5px;
          }
        }

        &__node-header-content {
          font-size: 14px;
          color: $black2;

          .drawer-bookmark__wrap-text {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            min-width: 0;
          }

          .q-icon {
            margin-right: 8px;
            font-size: inherit;
            flex: 0 0 auto;
          }

          .ellipsis {
            // width: 220px;
            flex: 1 1 auto;
          }
        }

        &__node-body {
          padding-left: 26px;

          > div {
            font-size: 12px;
          }
        }
      }
    }
  }

  .q-focus-helper {
    background: none !important;
    opacity: 0 !important;
    transition: none !important;
  }

  .q-tree__node--child {
    &:hover::before {
      position: absolute;
      top: -7px;
      right: -16px;
      left: -50px;
      bottom: -8px;
      content: "";
      background: rgb($primary, 5%);
    }
  }

  .q-tree__node--parent {
    & > .q-tree__node-header {
      &:hover {
        &::after {
          position: absolute;
          top: -7px;
          right: -16px;
          left: -50px;
          bottom: -8px;
          content: "";
          background: rgb($primary, 5%);
        }
      }
    }
  }
}

.web-left-drawer__recent-menu {
  .drawer-recent-menu {
    &__action {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 16px 20px;

      .kw-btn.q-btn {
        padding: 0 8px 0 4px;
        min-height: 24px;
        max-height: 24px;
        font-size: 12px;
        line-height: 24px;

        .q-icon {
          font-size: 12px;
        }
      }
    }

    &__list {
      padding: 0;

      .q-separator {
        margin: 20px 0;
        background: $line-bg;
      }

      .q-item {
        padding: 7px 0 5px;
        min-height: 40px;
        font-size: 14px;
        color: $black1;

        &--active {
          font-weight: bold;
        }

        &__label {
          height: 20px;
        }

        &__label--header {
          padding: 0;
          margin-bottom: 7px;
          font-size: 14px;
          color: $black1;
        }

        &__label--caption {
          margin-top: 2px;
          height: 18px;
          font-size: 12px;
          color: $placeholder;
        }

        &__section--side {
          > .q-icon {
            cursor: pointer;
            font-size: 16px;
            color: $black2;
          }
        }

        & + .q-item {
          margin-top: 8px;
        }

        .q-focus-helper {
          display: none;
        }

        .ellipsis {
          width: 190px;
        }
      }

      .q-focusable {
        &:hover {
          background: rgb($primary, 5%);
        }

        transition: none !important;
      }
    }
  }
}

/*
  View
 */
.web-tab-view {
  padding-top: 0 !important;

  $tabs-view-bg-color: #dedfe0;
  $tabs-view-active-bg-color: #f4f5f6;

  &__header {
    padding: 0 40px !important;
    height: 40px;
    background: $tabs-view-bg-color;
    z-index: 1;

    .q-tab {
      padding: 0;
      min-width: 10%;
      max-width: 10%;
      min-height: 40px;
      border: 0;
      background-color: $tabs-view-bg-color;
      cursor: default !important;

      &.q-tab--custom-active,
      &:hover {
        &::before {
          display: none !important;
        }

        & + .q-tab::before {
          display: none !important;
        }
      }

      &:hover::after {
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        right: -1px;
        left: -1px;
        height: 1px;
        background: #d9d9d9;
        z-index: 1000;
      }

      &.q-tab--custom-active {
        border-left: 1px solid #e3e4e6;
        border-right: 1px solid #e3e4e6;

        &:hover::after {
          display: none !important;
        }
      }

      &__content {
        padding: 0 10px;
        width: 100%;

        > div {
          font-size: 14px;
          color: $black3;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        > .q-icon {
          font-size: 12px;
          cursor: pointer;
        }
      }

      .q-focus-helper,
      .q-tab__indicator {
        display: none;
      }

      &.q-focusable:focus,
      &.q-manual-focusable--focused,
      &.q-hoverable:hover {
        background-color: $tabs-view-active-bg-color;
      }

      &--custom-active {
        background-color: $tabs-view-active-bg-color;

        // 서브페이지도 같은 색으로 보이도록 설정.
        opacity: 1;

        .q-tab__content > div {
          color: $black1;
        }
      }

      & + .q-tab::before {
        content: "";
        position: absolute;
        left: -0.5px;
        width: 1px;
        height: 13px;
        background-color: $line-stroke;
      }
    }
  }

  &__content {
    background-color: transparent;
    border-top: 1px solid #d9d9d9;
    margin-top: -1px;

    .q-tab-panel {
      padding: 0;
      outline: none;
    }
  }
}

.keyword-result {
  padding: 20px;

  &__item {
    display: flex;
    height: 20px;

    p {
      font-size: 14px;
      line-height: 1.43;

      &.kw-fc--black1 {
        font-weight: 500;
      }
    }

    &:not(:first-child) {
      margin-top: 12px;
    }
  }

  &__keyword {
    color: #2f8af3;
  }
}

.recent-search {
  padding: 20px;

  &__item {
    display: flex;
    justify-content: space-between;
    height: 20px;

    &:not(:first-child) {
      margin-top: 12px;
    }
  }
}

// start dashboard style
.dashboard {
  width: 1840px;
  flex: auto;

  &_summary {
    display: flex;
    background: $secondary;
    height: 64px;
    padding: 16px 0 14px 24px;

    & > * {
      color: #fff;
    }

    .greetings {
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      padding-right: 20px;

      span {
        font-weight: 500;
      }
    }

    &_counter {
      display: flex;

      h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 32px;
        padding-right: 16px;
        margin: 0;
      }

      dl {
        display: flex;
        margin: 0;

        dt {
          font-size: 16px;
          font-weight: 300 !important;
          line-height: 32px;
          padding-right: 4px;
          opacity: 0.7;
        }

        dd {
          width: auto;
          margin: 0;
          line-height: 32px;
          font-size: 22px;
          font-weight: 500 !important;

          & + dt {
            padding-left: 16px;
          }
        }
      }
    }

    .kw-btn-toggle {
      margin-right: 20px;

      * {
        color: #fff !important;
        background: none !important;

        &::before {
          display: none;
        }

        &::after {
          border-color: #fff !important;
        }
      }

      [aria-pressed="false"] {
        opacity: 0.4;
      }

      .kw-btn.q-btn--dense {
        padding: 6px 14px !important;
      }
    }
  }

  &_wrap {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 346px;
    grid-template-columns: repeat(4, 454px);
    gap: 8px;

    // padding-bottom: 60px;
    padding-bottom: 70px;
    margin: 8px 0 0;
    width: max-content;
    min-height: calc(100vh - 168px);
  }

  &_el {
    background: #fff;
    padding: 24px;

    &_1by1 {
      width: 454px;
      height: 346px;
      grid-area: auto / auto / span 1 / span 1;
    }

    &_1by2 {
      width: 454px;
      height: 700px; // 346 * 2 + 8
      grid-area: auto / auto / span 2 / span 1;
    }

    &_2by1 {
      width: 916px; // 454 * 2 + 8
      height: 346px;
      grid-area: auto / auto / span 1 / span 2;
    }

    &_2by2 {
      width: 916px; // 454 *2 + 8
      height: 700px; // 346 * 2 + 8
      grid-area: auto / auto / span 2 / span 2;
    }

    // line-height
    .kw-font-pt20 {
      line-height: 1.813rem !important;
    }

    .kw-font-pt14 {
      line-height: 1.25rem !important;
    }

    // simple table
    .kw-table--normal tbody tr td {
      padding: 10px 4px;
    }
  }
}

.main_footer {
  // margin: 0 -40px -30px;
  margin: 0;
  position: absolute;
  bottom: -12px;
  left: -40px;
  right: -40px;
  height: 70px;
  padding: 11px 40px;
  background: #fff;
  display: flex;

  img {
    width: 86px;
  }

  & > div {
    padding-left: 58px;

    & > span {
      display: inline-block;
      position: relative;
      font-size: 14px;
      padding: 0 8px;
      line-height: 20px;
      color: $black2;
      vertical-align: top;

      & + span::before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        width: 1px;
        height: 12px;
        background: $line-line;
      }
    }
  }

  .family-site {
    margin-left: auto;
  }
}

.organization-status {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;

  li {
    width: calc((100% /2) - 4px);
    padding: 12px 16px;
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: $bg-box;
  }

  &-left {
    flex-grow: 0;
    text-align: left;
    max-width: 90px;
    word-break: keep-all;

    span {
      display: block;
      margin-top: 2px;
      font-size: 12px;
      color: $black3;
    }
  }

  &-right {
    flex-grow: 0;
    text-align: right;

    span {
      display: block;
      margin-top: 4px;
      font-size: 14px;
      color: $black3;
    }
  }

  &-title {
    color: $black1;
    font-weight: 500;
    line-height: 1.5;
  }

  &-number {
    font-size: 18px;
    color: $black1;
    font-weight: 700;
    line-height: 1.625rem;
  }
}

.net-increase-status {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bg-box;
    width: calc((100% /2) - 4px);
    min-height: 46px;
    padding: 8px 12px;

    .kw-font-pt18 {
      line-height: 1.625rem !important;
    }

    &--column {
      flex-direction: column;
      align-items: flex-start;

      .kw-font-pt18 {
        margin-left: auto;
        margin-top: 2px;
      }
    }
  }
}

.progressbar {
  position: relative;
  width: 115px;
  height: 6px;
  background: $line-line;

  span {
    position: absolute;
    height: 100%;
    left: 0;
    background: $primary;
  }
}

// card 1
.current-states {
  margin-top: 6px;

  &__total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;

    li {
      width: 116px;
      text-align: right;
    }
  }
}

.states-details {
  margin-top: 4px;

  li {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43;
  }

  &__main-item {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
  }

  &__children {
    width: 100%;

    > li {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      color: $black3;
    }
  }
}

.states-amount {
  display: flex;
  column-gap: 16px;
  text-align: right;

  li {
    width: 116px;
  }
}

.info-list {
  display: flex;
  column-gap: 8px;

  li {
    font-size: 14px;
    line-height: 1.43;
    color: $black2;

    &:not(:first-of-type) {
      position: relative;
      padding-left: 8px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 12px;
        background-color: #ddd;
      }
    }
  }
}

.kw-list.q-list--separator {
  &.kw-list--card {
    > .q-item-type + .q-item-type {
      border-color: $line-bg;
    }

    .q-item-type:first-of-type {
      padding-top: 0;
    }

    .q-item-type:last-of-type {
      padding-bottom: 0;
    }
  }
}

// end dashboard style
