.kw-search {
  padding: 30px 40px;
  border: 1px solid $line-line;
  box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 6%);
  background-color: $bg-white;

  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }

  h3 {
    margin-bottom: 14px;
  }

  & > .kw-form-row {
    padding: 6px 0;
    width: calc(100% + 40px);

    &:first-child {
      margin-top: -6px;
    }
  }

  // 더보기 버튼 영역
  &--bottom {
    padding-top: 10px;
  }

  & &--view-more {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .q-btn {
      padding: 0 9px 0 12px;
      border: 0;
      width: 80px;
      min-width: 80px;
      color: $black-h3;

      .block {
        padding-right: 20px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background: url(~assets/images/ic_arrow_b_16.svg) no-repeat center;
          background-size: 16px;
          transition: transform 0.28s;
        }
      }

      &--append {
        .block {
          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .q-ripple {
        display: none;
      }
    }
  }

  // input style override
  .kw-input {
    .q-field__control {
      height: 32px;
    }

    .q-field__native {
      padding: 7px 12px;
      font-size: 14px;
    }
  }

  // select style override
  .kw-select {
    .q-field__control {
      height: 32px;
    }

    .q-field__native {
      & > span {
        font-size: 14px;
      }
    }
  }

  // date-picker style override
  .kw-date-picker {
    .q-field__inner {
      max-width: 100%;
      width: 100%;
    }

    .q-field__control {
      height: 32px;
    }

    .q-field__native {
      font-size: 14px;
    }
  }

  // multi-date-picker style override
  .kw-multi-date-picker {
    .q-field__control-container {
      font-size: 16px;
    }
  }

  // search button
  .q-btn {
    padding: 0 12px;
    border: 1px solid $black-btn-line;
    min-width: 90px;
    height: 32px;
    min-height: 32px;
    background-color: #fff;
    font-size: 14px;
    color: $black-h2;
    font-weight: 400;
    line-height: 18px;

    /* default style override [s] */
    &::before {
      box-shadow: none !important;
      transition: none !important;
    }

    &--active::before {
      box-shadow: none !important;
      transition: none !important;
    }

    &--rectangle {
      border-radius: 0;
    }

    .q-focus-helper {
      display: none;
    }

    /* default style override [e] */
    &[type="reset"] {
      &:hover {
        border-color: $black-h1;
      }

      &.q-btn--active {
        border-color: $black-h2;
        background-color: $bg-box;
      }

      &.disabled {
        border-color: $line-stroke;
        background-color: $line-bg;
        color: #bbb;
      }

      & + .q-btn[type="submit"] {
        margin-left: 8px;
      }
    }

    &[type="submit"] {
      border-color: $secondary;
      background-color: $secondary;
      color: #fff;

      &:hover {
        border-color: #252f5e;
        background-color: #252f5e;
      }

      &.q-btn--active {
        border-color: #1b2245;
        background-color: #1b2245;
      }

      &.disabled {
        border-color: $line-line;
        background-color: $line-line;
        font-weight: 500;
      }
    }
  }

  // Checkbox (검색/테이블 내 사용 18px)
  .q-checkbox__inner {
    width: 18px;
    min-width: 18px;
    height: 18px;

    .q-checkbox__bg {
      position: absolute;
      width: 18px;
      height: 18px;
      background: url(~assets/images/checkbox_off.svg) no-repeat center;
    }

    &.q-checkbox__inner--truthy .q-checkbox__bg,
    &.q-checkbox__inner--indet .q-checkbox__bg {
      background: url(~assets/images/checkbox_on.svg) no-repeat center;
      background-size: 18px;
    }
  }

  .q-checkbox.disabled {
    .q-checkbox__bg {
      background: url(~assets/images/checkbox_disable.svg) no-repeat center;
      background-size: 18px;
    }

    .q-checkbox__inner--truthy .q-checkbox__bg {
      background: url(~assets/images/checkbox_selected_disable.svg) no-repeat center;
      background-size: 18px;
    }
  }

  // radio (검색/테이블 내 사용 18px)
  .q-radio__inner {
    width: 18px;
    min-width: 18px;
    height: 18px;

    & .q-radio__bg {
      width: 18px;
      height: 18px;
      background: url(~assets/images/radio_off.svg) no-repeat center;
      background-size: 18px;
    }

    &.q-radio__inner--truthy .q-radio__bg {
      background: url(~assets/images/radio_on.svg) no-repeat center;
      background-size: 18px;
    }
  }

  .q-radio.disabled {
    .q-radio__bg {
      background: url(~assets/images/radio_disable.svg) no-repeat center;
      background-size: 18px;
    }

    .q-radio__inner--truthy .q-radio__bg {
      background: url(~assets/images/radio_selected_disable.svg) no-repeat center;
      background-size: 18px;
    }
  }
}
