.kw-search {
  $-kw-search-padding: 24px 40px;
  $-kw-search-row-height: $kw-field-height-dense;
  $-kw-search-row-gap: 40px;
  $-kw-search-row-padding: 12px 0 0;

  padding: $-kw-search-padding;
  border: 1px solid $line-line;
  box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 6%);
  background-color: $bg-white;

  /*
  overflow-y: visible;
  overflow-x: clip;
   */

  // override kw-form
  &.kw-form {
    .kw-form-row {
      @include kw-row($-kw-search-row-height, $-kw-search-row-gap, $-kw-search-row-padding);
    }

    .kw-form-item {
      @include kw-item($-kw-search-row-height);

      &__label {
        width: 120px;
        padding-right: 12px;
      }
    }

    .kw-label-content {
      // 두 줄 들어가면 overflow 나는 구조를 피하기 위한 고육지책
      line-height: calc(#{$-kw-search-row-height} / 2);
    }

    & {
      .kw-form-row:first-of-type {
        padding-top: 0;
        min-height: $kw-field-line-height;
      }
    }
  }

  .q-field__messages,
  .kw-field-wrap__messages {
    display: none;
  }

  // 더보기 버튼 영역
  &__action {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;

    .kw-btn + .kw-btn {
      margin-left: 8px;
    }
  }

  &__view-more {
    position: absolute;
    height: 32px;
    bottom: at($-kw-search-padding, 3);
    left: 50%;
    transform: translateX(-50%);

    .q-icon {
      transition: transform 0.28s;
    }

    &--expanded {
      .q-icon {
        transform: rotate(180deg);
      }
    }

    span.block {
      color: $black3;
      font-size: 14px;
    }
  }

  &--one-row {
    display: flex;
    flex-flow: row nowrap;

    .kw-form-row {
      flex-grow: 1;
    }

    .kw-search__action {
      padding: 0;
      margin-left: $-kw-search-row-gap;
      flex: none;
    }
  }
}
