.kw-page {
  padding: 30px 40px;

  // FIXME
  // @at-root .desktop {
  //   & {
  //     min-width: calc(1536px + 104px);
  //   }
  //   &--md {
  //     width: calc(1536px + 104px);
  //     margin: 0 auto;
  //   }
  //   &--sm {
  //     min-width: calc(1212px + 104px);
  //     width: calc(1212px + 104px);
  //     margin: 0 auto;
  //   }
  // }
  body.desktop & {
    &--auth {
      margin: 0 auto;
      padding: 40px 0;
      min-width: 1000px;
      width: 1000px;
    }
  }
}

.kw-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__title {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 16px;
  }

  &__tools {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 12px;
    height: 30px;

    .kw-checkbox {
      display: inline-block;
      width: 16px;
      height: 16px;

      .q-checkbox__inner {
        width: inherit;
        min-width: initial;
        height: inherit;
      }
    }

    .q-icon {
      font-size: 16px;
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    align-self: start;
    height: 25px;

    > div {
      gap: 4px;
      margin: 0;

      > div {
        margin: 0;
      }
    }

    .q-breadcrumbs {
      &__el {
        font-size: 14px;
        font-weight: 400;
        color: $black3;
      }

      &--last .q-breadcrumbs__el {
        font-weight: 500;
        color: $black1;

        > .kw-icon {
          width: 16px;
          height: 16px;
          margin-left: 4px;
          color: rgb(255 255 255 / 0%);
          background: url(~@assets/images/ic_info_default_16.svg) no-repeat center center;
          background-size: 16px;
        }
      }

      &__separator {
        width: 16px;
        height: 16px;
        color: rgb(255 255 255 / 0%);
        background: url(~@assets/images/ic_step_arrow_16.svg) no-repeat center center;
      }
    }
  }
}

.kw-page-mobile-header {
  position: relative;
  background-color: $bg-white;
  width: 100%;
  height: 3.5rem;
  padding: 0 16px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-bottom: 1px solid $line-bg;
  }

  // &__title {
  //   @include typo("subtitle");

  //   margin-bottom: 2px; // shift to top for optical illusion.
  // }

  &__tools {
    display: flex;
    align-items: center;
    margin-left: 8px;
    gap: 12px;
    height: 30px;
    margin-right: auto;
  }

  &__hint {
    margin-left: 8px;
  }

  &__back-btn {
    margin-right: 8px;
    color: $black1;

    &.kw-btn {
      @include kw-btn-height-modifier(0, 1em, 1.5rem !important, 400);
    }
  }

  &__etc {
    display: flex;
    align-items: center;
    margin-left: 8px;

    > .kw-btn {
      @include kw-btn-height-modifier-by-font-type(1.5rem, "dense", 0);

      & ~ .kw-btn {
        margin-left: 1rem;
      }
    }
  }

  &__more {
    margin-left: 8px;

    &.kw-btn {
      @include kw-btn-height-modifier(0, 1em, 1.5rem, 400);
    }
  }

  &__close {
    margin-left: 8px;
    color: $black1;

    &.kw-btn {
      @include kw-btn-height-modifier(0, 1em, 1.5rem, 400);
    }
  }
}

// tablet
body.mobile {
  .kw-page {
    padding: 30px 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 0;

    .kw-page-mobile-header {
      padding: 0 0 15px;
      height: 45px;
      background-color: unset;

      &::before {
        display: none;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
      }
    }

    &__content {
      margin-bottom: 30px;
      padding: 30px 40px;
      flex: auto;
      overflow: auto;
      position: relative;
      background-color: $bg-white;

      &:has(.kw-search) {
        padding: 0;
      }
    }

    &__footer {
      // box-shadow: $shadow-up-1; // for DaeYoung Kim.

      flex: none;
    }

    &__action {
      margin-top: -10px;
      padding: 0 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $bg-body;

      .tablet-action-left,
      .tablet-action-right {
        display: flex;
        align-items: center;
      }
    }
  }
}

body.mobile:not(.tablet) {
  .kw-page {
    padding: 0;

    // position: relative;
    // display: flex;
    // flex-flow: column;
    // max-height: 0;

    &__header {
      padding: 0 16px;
      height: 3.5rem;
      flex: none;
      background-color: $bg-white;
    }

    .kw-page-mobile-header {
      &::before {
        display: block;
      }

      &__title {
        @include typo("subtitle");

        margin-bottom: 2px; // shift to top for optical illusion.
      }
    }

    &__content {
      margin-bottom: 0;
      padding: 0;

      // flex: auto;
      // overflow: auto;
      // position: relative;
      border: 0;
      background-color: unset;
    }

    &__content-container {
      // fixme
    }

    &__footer {
      // box-shadow: $shadow-up-1; // for DaeYoung Kim.

      // flex: none;
    }

    &__action {
      // display: flex;
      margin-top: 0;
      padding: 0;
      background-color: unset;
      justify-content: flex-start;

      > .kw-btn.q-btn {
        @include kw-btn-height-modifier-by-font-type (60px, "body");

        font-weight: 400;
        flex: 1;
      }

      .kw-btn--color-primary + .kw-btn--color-primary {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 1px;
          background-color: #2a7bd9;
        }
      }
    }
  }

  .kw-page--sticky-layout { // 당장은 안쓴다.
    position: relative;
    display: block;
    height: unset;

    .kw-page__header {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2001; // q-header z-index + 1
    }

    .kw-page__content {
      overflow: unset;
    }

    .kw-page__footer {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2001; // q-header z-index + 1
    }
  }
}

.notice-popup {
  padding: 15px 20px !important;
  margin-bottom: 15px !important;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
  column-gap: 20px;
  box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%);
  background-color: $secondary;

  &__inner {
    flex-basis: calc(100% - 36px);

    table {
      border-collapse: collapse;

      th,
      td {
        border: 1px solid white;
        padding: 5px;
      }
    }

    & > div:not(.notice-popup__body),
    & > div.notice-popup__body > div {
      margin-bottom: 8px;
    }

    * {
      color: $bg-white !important;
    }

    .kw-notification {
      ul {
        opacity: 0.8;
      }
    }

    ol,
    ul {
      list-style-position: unset;
      display: unset;
      margin-block-start: unset;
      margin-block-end: unset;
      margin-inline-start: unset;
      margin-inline-end: unset;
      padding-inline-start: unset;
    }

    ul {
      list-style-type: none;

      li {
        &::before {
          content: "\b7\a0";
          width: 8px;
          text-align: center;
        }

        a {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
