.kw-page {
  padding: 15px 40px 30px 64px;
  min-width: 1536px;

  &--md {
    width: 1536px;
    margin: 0 auto;
  }

  &--sm {
    min-width: 1212px;
    width: 1212px;
    margin: 0 auto;
  }
}

.kw-page-header {
  display: flex;
  align-items: center;

  &-title_area {
    display: flex;
    align-items: center;
    width: 50%;
    height: 25px;
    margin-bottom: 15px;

    h1 {
      margin-right: 7px;
    }

    .kw-checkbox {
      margin: 3px 0 0;
      display: inline-block;
      align-self: start;
      width: 16px;
      height: 16px;

      .q-checkbox__inner {
        width: inherit;
        min-width: initial;
        height: inherit;
      }
    }

    .q-checkbox__icon {
      font-size: 1em;
    }

    .btn-icon--bell {
      margin: 3px 0 0 7px;
      display: inline-block;
      align-self: start;
    }
  }

  button {
    cursor: pointer;
  }

  &-btn_back {
    color: rgb(255 255 255 / 0%);
    background: url(~@assets/images/ic_arrow_left_breadcrumbs_24.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border: 0;
  }

  .q-breadcrumbs {
    width: 50%;
    height: 25px;
    margin-bottom: 15px;

    & > div {
      margin-top: 0;

      > div {
        margin-left: 4px;
        margin-top: 0;
        line-height: 22px;
      }
    }

    &__el {
      font-size: 14px;
      font-weight: 400;
      color: $black3;
    }

    &--last .q-breadcrumbs__el {
      font-weight: 500;
      color: $black1;
    }

    &__separator {
      color: rgb(255 255 255 / 0%);
      background: url(~@assets/images/ic_step_arrow_16.svg) no-repeat center center;
      width: 16px;
      height: 16px;
    }
  }

  .breadcrumbs-hint {
    width: 16px;
    height: 16px;
    color: rgb(255 255 255 / 0%);
    background: url(~@assets/images/ic_info_default_16.svg) no-repeat center center;
    background-size: 16px;
    margin-left: 4px;
    border: 0;
  }

  .kw-page-header-favorite {
    color: rgb(255 255 255 / 0%);
    background: url(~@assets/images/ic_bookmark_default_16.svg) no-repeat center 1px;
    width: 16px;
    height: 24px;
    margin-right: 6px;
    border: 0;

    &.kw-page-header-favorite {
      background: url(~@assets/images/ic_bookmark_on_16.svg) no-repeat center 1px;
    }
  }
}
