.kw-page {
  padding: 30px 40px 30px 64px;

  // FIXME
  // @at-root .desktop {
  //   & {
  //     min-width: calc(1536px + 104px);
  //   }
  //   &--md {
  //     width: calc(1536px + 104px);
  //     margin: 0 auto;
  //   }
  //   &--sm {
  //     min-width: calc(1212px + 104px);
  //     width: calc(1212px + 104px);
  //     margin: 0 auto;
  //   }
  //   &--auth {
  //     margin: 0 auto;
  //     padding: 40px 0;
  //     min-width: 1000px;
  //     width: 1000px;
  //   }
  // }
}

.kw-page-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__title {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 7px;
  }

  &__tools {
    display: flex;
    align-items: center;
    align-self: start;
    gap: 6px;
    height: 25px;

    .kw-checkbox {
      display: inline-block;
      width: 16px;
      height: 16px;

      .q-checkbox__inner {
        width: inherit;
        min-width: initial;
        height: inherit;
      }
    }

    .q-icon {
      font-size: 16px;
      cursor: pointer;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    align-self: start;
    height: 25px;

    > div {
      gap: 4px;
      margin: 0;

      > div {
        margin: 0;
      }
    }

    .q-breadcrumbs {
      &__el {
        font-size: 14px;
        font-weight: 400;
        color: $black3;
      }

      &--last .q-breadcrumbs__el {
        font-weight: 500;
        color: $black1;

        > .kw-icon {
          width: 16px;
          height: 16px;
          margin-left: 4px;
          color: rgb(255 255 255 / 0%);
          background: url(~@assets/images/ic_info_default_16.svg) no-repeat center center;
          background-size: 16px;
        }
      }

      &__separator {
        width: 16px;
        height: 16px;
        color: rgb(255 255 255 / 0%);
        background: url(~@assets/images/ic_step_arrow_16.svg) no-repeat center center;
      }
    }
  }
}

.kw-page-mobile-header {
  @include typo("title");

  margin-bottom: 15px;
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;

  .kw-btn.q-btn {
    @at-root body.mobile & {
      padding: 0;
      font-size: 24px;
    }
  }

  &__back-btn {
    margin-right: 6px;
    color: $placeholder;
  }

  &__hint {
    margin-left: 8px;
    font-size: 24px;
  }

  &__more {
    margin-left: 8px;
  }

  &__close {
    margin-left: 8px;
    color: $black1;
  }
}

body.mobile:not(.tablet) {
  .kw-page {
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;

    &__header {
      flex: none;
    }

    &__content {
      flex: auto;
      overflow: auto;
      position: relative;
    }

    &__content-container {
      // fixme
    }

    &__footer {
      box-shadow: $shadow-up-1; // for DaeYoung Kim.
      flex: none;
    }

    &__action {
      display: flex;

      > .kw-btn.q-btn {
        @include kw-btn-height-modifier-by-font-type (60px, "body");

        flex-grow: 1;
      }
    }
  }

  .kw-page--sticky-layout { // 당장은 안쓴다.
    position: relative;
    display: block;
    height: unset;

    .kw-page__header {
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      z-index: 2001; // q-header z-index + 1
    }

    .kw-page__content {
      overflow: unset;
    }

    .kw-page__footer {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2001; // q-header z-index + 1
    }
  }

  // 모바일 테블릿 헤더
  .kw-page-mobile-header {
    padding: 0 16px;
    margin-bottom: 0;
    height: 55px;
    background-color: $bg-white;
    border-bottom: 1px solid $line-bg;

    &__back-btn {
      margin-right: 16px;
      color: $black1;
    }
  }
}
