.kw-action {
  @include typo("dense");

  min-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;

  &__left {
    flex: none;
    min-height: 32px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    > span {
      color: $black3;
      font-weight: 400;
    }

    > h3 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  &__contents {
    min-height: 32px;
    margin-left: auto;
    flex: 1 0 1px;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
    align-content: center;

    & .kw-separator {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .accent {
    color: $black1;
    font-weight: 700;
  }

  .description {
    font-size: 11px;
    color: $black3;
  }

  @at-root .kw-select--rows-per-page {
    &.kw-field.q-field {
      .q-field__native {
        color: $black1;
        font-weight: 700;
      }
    }

    &.kw-field.q-field--dense .q-field__append {
      padding-left: 4px;
    }
  }

  &--top {
    margin-bottom: 12px;
    align-items: flex-end;

    .kw-action__contents {
      flex-wrap: wrap-reverse;
    }
  }

  &--bottom {
    margin-top: 12px;
    align-items: flex-start;
  }
}

.kw-popup .kw-search {
  & + .kw-action--top,
  & + .kw-grid {
    margin-top: 30px;
  }

  & + .kw-notification {
    margin: 30px 0 20px;
  }
}

body.mobile {
  // tablet
  .kw-action {
    min-height: 20px;
    line-height: 20px;

    &__left {
      min-height: 20px;
      line-height: 20px;
    }

    &__contents {
      gap: 0;
      min-height: 20px;
      line-height: 20px;
    }

    &--top {
      align-items: center;
    }
  }

  // mobile
  &:not(.tablet) {
    .kw-action {
      font-size: 14px;

      &__left {
        p {
          color: $black2;
        }
      }

      &__contents {
        & > span {
          color: $black3;
          font-weight: 400;
        }

        .accent {
          color: $black1;
          font-weight: 700;
          padding-left: 0 !important;
        }
      }

      &--top {
        margin-bottom: 0;
      }
    }
  }
}
