.kw-chip {
  margin: 0;
  padding: 0 8px;
  height: 20px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;

  .q-chip__icon {
    font-size: 1em;
  }

  &.kw-chip--icon-only {
    padding: 0;
    font-size: 16px;

    .q-chip__icon--left {
      margin: 0;

      & + .q-chip__content {
        display: none;
      }
    }
  }

  & + h2 {
    padding-top: 8px;
  }
}
