.kw-chip {
  &.q-chip {
    margin: 0;
    padding: 0 8px;
    height: 20px;
    font-size: 12px;
    border-radius: 10px;
    line-height: 20px;

    &--square {
      border-radius: 0;

      .q-chip__content {
        font-weight: 500;
      }

      &.bg-primary {
        background: rgba($primary, 10%) !important;
      }

      &.bg-bg-orange {
        background: rgba($bg-orange, 10%) !important;
      }
    }

    .q-chip__icon {
      font-size: 1em;
    }

    // &.kw-chip--icon-only {
    //   padding: 0;
    //   font-size: 16px;

    //   .q-chip__icon--left {
    //     margin: 0;

    //     & + .q-chip__content {
    //       display: none;
    //     }
    //   }
    // }

    & + h2 {
      padding-top: 8px;
    }

    // remove quasar hover effect
    &.q-hoverable {
      &:hover {
        .q-focus-helper {
          display: none;

          &::before,
          &::after {
            display: none;
          }
        }
      }
    }

    // remove quasar focus effect
    &.q-chip--clickable {
      &:focus {
        box-shadow: none;
      }
    }
  }
}

body.mobile:not(.tablet) {
  .kw-chip {
    &.q-chip {
      padding: 0 6px;
    }
  }
}
