.kw-paging-info {
  display: flex;
  align-items: center;

  &__label {
    font-weight: 400;
    color: $black3;
  }

  &__count {
    padding-left: 4px;
    color: $black1;
    font-weight: 700;
  }

  &__rows-per-page.kw-field.q-field {
    .q-field__native {
      color: $black1;
      font-weight: 700;
    }

    &.q-field--dense {
      .q-field__suffix {
        padding: 0 4px 0 2px;
      }
    }
  }
}
