.global-modal {
  .q-dialog__backdrop {
    background: transparent;
  }

  &:has(.dialog-with__backdrop) {
    .q-dialog__backdrop {
      background: rgb(0 0 0 / 70%);
    }
  }
}

body.desktop,
body.tablet {
  .global-modal--window {
    .q-dialog__inner {
      background-color: $line-bg;
    }

    &:has(.kw-popup--window-consult) {
      position: absolute;

      & > .q-dialog__inner {
        position: relative;
        min-width: 1540px !important;
      }
    }

    .kw-popup:not(.kw-popup--window-consult) {
      width: 100% !important;
      max-width: unset !important;
      min-width: unset !important;
      background: transparent !important;
      inset: 0;

      // padding: 0 0 40px;
      padding: 0 40px 40px;
      border: unset;

      > div {
        width: 100%;
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
      }

      &.q-card {
        position: relative;
        overflow: auto;
        box-shadow: unset;
      }

      .kw-popup__header {
        width: 1212px !important;
        margin: 0 auto;
        padding: 40px 0 20px;
        inset: unset;
        position: relative;
        background: $line-bg;

        &-close {
          display: none;
        }

        &-title {
          font-size: 20px;
        }

        &::after {
          display: none;
        }
      }

      .kw-popup__content {
        max-height: unset;
        width: 1212px !important;
        margin: 0 auto;
        padding: 30px 40px;
        background-color: $bg-white;
      }

      .kw-popup__action {
        width: 1212px !important;
        inset: unset;
        position: relative;
      }

      // .kw-separator + .kw-tabs {
      //   padding: 0 0 30px;
      // }
    }
  }
}

body.desktop {
  .kw-popup--window-consult--style {
    .normal-area--two-column {
      display: flex;
      min-width: 1536px;
      width: 100%;
      padding: 20px 0 20px 20px;
      height: 100vh;
      box-sizing: border-box;
      border: none;
    }

    .normal-area--first-column {
      min-width: 1116px;
      width: inherit;
      flex: 10000 1 0%;
    }

    .normal-area--second-column {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
    }

    .kw-form {
      &.kw-form--small {
        .kw-form-row {
          min-height: 32px;
          padding: 6px 0;
          gap: 20px;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
          }

          .kw-form-item {
            min-height: 32px;

            .kw-form-item__label {
              width: 112px !important;
              min-height: 32px !important;
            }

            .kw-form-item__field p {
              font-size: 14px !important;
            }
          }

          &--cols-3 {
            .kw-form-item {
              width: calc((100% - (20px * (3 - 1))) / 3) !important;
            }

            .kw-form-item--colspan-2 {
              width: calc((100% - (20px * (3 - 1))) / 3 * 2 + 20px * 1) !important;
            }
          }

          &--cols-4 {
            .kw-form-item {
              width: calc((100% - (20px * (4 - 1))) / 4) !important;
            }

            .kw-form-item--colspan-2 {
              width: calc((100% - (20px * (4 - 1))) / 4 * 2 + 20px * 1) !important;
            }

            .kw-form-item--colspan-3 {
              width: calc((100% - (20px * (4 - 1))) / 4 * 3 + 20px * 2) !important;
            }
          }
        }

        &.kw-form--dense .kw-form-row {
          align-items: center;
          gap: 20px;
          padding: 1px 0;
          min-height: 24px !important;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
          }

          &--cols-3 {
            .kw-form-item {
              width: calc((100% - (20px * (3 - 1))) / 3) !important;
            }

            .kw-form-item--colspan-2 {
              width: calc((100% - (20px * (3 - 1))) / 3 * 2 + 20px * 1) !important;
            }
          }

          &--cols-4 {
            .kw-form-item {
              width: calc((100% - (20px * (4 - 1))) / 4) !important;
            }

            .kw-form-item--colspan-2 {
              width: calc((100% - (20px * (4 - 1))) / 4 * 2 + 20px * 1) !important;
            }

            .kw-form-item--colspan-3 {
              width: calc((100% - (20px * (4 - 1))) / 4 * 3 + 20px * 2) !important;
            }
          }

          .kw-form-item {
            min-height: 24px !important;

            .kw-form-item__label {
              min-height: 24px !important;
            }
          }
        }

        .kw-btn {
          word-break: keep-all;
          min-height: 32px;
          max-height: 32px;
          font-size: 14px;
          line-height: 1em;
        }

        .kw-field {
          .q-field__control {
            min-height: 32px;
            height: 32px;
            font-size: 14px;
          }

          &.q-field--auto-height {
            .q-field__marginal {
              min-height: 32px;
            }
          }

          &.q-textarea .q-field__control {
            height: auto !important;
          }

          .q-field__marginal {
            height: 32px;
          }

          .q-field__native {
            min-height: 32px;
          }
        }
      }
    }

    .kw-tabs__content {
      min-height: 36px;
      height: 36px;
    }

    .kw-tab__content {
      min-height: 36px;
      height: 36px;
      font-size: 14px !important;
    }

    .kw-tab {
      &.q-tab {
        min-height: 36px;
      }
    }

    & .kw-tab.q-tab {
      width: auto;
      min-width: auto;
      max-width: none;
    }
  }
}

body.desktop .global-modal--window:has(.kw-popup--window-consult).modal-popup {
  .q-dialog__inner {
    min-width: auto !important;
    background: transparent !important;
  }

  .kw-popup__content {
    max-height: 100vh !important;
  }
}
