.global-modal {
  .q-dialog__backdrop {
    background: transparent;
  }

  &--window {
    .kw-popup {
      background-color: $line-bg;
      max-width: unset !important;
      min-width: unset !important;
      inset: 0;
      padding: 0; // fixme
      border: unset;

      > div {
        width: 840px; // fixme
        max-width: 100vw;
        margin-left: auto;
        margin-right: auto;
      }

      &.q-card {
        position: fixed;
        overflow: auto;
        box-shadow: unset;
      }

      &__header {
        inset: unset;
        position: relative;
        background-color: transparent;

        &::after {
          display: none;
        }
      }

      &__content {
        max-height: unset;
        background-color: $bg-white;
      }

      &__action {
        inset: unset;
        position: relative;
      }
    }
  }
}
