.kw-tooltip {
  &.q-tooltip {
    padding: 12px 16px;
    white-space: pre-line;
    background: $black2;
    border-radius: 0;
    box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%);
    color: $bg-white;

    @include typo("dense", 400);
  }
}

.ellipsis_tooltip.kw-tooltip {
  &.q-tooltip {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.43;
  }
}

body.mobile:not(.tablet) {
  .kw-tooltip {
    &.q-tooltip {
      padding: 8px 12px; // 모바일 tooltip 양 측면 padding 20px로 수정
      font-size: 13px;
      left: 20px !important;
      right: 20px !important;

      div {
        word-wrap: break-word; // 툴팁 길면 두줄 이상으로
      }
    }
  }
}

.shrinked_tooltip.kw-tooltip {
  max-width: 600px;
}
