.kw-scroll-area {
  display: grid;
  grid-template-columns: 100%;

  &__wrapper {
    position: relative;
    max-width: 100%;
  }

  .q-scrollarea {
    contain: none;

    &__bar,
    &__thumb {
      cursor: grab; // fixme default
    }

    &__container {
      width: auto !important;
      height: auto !important;
      overflow: scroll;
      max-height: 100% !important;
      max-width: 100% !important;
    }

    &__content {
      position: relative !important;
      width: fit-content;
      height: fit-content;
    }
  }
}
