.gnb_menu_tablet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background: #fff;

  &--header {
    height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid $line-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--body {
    display: flex;
  }

  &--nav {
    width: 262px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 18px 0;
    background: $bg-box;

    li {
      padding: 12px 30px;
      color: $black2;

      a {
        font-size: 14px;
        color: $black2;
        text-decoration: none;
      }

      &.curr {
        background: #fff;
        a { font-weight: 700; }
      }
    }
  }

  &--ul-depth1 {
    flex-grow: 1;
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 30px 40px;

    & > li + li {
      margin-top: 34px;

      &.lastTarget {
        height: calc(100vh - 100px);
      }
    }

    h2 {
      padding: 0 0 8px;
      color: $black3;
      font-size: 14px;
      border-bottom: 1px solid $line-bg;
    }
  }

  &--ul-depth2 {
    padding-top: 4px;

    li {
      line-height: 24px;
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 16px;
        color: $black1;
        text-decoration: none;
      }
    }
  }
}

.alert_on::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 6px;
  height: 6px;
  background: $primary;
  border-radius: 50%;
}

.kw-alarm-list__tablet {
  .alarm-msg {
    white-space: pre-line;
    display: -webkit-box;  /* stylelint-disable-line */
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

body.tablet {
  .web-dashboard-mgt {
    max-height: calc(100vh - 50px) !important;

    &__inner {
      height: 564px; // 홈카드 최대 높이 수정 (한 화면 show)
    }

    &__select {
      width: 272px;
    }

    &__drag {
      .dashboard-drag {
        &__item-container {
          grid-template-rows: 242px; // 홈카드 카드 높이 수정
          grid-template-columns: repeat(3, 276px);
          padding-bottom: 30px;
          min-height: 474px;
        }

        &__item {
          padding: 20px 0;

          > .kw-icon {
            // close icon
            position: absolute;
            top: 6px;
            right: 6px;
          }
        }
      }
    }
  }
}
