.kw-action-bar {
  min-height: 32px;
  width: 100%;
  color: $black3;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: flex-end;

  &__left {
    min-height: 32px;
    display: flex;
    align-items: center;
  }

  &__contents {
    min-height: 32px;
    margin-left: auto;
    flex: 1 0 1px;
    display: flex;
    gap: 8px;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .accent {
    color: $black1;
    font-weight: 700;
    padding-left: 4px;
  }

  .description {
    font-size: 11px;
    color: $black3;
  }

  @at-root .kw-select--rows-per-page {
    &.kw-field.q-field {
      .q-field__native {
        color: $black1;
        font-weight: 700;
      }
    }

    &.kw-field.q-field--dense .q-field__append {
      padding-left: 4px;
    }
  }

  & + .kw-grid,
  & + .kw-form {
    margin-top: 12px;
  }
}
