.global-dialog {
  z-index: 9999;

  .q-dialog__backdrop {
    background: transparent;
  }

  &__inner {
    width: 400px;
    border: 1px solid $black-btn-line;
    box-shadow: 8px 10px 10px 0 rgb(0 0 0 / 12%) !important;
  }

  &__content {
    padding: 40px 30px 0;
    text-align: center;

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      white-space: pre-wrap;

      &.dialog-icon {
        margin-bottom: 4px;
      }

      &.sub-message {
        margin-top: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57;
        color: $black2;
      }
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 28px 0 20px;
    line-height: 1.5;

    .q-btn + .q-btn {
      margin-left: 8px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0;
    cursor: pointer;
  }
}

body.mobile:not(.tablet) {
  .global-dialog {
    .q-dialog__backdrop {
      background: rgb(0 0 0 / 60%);
    }

    &__inner {
      width: 280px;
      border: none;
      box-shadow: none !important;
    }

    &__content {
      &.sub-message {
        margin-top: 12px;
      }
    }

    &__action {
      padding-top: 40px;
      padding-bottom: 0;

      .q-btn {
        flex: 1 0 50%;
      }

      .q-btn + .q-btn {
        margin-left: 0;
      }
    }
  }
}
